{% extends "layout.html" %}
{% block title_name %} - {{ _('profile')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [_('profile')]|crumb }}
{% endblock %}
{% block content %}
    {% if not config['DEMO_MODE'] %}
        <div class="toolbar">
            {{ 'Profile'|manual_link }}
            {{ _('edit')|button(url_for('profile_update')) }}
            {{ _('change password')|button(url_for('profile_password')) }}
        </div>
    {% endif %}
    {% for category in ['general', 'display', 'modules'] %}
        {% if category != 'modules' or 'contributor'|is_authorized %}
            <div style="float:left;margin-right: 2em;">
                <h1>{{ _(category)|uc_first }}</h1>
                {{ data[category]|display_info }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
