{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('profile')|uc_first }}
{% endblock %}
{% block content %}
    {{ 'Profile'|manual_link|safe }}
    {% if not config['DEMO_MODE'] %}
        <div class="button-bar">
            <a href="{{ url_for('profile_update') }}">{{ _('edit')|uc_first }}</a>
            <a href="{{ url_for('profile_password') }}">{{ _('change password')|uc_first }}</a>
        </div>
    {% endif %}
    <div style="float:left;">
        <h1>{{ _('general')|uc_first }}</h1>
        {{ data['info']|display_info|safe }}
    </div>
    <div style="float:left;margin-left:2em;">
        <h1>{{ _('display')|uc_first }}</h1>
        {{ data['display']|display_info|safe }}
    </div>
    {% if 'contributor'|is_authorized %}
        <div style="float:left;margin-left:2em;">
            <h1>{{ _('modules')|uc_first }}</h1>
            {{ data['modules']|display_info|safe }}
        </div>
    {% endif %}
{% endblock %}
