{% extends "layout.html" %}
{% block title_name %} - {{ _('profile')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [_('profile')]|crumb }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" role="tablist">
            {{ 'profile'|tab_header(active=True) }}
            {% if 'contributor'|is_authorized %}
                {{ 'modules'|tab_header }}
            {% endif %}
            {{ 'display'|tab_header }}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" role="tabpanel" id="tab-profile">
                <div class="toolbar">
                    {{ 'tools/profile'|manual }}
                    {% if not config['DEMO_MODE'] %}
                        {{ _('edit')|button(url_for('profile_settings', category='profile')) }}
                        {{ _('change password')|button(url_for('profile_password')) }}
                    {% endif %}
                </div>
                <div>
                    {{ info.profile|display_info }}
                </div>
            </div>
            {% if 'contributor'|is_authorized %}
                <div class="tab-pane fade" role="tabpanel" id="tab-modules">
                    <div class="toolbar">
                        {{ 'tools/profile'|manual }}
                        {% if not config['DEMO_MODE'] %}
                            {{ _('edit')|button(url_for('profile_settings', category='modules')) }}
                        {% endif %}
                    </div>
                    <div>
                        {{ info.modules|display_info }}
                    </div>
                </div>
            {% endif %}
            <div class="tab-pane fade" role="tabpanel" id="tab-display">
                <div class="toolbar">
                    {{ 'tools/profile'|manual }}
                    {% if not config['DEMO_MODE'] %}
                        {{ _('edit')|button(url_for('profile_settings', category='display')) }}
                    {% endif %}
                </div>
                <div>
                    {{ info.display|display_info }}
                </div>
            </div>
        </div>
{% endblock %}
