{% extends "layout.html" %}
{% block title_name %} - {{ _('profile')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('profile'), 'profile_index'], _('change password')]|crumb }}
{% endblock %}
{% block content %}
    {{ form|display_new_form('password-form') }}
    <script>
        $(document).ready(function () {
            $("#show_passwords").after(function() {
                return '<span class="{{ config['CSS']['button']['primary'] }}" id="generate-password">{{ _('generate password')|uc_first }}</span>';
            });
        });
    </script>
{% endblock %}
