{% extends "layout.html" %}
{% block title_name %} - {{ _('profile')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('profile'), 'profile_index'], _('edit')]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Profile'|manual_link }}
    </div>
    <form method="post">
        {{ form.csrf_token }}
        {% for category, fields in form_fields.items() %}
            <div style="float:left;margin-right:2em;">
                <h1>{{ category|uc_first }}</h1>
                <div class="data-table">
                    {% for field in fields %}
                        <div class="table-row">
                            <div>{{ field.label }} {{ field.description|display_tooltip|safe }}</div>
                            <div class="table-cell">{{ field }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div style="clear:both"></div>
        {{ form.save(class=config['CSS']['button']['primary']) }}
    </form>
{% endblock %}
