{% set data = [
    (form.active.label, form.active),
    (form.username.label|string + ' *', form.username(class_="required")),
    (form.group.label, form.group),
    (form.email.label|string + ' *', form.email(class_="required")),
] %}
{% if not user %}
    {% set data = data + [
        (form.password.label|string + ' *', form.password(class_="required")),
        (form.password2.label|string + ' *', form.password2(class_="required"))
    ] %}
{% endif %}
{% set data = data + [
    (form.real_name.label, form.real_name),
] %}
{% for field, errors in form.errors.items() %}
    {{ form[field].label }}: <span class="error">{{ ', '.join(errors) }}</span>
{% endfor %}
<form method="post" id="user-form">
    {{ form.csrf_token }}
    {{ form.continue_ }}
    {{ data|data_table }}
    {{ form.description.label }}<br />{{ form.description }}<br />
    {% if not user %}
        <p>{{ form.send_info.label }} {{ form.send_info }}</p>
    {% endif %}
    {% if not user %}
        <button type="submit">{{ _('insert')|uc_first }}</button>
        <button type="submit" onclick="$('#continue_').val('yes');$('#user-form').submit();return false;">
            {{ _('insert and continue')|uc_first }}
        </button>
    {% else %}
        <button type="submit">{{ _('save')|uc_first }}</button>
    {% endif %}
</form>
