{% extends 'layout.html' %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], [_('user'), 'user_index'], '+ ' + ('user').capitalize()]|crumb }}
{% endblock %}
{% block content %}
    {{ form|display_form('user-form')|safe }}
    <script>
        $(document).ready(function () {
            $("#show_passwords").after(function() {
              return '<span class="btn btn-outline-primary btn-sm" id="generate-password">{{ _('generate password')|uc_first }}</span>';
            });
        });
    </script>
{% endblock %}
