{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('user_index') }}">{{ _('user')|uc_first }}</a> > {{ user.username }}
{% endblock %}
{% block content %}
    <div class="button-bar">
        {% if user.group != 'admin' or current_user.group == 'admin' %}
            <a class="button" href="{{ url_for('user_update', user_id=user.id) }}">{{ _('edit')|uc_first }}</a>
        {% endif %}
        {% if user.id != current_user.id and (user.group != 'admin' or current_user.group == 'admin') %}
            <a class="button"
               onclick="return confirm('{{_('delete')|uc_first }} {{ user.username }}?')"
               href="{{ url_for('user_delete', user_id=user.id) }}">{{ _('delete')|uc_first }}</a>
        {% endif %}
    </div>
    {{ data['info']|data_table2 }}
    {{ user|description }}
{% endblock %}
