{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('source_index') }}">{{ _('source')|uc_first }}</a>
    > {{ source.name|truncate_string|safe }}
{% endblock %}
{% block content %}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-info">{{ _('info')|uc_first }}</a></li>
        <li><a href="#tab-event">{{ _('events')|uc_first }} ({{ tables['event']['data']|length }})</a></li>
        <li><a href="#tab-actor">{{ _('actors')|uc_first }} ({{ tables['actor']['data']|length }})</a></li>
        <li><a href="#tab-place">{{ _('places')|uc_first }} ({{ tables['place']['data']|length }})</a></li>
        <li><a href="#tab-reference">{{ _('references')|uc_first }} ({{ tables['reference']['data']|length }})</a></li>
        <li><a href="#tab-translations">{{ _('translations')|uc_first }} ({{ tables['translation']['data']|length }})</a></li>
    </ul>
    <div id="tab-info">
        <div class="button-bar">
            {{ source|page_buttons|safe }}
            {% if 'editor'|is_authorized: %}
                <a href="{{ url_for('source_update', id_=source.id) }}">{{ _('edit')|uc_first }}</a>
                {{ delete_link|safe }}
            {% endif %}
            {{ source.id|bookmark_toggle|safe }}
        </div>
        <h1>{{ source.name }}</h1>
        {{ data['info']|data_table|safe }}
        {{ source|description|safe }}
    </div>
    {% for name in ['event', 'actor', 'place'] %}
        <div id="tab-{{ name }}">
            {% if 'editor'|is_authorized: %}
                <div class="button-bar">
                    <a href="{{ url_for('source_add', id_=source.id, class_name=name)}}">{{ _('add')|uc_first }}</a>
                </div>
            {% endif %}
            {{ tables[name]|pager|safe }}
        </div>
    {% endfor %}
    <div id="tab-reference">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('reference_add', origin_id=source.id)}}">{{ _('add')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['reference']|pager|safe }}
    </div>
    <div id="tab-translations">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('translation_insert', source_id=source.id) }}">+ {{ _('translation')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['translation']|pager|safe }}
    </div>
</div>
{% endblock %}
