{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('source_index') }}">{{ _('source')|uc_first }}</a>
    > {{ source.name|truncate_string|safe }}
{% endblock %}
{% block content %}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-info">{{ _('info')|uc_first }}</a></li>
        <li><a href="#tab-event">{{ _('event')|uc_first }} ({{ tables['event']['data']|length }})</a></li>
        <li><a href="#tab-actor">{{ _('actor')|uc_first }} ({{ tables['actor']['data']|length }})</a></li>
        <li><a href="#tab-place">{{ _('place')|uc_first }} ({{ tables['place']['data']|length }})</a></li>
        <li><a href="#tab-reference">{{ _('reference')|uc_first }} ({{ tables['reference']['data']|length }})</a></li>
        <li><a href="#tab-text">{{ _('texts')|uc_first }} ({{ tables['text']['data']|length }})</a></li>
        <li><a href="#tab-file">{{ _('files')|uc_first }}  ({{ tables['file']['data']|length }})</a></li>
    </ul>
    <div id="tab-info">
        <div class="button-bar">
            {{ source|page_buttons|safe }}
            {% if 'editor'|is_authorized: %}
                <a href="{{ url_for('source_update', id_=source.id) }}">{{ _('edit')|uc_first }}</a>
                {{ source|display_delete_link|safe }}
            {% endif %}
            {{ source.id|bookmark_toggle|safe }}
        </div>
        <h1>{{ source.name }}</h1>
        {{ tables['info']|data_table|safe }}
        {{ source|description|safe }}
    </div>
    {% for name in ['event', 'actor', 'place'] %}
        <div id="tab-{{ name }}">
            {% if 'editor'|is_authorized: %}
                <div class="button-bar">
                    <a href="{{ url_for('source_add2', id_=source.id, class_name=name)}}">{{ _('add')|uc_first }}</a>
                    {% if name == 'place' %}
                        <a href="{{ url_for('place_insert', origin_id=source.id) }}">+ {{ _('place')|uc_first }}</a>
                    {% else %}
                        {% for code in config['CLASS_CODES'][name]%}
                            <a href="{{ url_for(name + '_insert', code=code, origin_id=source.id) }}">+ {{ code|get_class_name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {{ tables[name]|pager|safe }}
        </div>
    {% endfor %}
    <div id="tab-reference">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('reference_add', origin_id=source.id)}}">{{ _('add')|uc_first }}</a>
                <a href="{{ url_for('reference_insert', code='bibliography', origin_id=source.id) }}">+ {{ _('bibliography')|uc_first }}</a>
                <a href="{{ url_for('reference_insert', code='edition', origin_id=source.id) }}">+ {{ _('edition')|uc_first }}</a>
                <a href="{{ url_for('reference_insert', code='carrier', origin_id=source.id) }}">+ {{ 'E84'|get_class_name }}</a>
            </div>
        {% endif %}
        {{ tables['reference']|pager|safe }}
    </div>
    <div id="tab-text">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('translation_insert', source_id=source.id) }}">+ {{ _('text')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['text']|pager|safe }}
    </div>
    <div id="tab-file">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('file_add', origin_id=source.id)}}">{{ _('add')|uc_first }}</a>
                <a href="{{ url_for('file_insert', origin_id=source.id) }}">+ {{ _('file')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['file']|pager|safe }}
    </div>
</div>
{% endblock %}
