{% extends "tabs.html" %}
{% block title_name %} - {{ source.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('source'), 'source_index'], source.name]|crumb }}
{% endblock %}
{% block tab_info %}
    <div class="toolbar">
        {{ 'menu/source'|manual }}
        {% if 'contributor'|is_authorized %}
            {{ _('edit')|button(url_for('source_update', id_=source.id)) }}
            {{ source|display_delete_link }}
        {% endif %}
        {{ source.id|bookmark_toggle }}
    </div>
    <h1>{{ source.name }}</h1>
    <div>
        {{ profile_image_id|display_profile_image }}
        <div style="float:left;">
            {{ info|display_info }}
            {{ source|note }}
            {{ source|display_external_references }}
            {{ source|description }}
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}
