@charset "UTF-8";

/* font color */

body,
tabs-container .ui-state-active a,
table.tablesorter tbody td,
.ui-widget-content,
.ui-tabs .ui-tabs-panel,
div.tabs-container .ui-state-active a,
li.ui-state-active a,
li.ui-state-active a:link,
li.ui-state-active a:visited,
#breadcrumb a:hover,
div.tabs-container .ui-state-active a {
    color: #000000;
}

.inactive,
.inactive a {
    color: #666666;
}

#menu div a,
#breadcrumb a,
#header-menu span,
#language-menu a,
input[type=submit],
button,
.date-switch,
span.button,
.button-bar a,
.changelog-version,
.inverse-heading,
.ui-widget-header,
.ui-state-default a:link,
.ui-state-default a:visited,
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    color: #ffffff;
}

a,
.info,
span.tooltip,
.jstree-default .jstree-search,
#menu div a:hover,
#menu div.active a,
#menu div.active a:hover,
.ui-widget-content a {
    color: #4088c3;
}

.error {
    color: #e60005;
}

/* background color */

body, .ui-widget-content, .ui-dialog .ui-dialog-content {
    background-color: #efefef;
}

#menu,
#header-menu span,
.inverse-heading,
.ui-widget-header .ui-state-default,
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
    background-color: #000000;
}

#header,
.info,
select,
span.tooltip,
input[type="text"],
.ui-tabs .ui-tabs-panel,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
div.tabsContainer .ui-widget-content,
div.tabsContainer .ui-state-active.ui-state-hover,
div.tabsContainer .ui-state-active,
table.tablesorter tbody td {
    background-color: #ffffff;
}

#language-menu a,
table.tablesorter tbody tr.odd td {
    background-color: #adadad;
}

button,
#breadcrumb,
.date-switch,
input[type=submit],
span.button,
.button-bar a,
.ui-state-default,
.changelog-version {
    background-color: #4088c3;
}

/* border color */

.text-preview {
    border-color: #000000;
}

#menu > div.active {
    border-color: #4088c3;
}

textarea,
input[type=text],
input[type=password],
select
{
    border-color: #adadad;
}

div.pagedisplay {
    border-top-color: #969392;
    border-left-color: #969392;
    border-bottom-color: #ffffff;
    border-right-color: #ffffff;
}
