@charset "UTF-8";

svg {
    background-color: white;
}

svg .nodes circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

svg .nodes > text {
    pointer-events: none;
    font-family: sans-serif;
    text-anchor: middle;
}

svg .links line {
    stroke-width: 2px;
    stroke: #999999;
    stroke-opacity: 0.6;
}
