@charset "UTF-8";

#logo {
    float: left;
    width: 370px;
    height: 120px;
    background-image: url('/static/images/layout/logo.png');
    background-repeat: no-repeat;
}

#logo a {
    display: block;
    height: 100px;
}

div.preview {
    margin-left: 1em;
}

div.preview img {
    max-width: 400px;
}

table.tablesorter thead tr .tablesorter-header {
    background-image: url("/static/images/icons/arrow_updown.png");
    background-position: right 0.4em top 0.4em;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.tablesorter thead tr .tablesorter-header:hover {
    background-image: url("/static/images/icons/arrow_updown_hover.png");
}

table.tablesorter thead tr .tablesorter-headerDesc {
    background-image: url("/static/images/icons/arrow_down.png");
}

table.tablesorter thead tr .tablesorter-headerDesc:hover {
    background-image: url("/static/images/icons/arrow_down_hover.png");
}

table.tablesorter thead tr .tablesorter-headerAsc {
    background-image: url("/static/images/icons/arrow_up.png");
}

table.tablesorter thead tr .tablesorter-headerAsc:hover {
    background-image: url("/static/images/icons/arrow_up_hover.png");
}

table.tablesorter thead tr .sorter-false, table.tablesorter thead tr .sorter-false:hover {
    background-image: none;
}

div.pager div.first {
    background-image: url("/static/images/icons/first.png");
}
div.pager div.first:hover {
    background-image: url("/static/images/icons/first_hover.png");
}
div.pager div.prev {
    background-image: url("/static/images/icons/prev.png");
}
div.pager div.prev:hover {
    background-image: url("/static/images/icons/prev_hover.png");
}
div.pager div.next {
    background-image: url("/static/images/icons/next.png");
}
div.pager div.next:hover {
    background-image: url("/static/images/icons/next_hover.png");
}
div.pager div.last {
    background-image: url("/static/images/icons/last.png");
}
div.pager div.last:hover {
    background-image: url("/static/images/icons/last_hover.png");
}

table.tablesorter thead tr .sorter-false, table.tablesorter thead tr .sorter-false:hover {
    background-image: none;
}
