@charset "UTF-8";

#logo {
    float: left;
    width: 370px;
    height: 120px;
    background-image: url('/images/layout/logo.png');
    background-repeat: no-repeat;
}

#logo a {
    display: block;
    height: 100px;
}

table.tablesorter thead tr .tablesorter-header {
    background-image: url("/images/icons/arrow_updown.png");
    background-position: right 0.4em top 0.4em;
    background-repeat: no-repeat;
    cursor: pointer;
}

div.pager div.first {
    background-image: url("/images/icons/first.png");
}
div.pager div.first:hover {
    background-image: url("/images/icons/first_hover.png");
}
div.pager div.prev {
    background-image: url("/images/icons/prev.png");
}
div.pager div.prev:hover {
    background-image: url("/images/icons/prev_hover.png");
}
div.pager div.next {
    background-image: url("/images/icons/next.png");
}
div.pager div.next:hover {
    background-image: url("/images/icons/next_hover.png");
}
div.pager div.last {
    background-image: url("/images/icons/last.png");
}
div.pager div.last:hover {
    background-image: url("/images/icons/last_hover.png");
}

table.tablesorter thead tr .sorter-false, table.tablesorter thead tr .sorter-false:hover {
    background-image: none;
}
