@charset "UTF-8";

canvas {
    border: 1px solid black;
}

svg#network-svg {
    background-color: white;
    border: 1px solid black;
}

svg .nodes circle {
    cursor: pointer;
    stroke-width: 1.5px;
}

svg .nodes > text {
    pointer-events: none;
    font-family: sans-serif;
    text-anchor: middle;
}

svg .links line {
    stroke-width: 0.5px;
    stroke: #999999;
    stroke-opacity: 0.6;
}
