@charset "UTF-8";
html, body, div, span, iframe, h1, h2, h3, p, blockquote, pre, a, b, u, i, center, dl, dt, dd, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}
