html, body, input, select, textarea {
  font-family: helvetica, arial, sans-serif;
}


a {
  font-weight: bold;
  text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: #0d6efd;
  cursor: pointer;
}

h1, h2, h3 {
  font-size: 100%;
}

h1 {
  font-weight: bold;
  margin: 1em 0;
  font-size: 1.1em;
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}

textarea {
    height: 100%;
}

.chart-wrapper {
  height: 40vh;
  width: 40vw;
}

.toolbar {
  margin-bottom: 1rem;
}

/* Workaround to hide field list labels in forms */
ul#mail_recipients_feedback label,
ul#alias label,
ul#file_upload_allowed_extension label {
  display: none;
}

/* Header */
img#logo {
  height: 40px;
}

/* Form */
#content {
  font-size: 0.9em;
}

/* Table */

table {
  --bs-table-bg: inherit !important;
}

.table tr p {
  margin: 0.2rem 0 0.2rem 0;
}

.dataTables_info{
  white-space: nowrap;
}

.data-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

tbody {
  border-top: 0 solid !important;
}

div.data-table > div {
  display: table-row;
}

div.data-table > div > div {
    display: table-cell;
    padding: 0.2em 0.6em 0.2em 0;
    white-space: nowrap;
}

/* Map */
.map {
  position:sticky !important;
  top:1rem;
}

/* Forms */
form ul, form ol, form li {
  list-style: none;
  padding: 0;
  margin-bottom: 0.2rem ;
}

/* Utilities */
.uc-first::first-letter {
  text-transform: uppercase;
}

@-moz-document url-prefix() {
  .uc-first::first-letter {
    text-transform: none!important;
  }
}

.rotate-180 {
  rotate: 180deg;
}

.bg-gray {
  background-color: #e9ecef !important
}

.input-height-sm {
  min-height: calc(1.5em + .5rem + 2px);
}

.width-full {
  width: 100%;
}

.value-type-switcher[show] {
  rotate: 90deg;
}

.value-type-switcher {
  transition: all ease-in 100ms;
}

td.fit-width{
  width:1px;
  max-width: initial!important;
}

table.table-no-style tr td{
  border-bottom-width: 0!important;;
}

div.progress {
  height: 30px;
}

span.disk-space-legend {
  width:0.75em;
  height:0.75em;
}

.more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.more-link {
  display: block;
}

.error {
  color: #dc3545;
}

div.alert p {
  margin: 0;
}

/* Drop-field */
.drag-n-drop {
  min-height: 120px;
  width: 100%;
  border: grey 2px dashed;
  border-radius: 2px;
  flex-wrap: wrap;
  margin-top: 5px;
  white-space: normal;
  padding: 5px;
  color: rgba(var(--bs-secondary-rgb),1) !important;
}

.drag-n-drop.highlight {
  border: 2px #007bff dashed;
  color:#007bff !important;
}

.drag-n-drop .drag-drop-item {
  width: 150px;
  margin: 5px;
  height: 54px;
  display: inline-block;
}

.drag-n-drop .drag-drop-item .card-body {
  white-space: nowrap;
  overflow: hidden;
  color:black;
  text-overflow: ellipsis;
}

.drag-n-drop .drag-drop-item .card-body .card-icon {
  font-size: 1.4rem;
  color: grey;
  margin-right: 4px;
}

.drag-n-drop .instruction-text {
  min-height: 100px;
  display: grid;
  place-content: center;
}

.drag-n-drop .drag-drop-item .card-body .close-icon {
  position:absolute;
  top:5px;
  right:5px;
  color:grey;
  cursor: pointer;
}
.drag-n-drop .drag-drop-item .card-body .close-icon:hover {
  color:black;
}

/* Model */
img.schema_image {
  width: 500px;
}

/* js tree */
.jstree li > a > .jstree-icon {
  display: none;
}

.jstree li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modals */
.modal-body {
  overflow: auto;
  max-height: calc(100vh - 200px);
  width: 100%;
}

/* Reference Field Autocomplete (Wikidata & Co) */
[data-reference-system] + .bootstrap-autocomplete {
  min-width: 12.25rem;
}

.active > span > .tab-counter.badge {
  color: var(--bs-primary);
  background-color: white;
}

:not(.active) > span > .tab-counter.badge {
  background-color: var(--bs-primary);
  color: white;
}

.tooltip-inner {
    text-align: left;
}

.circle {
  aspect-ratio: 1/1;
  border-radius: 100%;
  line-height: normal;
  align-content: center;
  text-align: center;
}
