html, body, input, select, textarea {
    font-family: helvetica, arial, sans-serif;
}
a{
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    margin: 1em 0;
    font-size: 1.1em;
}

h2 {
    font-weight: bold;
    margin: 1em 0;
}

p {
    margin: 0.5em 0 1em;
}
.toolbar{
    margin-bottom: 1rem;
}
/*header*/
img#logo {
    height: 40px;
}

/* form `*/
#content {
    font-size: 0.9em;
}

/*table*/
.table tr p {
    margin: 0.2rem 0 0.2rem 0;
}
.table tr {
    line-height: 0.9;
    height: 2rem;
}
table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
/* map */
.map{
    position:sticky !important;
    top:1rem;
}

/* Forms */
form ul, form ol, form li {
    list-style: none;
    padding: 0;
    margin-bottom: 0.2rem ;
}
form li svg.svg-inline--fa{
    font-size: 0.9rem!important;
}
/* utilities */
.bg-gray{
   background-color: #e9ecef !important
}

.no-label label{
    display:none
}

.input-height-sm{
    min-height: calc(1.5em + .5rem + 2px);
}

.width-full{
    width:100%;
}

.rotate-90 {

}

.value-type-field[data-show=""]{
    display: none!important;
}
.value-type-switcher[data-show="true"]{
    rotate:90deg;
}
.value-type-switcher{
    transition:all ease-in 100ms;
}