@charset "UTF-8";

html, body, input, select, textarea {
  font-family: helvetica, arial, sans-serif;
}

body {
  color: #000000;
}

span.anthro-result {
  font-weight: bold;
  margin-left: 1em;
}

img.schema_image {
  width: 500px;
}

.ui-progressbar {
  height: 1em;
  border: 1px black solid;
}

.ui-progressbar-value.ui-widget-header {
  height: 0.9em;
  background: green;
  background-color: #007bff;
}

h1, h2, h3 {
  font-size: 100%;
}

.inactive,
.inactive a {
  color: #666666;
}

.note {
  background-color: #dddddd;
  padding: 0.4em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a, a:hover {
  text-decoration: none;
}

a,
.info,
.jstree-default .jstree-search {
  color: #007bff;
}

a.manual {
  font-size: 1.6em;
  vertical-align: top;
  margin-right: 0.2em;
}

.overlay {
  background-color: #000000;
}

#header,
.date-switch label.error,
.info,
select,
input[type="text"] {
  background-color: #ffffff;
}

.text-preview {
  border-color: #000000;
}

textarea,
input[type=text],
input[type=password],
select {
  border-color: #adadad;
}

.navbar .dropdown-toggle::after {
  display: none;
}

.search-button {
  color: gray;
  padding: 0;
  padding-right: 5px;
  padding-top: 3px;
  font-size: 26px;
  display: inline-flex;
}

table.dataTable th {
  white-space:nowrap;
}

textarea {
  resize: vertical;
}

img#logo {
  height: 40px;
}

img#logo-preview {
  max-width: 400px;
  margin-bottom: 1em;
}

#site-name-and-version {
  position: absolute;
  right: 16px
}

div.preview {
  margin-left: 1em;
}

div.preview img {
  max-width: 400px;
}

#profile-image-div {
  float: left;
  margin-right: 1em;
}

textarea#statement {
  width: 80em;
  height: 30em;
  z-index: 0;
  position: relative;
}

span.tab-counter {
  font-style: italic;
}

#select_all, #select_all_links {
  cursor: pointer;
}

#external_reference #name {
  width: 36em;
}

.external-reference input[type="text"] {
  width: 4em;
}

.external-reference select {
  width: auto;
}

.date-switch label.error {
  padding: 0.2em;
}

.select_all {
  text-decoration: underline;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#admin_index a {
  text-decoration: underline;
  margin-right: 0.5em;
}

p.manual {
  margin: 0;
  margin-bottom: 0.5em;
}

#disk-size {
  width: 40em;
  height: 1em;
}

#disk_size {
  margin: 0;
  border-radius: 0;
}

div.pager {
  float: left;
  margin: 0.1em 0.5em 0 0;
}

.complete {
  display:none;
}

.more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.more-link {
  margin-top:1em;
  display: block;
}

.overlay {
  z-index: 1;
}

.jstree li > a > .jstree-icon {
  display: none;
}

.jstree li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  margin: 0.5em 0 1em;
}

.faded {
  opacity: 0.5;
}

#index-search {
  float: right;
  margin: 0;
  padding: 0px 0px 0px 10px;
  display: inline-flex;
  height: 35px;
  position :relative;
  font-size: 15px;
}

#index-search input {
  margin: 2px 5px 2px 5px;
}

.iconbutton {
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  margin: 0px 5px 0px 5px;
  font-size: 29px;
  color: gray;
}

.iconbutton a {
  color: gray;
}

#global-search {
  font-size: 0.8em;
  margin-right: 0;
}

textarea#description {
  height: 8em;
  width: 100%;
}

.description {
  margin-top: 1em;
  max-width: 80em;
}

label[for="description"] {

}

.table-cell textarea {
  vertical-align: top;
}

.table-row {
  width: 100%;
}

.table-cell {
  width: 100%;
}

#map-info-display {
  float: left;
  width: 95%;
}

#map-info-display-ext {
  vertical-align: center;
  width: 5%;
}

.extend-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.overlay {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}

button {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 0.5em;
  text-decoration: none;
  border: none;
}

div.mce-tinymce {
  display: table-cell;
}

input.table-select {
  cursor: pointer;
}

.message {
  font-size: 0.7em;
  font-weight: normal;
}

#header {
  height: 120px;
}

noscript div {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 1em;
}

#content {
  text-align: left;
  font-size: 0.9em;
}

.text-preview {
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  width: 60em;
}

#greeting {
  float: right;
  margin-top: 1em;
}

div.changelog-version {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
}

div.changelog-date {
  margin: 0.5em 0;
}

h1 {
  font-weight: bold;
  margin: 1em 0;
  font-size: 1.1em;
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}

/* Tables */
table {
  border-collapse: inherit;
  border-spacing: 0.2em;
}

div.data-table, textarea {
  margin-bottom: 0.5em;
}

div.data-table > div {
  display: table-row;
}

div.data-table > div > div {
  display: table-cell;
  padding: 0.2em 0.6em 0.2em 0;
  white-space: nowrap;
}

.dt-body-right  {
  text-align: right;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

select[name="table_table_length"] {
  padding-top: initial;
  padding-bottom: initial;
}

/* Forms */

form ul, form ol, form li {
  list-style: none;
  padding: 0;
}

#global-term {
  width: 120px;
}

input[type="text"].value-type, input[type="text"].integer {
  width: 4em;
  text-align: right;
}

input[type="text"].data-huebee {
  width: 6em;
  height: 1.2em;
  font-size: 0.8em;
  margin-top: 0.2em;
}

#network-form input[type="text"] {
  width: 5em;
}

#global-search, #search {
  text-transform: capitalize;
}

#show_passwords, form div.table-row div label[for='show_passwords'] {
  display: none;
}

form input[type="text"].year {
  text-align: right;
  width: 4em;
}

input[type="text"].value_input {
  width: 8em;
  margin-top: 0.5em;
  text-align: right;
}

#newsletter-form textarea {
  font-size: 1em;
  width: 30em;
  height: 10em;
}

#newsletter-form input[type='text'] {
  font-size: 1em;
  width: 30em;
}

form input[type="text"].month, form input[type="text"].day {
  text-align: right;
  width: 2em;
}

form div.table-row > div {
  text-align: right;
}

form div.table-row div.table-cell {
  text-align: left;
}

label.error {
  padding-left: 0.5em;
}

input[type=text], input[type=password], textarea, select  {
  border-width: 1px;
  border-style: solid;
}

input[type=text], input[type=password], select {
  width: 15.6em;
  height: 21px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type=text], input[type=password], textarea {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

input[type=submit] {
  margin-right: 0.5em;
}

::-moz-focus-inner {
  border:0;
}

#content {
  float: none;
  display: block;
}

.overlay-container .pagesize {
  font-size: 0.9em;
}

div.pagedisplay {
  border-style: solid;
  border-width: 1px;
  font-size: 0.9em;
  height: 17px;
  padding-top: 3px;
  text-align: center;
  width: 10em;
}

div.pager div {
  margin: 0 0.2em;
  float: left;
}

div.pager a {
  border: none;
  font-size: 0.9em;
  padding: 0.1em 0 0 0;
  margin-right: 0.5em;
}

select.pagesize, select#gis {
  width: auto;
}

div.data-table div.display-none {
  display: none;
}

/* tabs */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a , .ui-widget-content a{
  cursor: pointer;
}

.ui-tabs-vertical .ui-tabs-nav {
  float: left;
}

.ui-tabs-vertical .ui-tabs-nav li {
  float: none;
  width: 100%;
}

#content .ui-tabs-vertical .ui-tabs-nav li a {
  float: none;
  display: block;
}

.ui-tabs-vertical .ui-tabs-panel {
  float: right;
}

.ui-tabs .ui-tabs-nav li {
  margin: 1px;
}

.ui-widget-header {
  border: none;
  background: none;
  background-color: inherit;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-tabs {
  padding: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 1em;
}

.overlay-container .pagesize {
  font-size: 0.9em;
}

/* Bootstrap mods */
.navbar {
  width: 100%;
}

.table tr {
  line-height: 0.3;
}

.toolbar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-error hr {
  border-top-color: #f1b0b7;
}

.alert-error .alert-link {
  color: #491217;
}

.error {
  color: #721c24;
  font-weight: bold;
}

.tab-content {
  padding: 1em;
  background-color: #f8f9fa!important;
}

.nav-tabs .nav-link.active {
  background: #f8f9fa;
  border-bottom: 2px solid #007bff;
  padding-bottom: 0px;
  color: #007bff;
  outline: none;
  margin-bottom: 0px;
  height: 100%;
}

.nav-tabs .nav-link {
  border: none;
  border-radius: initial;
  line-height: 20px;
  font-weight: 100;
}

.nav-tabs {
  background-color: #e9ecef;
  padding-top: 0.2em;
  padding-left: 1em;
}

.accordionheader {
  padding: initial!important;
}

.tooltipicon {
  color: #007bff;
}

.contentbox {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f8f9fa!important;
}

tr:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.btn-xsm {
  padding-top: 0.3rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  font-size: .875rem;
  line-height: 1.0;
  border-radius: .2rem;
  margin-bottom: 0.15em;
}

.dropdown-menu.show {
  width: auto!important;
}

span[id^="value-type-switcher-"]{
  transition: 100ms all ease-in ;
}

.rotate-90{
  transform: rotate(90deg);
}

.value-type-expander {
  position: absolute;
  top: -0.1em;
  left: -1.7em;
}
