
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #adadad;
}

table.dataTable th,
.tabs-container table.dataTable th,
.overlay-container table.dataTable th {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 5px;
}

table.dataTable {
    margin-bottom: 1em;
}

.dataTables_wrapper .ui-widget-header {
    background-color: inherit;
    color: #000000;
}

.dataTables_wrapper .dataTables_length select {
    width: auto;
}

.dataTables_paginate, .ui-widget-header .ui-state-default {
    background-color: inherit;
}

.dataTables_wrapper .ui-toolbar {
    padding: 0;
}

.DataTables_sort_icon {
    display: none;
}
