# sensitive data
instance/*
openatlas/db.conf

# cache
__pycache__/*

# compiled files
*.pyc

# unit tests
openatlas/tests/.coverage
openatlas/tests/cover

# upload dicrectory
openatlas/uploads/*

# ide
.idea

