# sensitive data (except example files)
instance/*
!instance/example_*

# cache
__pycache__/*
.mypy_cache/*

# compiled files
*.pyc

# unit tests
openatlas/tests/.coverage
openatlas/tests/cover
.coverage
cover

# created files 
openatlas/uploads/*
openatlas/export/csv/*
openatlas/export/sql/*

# ide
.idea
.ftpconfig
