[MASTER]
disable=C0111, broad-except, cyclic-import, duplicate-code
good-names=f,i,j,k,ex,Run,_,e,js,bc,id,rv,ip,to  # default is i,j,k,ex,Run,_
ignore=openatlas.wsgi
min-public-methods=0
--disable=W cidoc_rtfs_parser

[FORMAT]
max-line-length=79

[TYPECHECK]
ignored-classes=Form
