{{- if eq .Values.postgis.deploy true -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    helm.sh/resource-policy: keep
  name: {{ print ( include "fullname" . ) "-postgis"| quote }}
spec:
  accessModes:
    - {{ .Values.storage.accessMode | default "ReadWriteOnce" }}
  resources:
    requests:
      storage: {{ .Values.storage.postgis.size }}
{{- end -}}
