{% extends "layout.html" %}
{% block title_name %} - {{ _('login')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [_('login')]|crumb }}
{% endblock %}
{% block content %}
    {{ form|display_new_form('login-form') }}
    {% if config.DEMO_MODE %}
        <p>User: Demolina, Pass: Demolina</p>
        <script>
            $(document).ready(function () {
                $("#username").val('Demolina');
                $("#password").val('Demolina');
            });
        </script>
    {% elif session.settings.mail %}
        <p>
            <a href="{{ url_for('reset_password') }}">{{ _('Forgot your password?') }}</a>
        </p>
    {% endif %}
    <p>
        <a href="/static/manual/troubleshooting/login.html" target="_blank">{{ _('troubleshooting')|uc_first }}</a>
    </p>
{% endblock %}
