{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('index') }}">{{ _('overview')|uc_first }}</a>
    > {{ _('login')|uc_first }}
{% endblock %}
{% block content %}
    {{ form|display_form('login-form')|safe }}
    {% if config['DEMO_MODE'] %}
        <p>User: Demolina, Pass: Demolina</p>
    {% endif %}
    {% if session['settings']['mail'] %}
        <p>
            <a href="{{ url_for('reset_password') }}">{{ _('Forgot your password?') }}</a>
        </p>
    {% endif %}
    {% if config['DEMO_MODE'] %}
        <script>
            $(document).ready(function () {
                $("#username").val('Demolina');
                $("#password").val('Demolina');
            });
        </script>
    {% endif %}
{% endblock %}
