{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [[_('overview'), 'index'], _('login')]|crumb }}
{% endblock %}
{% block content %}
    {{ form|display_form('login-form')|safe }}
    {% if config['DEMO_MODE'] %}
        <p>User: Demolina, Pass: Demolina</p>
        <script>
            $(document).ready(function () {
                $("#username").val('Demolina');
                $("#password").val('Demolina');
            });
        </script>
    {% elif session['settings']['mail'] %}
        <p>
            <a href="{{ url_for('reset_password') }}">{{ _('Forgot your password?') }}</a>
        </p>
    {% endif %}
{% endblock %}
