{% extends "tabs.html" %}
{% block title_name %} - {{ entity.name }}{% endblock %}
{% block breadcrumb %}
    <a href="{{ url_for('reference_system_index') }}">{{ _('reference system')|uc_first }}</a>&nbsp;
    > {{ entity.name }}
{% endblock %}
{% block tab_info %}
    <div class="toolbar">
        {{ 'menu/reference_system'|manual }}
        {% if 'manager'|is_authorized %}
            {{ _('edit')|button(url_for('reference_system_update', id_=entity.id)) }}
            {% if not entity.forms %}
                {{ entity|display_delete_link }}
            {% endif %}
        {% endif %}
        {{ entity.id|bookmark_toggle }}
    </div>
    <h1>{{ entity.name }}</h1>
    {{ info|display_info }}
    {{ entity|description }}
{% endblock %}
