{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="{{ 'col-lg-6' if gis_data else 'col' }}">
      {{ buttons|button_bar|safe }}
      {% if file_info %}
        <p>{{ file_info }}</p>
      {% endif %}
      {{ table.display()|safe }}
    </div>
    {% if gis_data %}
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
    {% endif %}
  </div>
  {% if class_ == 'place' %}
    <script src="/static/js/map/map.js"></script>
  {% endif %}
{% endblock %}
