{% extends 'layout.html' %}
{% block content %}
  {% if class_.attributes.get('location') %}
    <div class="row">
      <div class="col">
        <div class="row">
          <div id='map-info-display' style="float:left;">
            {{ form|display_form(manual_page='entity/' + class_.group['name'])|safe }}
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-stretch">
        <div onclick="toggleMapWidth(this)" class="d-none btn btn-light d-lg-flex align-items-center"><i class="fas fa-chevron-right"></i></div>
        <div id="map" class="map"></div>
      </div>
    </div>
    <link rel="stylesheet" href="/static/node_modules/leaflet-draw/dist/leaflet.draw.css">
    <script src="/static/node_modules/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="/static/js/map/map.js"></script>
    <script src="/static/js/map/draw.js"></script>
  {% else %}
    <div class="container">
      {% if class_.group['name'] == 'file' %}
        <p>
          {{ _('max size')|uc_first }}:
          <span style="font-weight: bold;">{{ g.settings.file_upload_max_size }} MB</span>.
          {{ _('if exceeded you will receive a connection error')|uc_first }}.
          {{ _('allowed extensions')|uc_first }}:
          <span style="font-weight: bold;">{{ ', '.join(g.settings.file_upload_allowed_extension) }}</span>
        </p>
      {% endif %}
      {% if class_.group['name'] == 'file' and not writable %}
        <span class="error">{{ _('directory not writable')|uc_first }}</span>
      {% else %}
        {{ form|display_form(manual_page='entity/' + class_.group['name'])|safe }}
      {% endif %}
    </div>
  {% endif %}
  <div class="container">{{ class_.group['name']|display_citation_example|safe }}</div>
{% endblock %}
