{% extends 'layout.html' %}
{% block content %}
  {% if modifier %}
    <p class="error">
      {{ _('error modified by %(username)s', username=modifier)|safe }}
    </p>
    <p>
      {{ _('reload')|button(url_for('update', id_=entity.id))|safe }}
    </p>
  {% endif %}
  {% if entity.class_.view not in ['artifact', 'place'] %}
    <div class="container">
    {{ form|display_form(manual_page='entity/' + entity.class_.view)|safe }}
    {{ entity.class_.view|display_citation_example|safe }}
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <div class="row">
          <div id='map-info-display'>
            {{ form|display_form(manual_page='entity/' + entity.class_.view)|safe }}
          </div>
          {{ entity|profile_image|safe }}
        </div>
      </div>
      <div class="col-lg-7 d-flex align-items-stretch">
        <div onclick="toggleMapWidth(this)" class="d-none btn btn-light d-lg-flex align-items-center"><i class="fas fa-chevron-right"></i></div>
        <div id="map" class="map"></div>
      </div>
    </div>
    <link rel="stylesheet" href="/static/node_modules/leaflet-draw/dist/leaflet.draw.css"/>
    <script src="/static/node_modules/leaflet-draw/dist/leaflet.draw.js"></script>
    <script src="/static/js/map/map.js"></script>
    <script src="/static/js/map/draw.js"></script>
  {% endif %}
{% endblock %}
