<div class="row">
  <div class="col-6">
    {% if problematic_type_id %}
      <div class="error">
        {{ _('Editing is disabled because of multiple links to the single type') }}
        {{ g.types[problematic_type_id]|link|safe }}.
        {{ _('Please consult the manual about link duplicates') }}: {{'admin/data_integrity_checks'|manual }}
      </div>
    {% endif %}
    {{ buttons|button_bar|safe }}
    <h1>{{ entity.name }}</h1>
    <div>
      {% if entity.image_id %}
        {{ entity|display_profile_image|safe }}
      {% endif %}
      <div style="float:left;">
        {{ entity.info_data|display_info|safe }}
      </div>
    </div>
    <div style="clear:both;"></div>
    {{ entity|display_external_references|safe }}
    {{ entity|description|safe }}
  </div>
  {% if gis_data %}
    <div class="col-6">
      <div id="map" class="map"></div>
      <script src="/static/js/map/map.js"></script>
    </div>
  {% endif %}
</div>
