<div class="row">
  <div class="{{ 'col-lg-6' if gis_data else 'col' }}">
    {% if problematic_type_id %}
      <div class="error">
        {{ _('Editing is disabled because of multiple links to the single type') }}
        {{ g.types[problematic_type_id]|link|safe }}.
        {{ _('Please consult the manual about link duplicates') }}: {{ 'admin/data_integrity_checks'|manual|safe }}
      </div>
    {% endif %}
    <div class="row g-1">
      <div class="col-12"><h1>{{ entity.name }}</h1></div>
      {% if frontend_link %}
        <span>{{ frontend_link|safe }}</span>
      {% endif %}
      <div class="col-12 col-sm-auto">
        {{ entity|profile_image|safe }}
      </div>
      <div class="col">
        {{ info_data|display_info|safe }}
      </div>
    </div>
    <div style="clear:both;"></div>
    {{ entity.reference_systems|ext_references|safe }}
    {{ description_html|safe }}
  </div>
  {% if gis_data %}
    <div class="col-lg-6">
      <div id="map" class="map"></div>
      <script src="/static/js/map/map.js"></script>
    </div>
  {% endif %}
  {% if chart_data %}
    <div class="col-lg-6">
      <div class="chart-wrapper">
        <canvas id="type-chart"></canvas>
      </div>
    </div>
    <script src="/static/node_modules/chart.js/dist/chart.umd.js"></script>
    <script src="/static/node_modules/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js"></script>
    <script>
      const ctx = document.getElementById('type-chart');
      const autocolors = window['chartjs-plugin-autocolors'];
      Chart.register(autocolors);
      new Chart(ctx, {
        type : 'bar',
        data: {{ chart_data|safe }},
        options: {
          animation: {duration: 0},
          plugins: {
            autocolors: {mode: 'data', offset: 3},
            legend: {display: false}
          }
        },
      });
    </script>
  {% endif %}
</div>
