#selectunit {
    position: absolute;
    display: none;
    right:0;
    margin-top: 20px;
    background: #ffffff;
    padding: 5px;
    margin: 8px;
    border-radius: 6px;
}

#jstree {
    display: block;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#demo_q {
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.shapeinput {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#shapeform {
    width: 300px;
    overflow: hidden;
}

#headingtext, #headingtextadm {
    font-weight: bold;
    font-style: normal;
}

#shapeform input, select {
    width: 200px;
    float: right;
    margin-left: 15px;
    display: none;
}

#namefield input, select {
    width: 96%;
    display: block;
}

#shapeform textarea {
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    float: right;
    width: 96%;
    resize:vertical
}

#shapeform label {
    float: left;
    margin-top: 3px;
    padding-top: 5px
}

#shapeform span {
    display: block;
    overflow: hidden;
    padding-top: 5px;
}

#resetbtn {
    margin-top: 7px;
    margin-right: 7px;
    float: right;
    display: none
}

#editclosebtn {
    color: #ccc;
    cursor: pointer;
    float: right;
    display: none
}

#markerclosebtn {
    color: #ccc;
    cursor: pointer;
    float: right;
    display: none
}

#closebtn {
    color: #ccc;
    cursor: pointer;
    float: right
}

#saveadmbtn {
    margin-top: 7px;
    margin-right: 7px;
    float: right;
    display: block
}

#editresetbtn, #savebtn, #editsavebtn, #markersavebtn {
    margin-top: 7px;
    margin-right: 7px;
    float: right;
    display: none
}

#popup {
    width: 120px
}

#popup input {
    width: 50px;
    margin: 3px
}

.jstree li > a > .jstree-icon {
    display:none !important;
}
