{
  "openapi": "3.0.2",
  "info": {
    "title": "OpenAtlas API",
    "description": "An API that allows user to access data from an OpenAtlas instance.",
    "version": "0.4.11e",
    "contact": {
      "name": "OpenAtlas",
      "url": "https://openatlas.eu",
      "email": "bernhard.koschicek-krombholz@oeaw.ac.at"
    },
    "license": {
      "name": "GPL-2.0",
      "url": "https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html"
    }
  },
  "servers": [
    {
      "url": "https://demo.openatlas.eu/api/{basePath}",
      "description": "Demo Server",
      "variables": {
        "basePath": {
          "default": "0.4",
          "enum": [
            "0.4"
          ]
        }
      }
    },
    {
      "url": "https://demo-dev.openatlas.eu/api/{basePath}",
      "description": "Demo Dev Server",
      "variables": {
        "basePath": {
          "default": "0.4",
          "enum": [
            "0.4"
          ]
        }
      }
    }
  ],
  "externalDocs": {
    "description": "OpenAtlas API Manual",
    "url": "https://manual.openatlas.eu/technical/api.html"
  },
  "tags": [
    {
      "name": "Entity Endpoint",
      "description": "Information about a single entity. The requested information is provided in Linked Places format (LPF). Alternatively, Linked Open Art (LOUD), GeoJSON or RDFs, derived from the LOUD format, can be accessed."
    },
    {
      "name": "Entity Query Endpoint",
      "description": "Combines several endpoints in one query."
    },
    {
      "name": "Entities Endpoint",
      "description": "Information about multiple entities. The requested information is provided in Linked Places format (LPF). Alternatively, Linked Open Art (LOUD), GeoJSON or RDFs, derived from the LOUD format, can be accessed."
    },
    {
      "name": "Type Endpoints",
      "description": "Information about types. The requested information is provided in a custom JSON format."
    },
    {
      "name": "Administrative Endpoints",
      "description": "Additional information for presentation sites."
    },
    {
      "name": "Special Endpoints",
      "description": "Customized endpoints"
    },
    {
      "name": "Image Endpoints",
      "description": "Provides image files"
    },
    {
      "name": "Proposal",
      "description": "Endpoint in development state"
    }
  ],
  "paths": {
    "/entity/{entityId}": {
      "get": {
        "tags": [
          "Entity Endpoint"
        ],
        "description": "Retrieves information about a single entity.",
        "operationId": "GetEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LinkedPlacesModel"
                    },
                    {
                      "$ref": "#/components/schemas/GeoJSONModel"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/entity_presentation_view/{entityId}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves an Entity with its linked data for presentation sites",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/place_hierarchy"
          },
          {
            "$ref": "#/components/parameters/map_overlay"
          },
          {
            "$ref": "#/components/parameters/remove_empty_values"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresentationViewModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/query/": {
      "get": {
        "tags": [
          "Entities Endpoint",
          "Entity Query Endpoint"
        ],
        "description": "Retrieves a list with entity ID, CIDOC CRM code, system class, or view class. You can combine these endpoints in a single query.",
        "operationId": "GetQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/entities"
          },
          {
            "$ref": "#/components/parameters/view_classes"
          },
          {
            "$ref": "#/components/parameters/system_classes"
          },
          {
            "$ref": "#/components/parameters/cidoc_classes"
          },
          {
            "$ref": "#/components/parameters/linked_entities"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/centroid"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/table_rows/": {
      "get": {
        "tags": [
          "Proposal",
          "Entity Query Endpoint"
        ],
        "description": "",
        "operationId": "GetTableRows",
        "parameters": [
          {
            "$ref": "#/components/parameters/entities"
          },
          {
            "$ref": "#/components/parameters/view_classes"
          },
          {
            "$ref": "#/components/parameters/system_classes"
          },
          {
            "$ref": "#/components/parameters/cidoc_classes"
          },
          {
            "$ref": "#/components/parameters/linked_entities"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/centroid"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/TableRowModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/system_class/{system_class}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities based on their OpenAtlas class name.",
        "operationId": "GetBySystemClass",
        "parameters": [
          {
            "$ref": "#/components/parameters/system_class"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/view_class/{view_class}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities based on their OpenAtlas view class.",
        "operationId": "GetByViewClass",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_class"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/cidoc_class/{cidoc_class}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities based on their CIDOC CRM class code.",
        "operationId": "GetByCidocClass",
        "parameters": [
          {
            "$ref": "#/components/parameters/cidoc_class"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/latest/{limit}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves the last entered entities. `{limit}` represents the amount of entities (between 1 and 100). The pagination information is always null.",
        "operationId": "GetLatest",
        "parameters": [
          {
            "in": "path",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/type_entities/{entityId}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities using provided `{entityId}` as their type. To get available types, Types Endpoints can be used.",
        "operationId": "GetTypeEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/type_entities_all/{entityId}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities based on their OpenAtlas type ID including all connected subtypes. To get available types see Types Endpoints.",
        "operationId": "GetTypeEntitiesAll",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/entities_linked_to_entity/{entityId}": {
      "get": {
        "tags": [
          "Entities Endpoint"
        ],
        "description": "Retrieves entities linked to the entity with the provided `{entityId}`.",
        "operationId": "GetEntitiesLinkedToEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/linked_entities_by_properties_recursive/{entityId}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves all entities linked with the provided property to the entity with the provided `{entityId}` in a recursive manner.",
        "operationId": "GetLinkedEntitiesByPropertyRecursive",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/properties"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/show"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/export"
          },
          {
            "$ref": "#/components/parameters/column"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/first"
          },
          {
            "$ref": "#/components/parameters/last"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/type_id"
          },
          {
            "$ref": "#/components/parameters/relation_type"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/centroid"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/type_overview/": {
      "get": {
        "tags": [
          "Type Endpoints"
        ],
        "description": "Retrieves all OpenAtlas types sorted by custom, places, standard, system and value types.",
        "operationId": "GetTypeOverview",
        "parameters": [
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeOverviewModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/type_tree/": {
      "get": {
        "tags": [
          "Type Endpoints"
        ],
        "description": "Retrieves a flat list of all types.",
        "operationId": "GetTypeTree",
        "parameters": [
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypeTreeModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/type_by_view_class/": {
      "get": {
        "tags": [
          "Type Endpoints"
        ],
        "description": "Retrieves standard types in a hierarchical order.",
        "operationId": "GetTypeByViewClass",
        "parameters": [
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TypesByViewClassModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/classes/": {
      "get": {
        "tags": [
          "Administrative Endpoints"
        ],
        "description": "Retrieves all OpenAtlas classes with their English label, CIDOC CRM mapping, view, icon and standard type ID.",
        "operationId": "Classes",
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassesModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/openapi_schema/": {
      "get": {
        "tags": [
          "Administrative Endpoints"
        ],
        "description": "Retrieves OpenApi3 schema for this instance. Formats are `json` or `yaml`.",
        "operationId": "openapi_schema",
        "security": [],
        "parameters": [
          {
            "name": "format",
            "description": "Choose the format for the results.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "yaml"
              ]
            },
            "example": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/class_mapping/": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves all OpenAtlas classes with their label, CIDOC CRM mapping, view, icon and standard type ID. Label language is English by default but can be changed by `locale` parameter",
        "operationId": "ClassMapping",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassMappingModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/properties/": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves all OpenAtlas CIDOC properties with their label, name, name inverse, code and translations.",
        "operationId": "GetProperties",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/network_visualisation/": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves a list of object with id, system_class, label and related ids",
        "operationId": "GetNetworkVisualisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/exclude_system_classes"
          },
          {
            "$ref": "#/components/parameters/linked_to_ids"
          },
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkVisualisationModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/ego_network_visualisation/{entityId}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves a list of object with id, system_class, label and related ids connected to one entity.",
        "operationId": "GetEgoNetworkVisualisation",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/depth"
          },
          {
            "$ref": "#/components/parameters/exclude_system_classes"
          },
          {
            "$ref": "#/components/parameters/linked_to_ids"
          },
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkVisualisationModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/backend_details/": {
      "get": {
        "tags": [
          "Administrative Endpoints"
        ],
        "description": "Retrieves a list of backend configuration settings.",
        "operationId": "GetBackendDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackendDetailsModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/system_class_count/": {
      "get": {
        "tags": [
          "Administrative Endpoints"
        ],
        "description": "Retrieves system classes with a count of their instances.",
        "operationId": "SystemClassCount",
        "parameters": [
          {
            "$ref": "#/components/parameters/type_id"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemClassCountModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/subunits/{entityId}": {
      "get": {
        "tags": [
          "Special Endpoints"
        ],
        "description": "Retrieves all subunits of a place in a special format, used by e.g. ARIADNEplus and THANADOS.",
        "operationId": "GetSubunits",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          },
          {
            "$ref": "#/components/parameters/download"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubunitsModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/chained_events/{entityId}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Get the chain of successive events also with forks but no super or sub events if they are not in the chain.",
        "operationId": "GetChainedEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainEventModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/search/{system_class}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Searches the database for entries matching a provided search term. \n  Results are ordered with exact prefix matches appearing first, followed by entries containing the search term within their name or appellation.",
        "operationId": "GetSearchEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/system_class"
          },
          {
            "name": "term",
            "description": "Search term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitiesOutputModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/geometric_entities/": {
      "get": {
        "tags": [
          "Special Endpoints"
        ],
        "description": "Retrieves a detailed GeoJSON of all chosen geometries, e.g. used for Leaflet maps.",
        "operationId": "GetGeometricEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/geometry"
          },
          {
            "$ref": "#/components/parameters/download"
          },
          {
            "$ref": "#/components/parameters/count"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeometricEntitiesModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/export_database/{format}": {
      "get": {
        "tags": [
          "Special Endpoints"
        ],
        "description": "Downloads all information as CSV, XML, or JSON.",
        "operationId": "ExportDatabase",
        "parameters": [
          {
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "xml"
              ]
            },
            "example": "json"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/display/{fileId}": {
      "get": {
        "tags": [
          "Image Endpoints"
        ],
        "description": "Retrieves the image connected to the requested ID or entityID, if it has a licence.",
        "operationId": "DisplayImage",
        "parameters": [
          {
            "$ref": "#/components/parameters/fileId"
          },
          {
            "in": "query",
            "name": "image_size",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "thumbnail",
                "table"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/files_of_entities/": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "description": "Retrieves a json with the entity IDs as keys and a list of file information for all images.",
        "operationId": "FilesOfEntities",
        "parameters": [
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "license": {
                          "nullable": true,
                          "type": "string"
                        },
                        "creator": {
                          "type": "string",
                          "nullable": true
                        },
                        "licenseHolder": {
                          "type": "string",
                          "nullable": true
                        },
                        "publicShareable": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "mimetype": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "IIIFManifest": {
                          "type": "string"
                        },
                        "IIIFBasePath": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "license",
                        "mimetype",
                        "publicShareable",
                        "title",
                        "url"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/iiif_manifest/{version}/{fileId}": {
      "get": {
        "tags": [
          "Image Endpoints"
        ],
        "description": "Retrieves the manifest of the IIIF image.",
        "operationId": "IIIFManifest",
        "parameters": [
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "enum": [
                2
              ]
            }
          },
          {
            "$ref": "#/components/parameters/fileId"
          },
          {
            "$ref": "#/components/parameters/url"
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    },
    "/licensed_file_overview/": {
      "get": {
        "tags": [
          "Administrative Endpoints"
        ],
        "description": "Retrieves all existing files with a licence and their display URL, thumbnail URL, extension and license. With the parameter `{file_id}` specific files can be retrieved.",
        "operationId": "LicensedFileOverview",
        "parameters": [
          {
            "in": "query",
            "name": "file_id",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "bearerHttpAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LicensedFileOverviewModel"
                }
              }
            }
          },
          "404": {
            "description": "Something went wrong. Please consult the error message."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerHttpAuthentication": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "entityId": {
        "name": "entityId",
        "in": "path",
        "description": "Specific entity ID",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 40
      },
      "fileId": {
        "name": "fileId",
        "in": "path",
        "description": "Specific ID of a file entity.",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 40
      },
      "cidoc_class": {
        "name": "cidoc_class",
        "description": "CIDOC class to be requested",
        "required": true,
        "in": "path",
        "schema": {
          "enum": [
            "all",
            "E5",
            "E7",
            "E8",
            "E9",
            "E12",
            "E18",
            "E20",
            "E21",
            "E22",
            "E31",
            "E32",
            "E33",
            "E41",
            "E53",
            "E54",
            "E55",
            "E65",
            "E74"
          ]
        },
        "example": "E18"
      },
      "view_class": {
        "name": "view_class",
        "description": "View class to be requested",
        "required": true,
        "in": "path",
        "schema": {
          "enum": [
            "all",
            "actor",
            "artifact",
            "event",
            "file",
            "place",
            "reference",
            "reference_system",
            "source",
            "source_translation",
            "type"
          ]
        },
        "example": "actor"
      },
      "system_class": {
        "name": "system_class",
        "description": "System class to be requested",
        "required": true,
        "in": "path",
        "schema": {
          "enum": [
            "all",
            "acquisition",
            "activity",
            "administrative_unit",
            "appellation",
            "artifact",
            "bibliography",
            "creation",
            "edition",
            "event",
            "external_reference",
            "feature",
            "file",
            "group",
            "human_remains",
            "modification",
            "move",
            "person",
            "place",
            "production",
            "reference_system",
            "source",
            "source_translation",
            "stratigraphic_unit",
            "type",
            "type_tools"
          ]
        },
        "example": "acquisition"
      },
      "download": {
        "name": "download",
        "description": "Download results",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "place_hierarchy": {
        "name": "place_hierarchy",
        "description": "Will include the whole place hierarchy. This means that instead of only getting entities linked to the requested entity, all entities, which are connected with the property *P46* are included in the result set. This can significantly increase the load time.",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "map_overlay": {
        "name": "map_overlay",
        "description": "Will add the map overlay information for images if available.",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "remove_empty_values": {
        "name": "remove_empty_values",
        "description": "This will remove any keys which are empty or have no values assigned, e.g. []. This can reduce the load time.",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "count": {
        "name": "count",
        "description": "Show integer count of how many entities would the result give back",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "centroid": {
        "name": "centroid",
        "description": "Will calculate the centerpoint for all polygons and linestrings and *add* them to geometries",
        "in": "query",
        "schema": {
          "type": "boolean"
        }
      },
      "locale": {
        "name": "locale",
        "description": "Choose language for system inherent labels",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "ca",
            "de",
            "en",
            "es",
            "fr"
          ],
          "default": "en",
          "example": "de"
        }
      },
      "show": {
        "name": "show",
        "description": "Select which keys should not be displayed. This can improve performance",
        "in": "query",
        "explode": true,
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "when",
              "types",
              "relations",
              "names",
              "links",
              "geometry",
              "depictions",
              "geonames",
              "description",
              "none"
            ]
          }
        }
      },
      "sort": {
        "name": "sort",
        "description": "Sorting result ascending or descending of the given column. Default value is asc.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ]
        },
        "example": "asc"
      },
      "column": {
        "name": "column",
        "description": "Choose one column to sort the results by. Default value is name.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "name",
            "cidoc_class",
            "system_class",
            "type",
            "class",
            "created",
            "creator",
            "content",
            "count",
            "description",
            "extension",
            "icon",
            "group",
            "license_holder",
            "license",
            "public",
            "size",
            "begin_from",
            "begin_to",
            "end_from",
            "end_to"
          ]
        },
        "example": "name"
      },
      "search": {
        "name": "search",
        "description": "Search query for specific results.\n\n **Filterable categories**\n\n entityName, entityDescription, entityAliases, entityCidocClass, entitySystemClass, entityID, typeID, valueTypeID, typeIDWithSubs, typeName, beginFrom, beginTo, endFrom, endTo, relationToID\n\n **Values** \n\n Values has to be a list of items. The items can be either a string, an integer or a tuple (see Notes). Strings need to be marked with \u201c\u201d or \u2018\u2019, while integers does not allow this. \n \n *Notes*: \n The category valueTypeID can search for values of a type ID. But it takes one or more two valued Tuple as list entry: (x,y). x is the type id and y is the searched value. This can be an int or a float, e.g: `{\"operator\":\"lesserThan\",\"values\":[(3142,543.3)],\"logicalOperator\":\"and\"}`\n The date categories (beginFrom, beginTo, endFrom, endTo) only allow *one* value in the **values** field and it has to be formated the following way: YYYY-MM-DD. Month and day values need to filled up with 0, e.g. 800-01-01 \n\n **Compare operators** \n\n equal, notEqual, like (1), greaterThan (2), greaterThanEqual (2), lesserThan (2)\n\nThe compare operators work like the mathematical operators. equal x=y, notEqual x!=y, greaterThan x>y , greaterThanEqual x>=y, lesserThan x<y, lesserThanEqual x<=y. The like operator searches for occurrence of the string, so a match can also occur in the middle of a word.\n\n(1)Only for string based categories\n\n(2)Only for beginFrom, beginTo, endFrom, endTo, valueTypeID\n\n**Logical operators**\n\nNot mandatory, OR is the default value. Logical operators handles, if the values are treated as OR or AND. \n \n The following table outlines the supported operations for each field:\n\n|                  | equal     | notEqual  | like      | greaterThan | greaterThanEqual | lesserThan | lesserThanEqual |\n|------------------|-----------|-----------|-----------|-------------|------------------|------------|-----------------|\n| entityName       |     x      |     x      |    x       |             |                  |            |                 |\n| entityDescription|      x     |      x     |      x     |             |                  |            |                 |\n| entityAliases    |      x     |      x     |     x      |             |                  |            |                 |\n| entityCidocClass |      x     |      x     |      x     |             |                  |            |                 |\n| entitySystemClass|      x     |      x     |     x      |             |                  |            |                 |\n| typeName         |       x    |      x     |     x      |             |                  |            |                 |\n| entityID         |       x    |      x     |           |             |                  |            |                 |\n| typeID           |      x     |       x    |           |             |                  |            |                 |\n| valueTypeID      |      x     |      x     |           |      x       |    x              |    x        |      x           |\n| typeIDWithSubs   |      x     |       x    |           |             |                  |            |                 |\n| relationToID     |      x     |      x     |           |             |                  |            |                 |\n| beginFrom        |      x     |      x     |           |      x       |        x          |     x       |      x           |\n| beginTo          |      x     |      x     |           |      x       |          x        |      x      |       x          |\n| endFrom          |      x     |      x     |           |       x      |         x         |       x     |       x          |\n| endTo            |      x     |      x     |           |       x      |       x           |       x     |      x           |\n\n",
        "in": "query",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "entityName": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "entityDescription": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "entityAliases": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "entityCidocClass": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "entitySystemClass": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "entityID": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "typeID": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "valueTypeID": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "typeIDWithSubs": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "typeName": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "beginFrom": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "beginTo": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "endFrom": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "endTo": {
                  "$ref": "#/components/schemas/searchCriteria"
                },
                "relationToID": {
                  "$ref": "#/components/schemas/searchCriteria"
                }
              }
            },
            "example": {
              "entityName": [
                {
                  "operator": "like",
                  "values": "A",
                  "logicalOperator": "and"
                }
              ]
            }
          }
        }
      },
      "url": {
        "name": "url",
        "description": "A valid URL to use as input (e.g., https://openatlas.eu/). When used with an IIIF endpoint, this value replaces the base URL in all annotations.",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "description": "Limits the number of entities returned in the response. A lower value may improve performance. The default is 20. Set to 0 to return all available entities.",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "depth": {
        "name": "depth",
        "description": "Specifies the number of connection hops to include in the query. Higher values may significantly increase processing time. Default is 1.",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "first": {
        "name": "first",
        "description": "Starts the result set at the specified entity ID.",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "last": {
        "name": "last",
        "description": "Starts the result set after the specified entity ID.",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "page": {
        "name": "page",
        "description": "Specifies the page number to retrieve in a paginated result set.",
        "in": "query",
        "schema": {
          "type": "integer"
        }
      },
      "export": {
        "name": "export",
        "description": "Export the entities in either a simple CSV format or a ZIP file containing CSV files optimized for network analysis.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "csv",
            "csvNetwork"
          ]
        }
      },
      "format": {
        "name": "format",
        "description": "Specify the format for the returned results.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "lp",
            "lpx",
            "geojson",
            "geojson-v2",
            "table_row",
            "pretty-xml",
            "n3",
            "turtle",
            "nt",
            "xml"
          ]
        },
        "example": "lp"
      },
      "type_id": {
        "name": "type_id",
        "description": "Filter results to include only entities with the specified type ID or those linked to it.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "explode": true
      },
      "relation_type": {
        "name": "relation_type",
        "description": "Filters results to show only connections linked by the selected CIDOC CRM property code. If 'geometry', 'types', 'depictions', or 'links' are specified in the 'show' parameter, these properties will also be displayed.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "all",
              "OA7",
              "OA8",
              "OA9",
              "P1",
              "P2",
              "P4",
              "P5",
              "P7",
              "P8",
              "P9",
              "P10",
              "P11",
              "P12",
              "P13",
              "P14",
              "P15",
              "P16",
              "P17",
              "P19",
              "P20",
              "P21",
              "P22",
              "P23",
              "P24",
              "P25",
              "P26",
              "P27",
              "P28",
              "P29",
              "P30",
              "P31",
              "P32",
              "P33",
              "P34",
              "P35",
              "P37",
              "P38",
              "P39",
              "P40",
              "P41",
              "P42",
              "P43",
              "P44",
              "P45",
              "P46",
              "P48",
              "P49",
              "P50",
              "P51",
              "P52",
              "P53",
              "P54",
              "P55",
              "P56",
              "P59",
              "P62",
              "P65",
              "P67",
              "P68",
              "P69",
              "P70",
              "P71",
              "P72",
              "P73",
              "P74",
              "P75",
              "P76",
              "P86",
              "P89",
              "P91",
              "P92",
              "P93",
              "P94",
              "P95",
              "P96",
              "P97",
              "P98",
              "P99",
              "P100",
              "P101",
              "P102",
              "P103",
              "P104",
              "P105",
              "P106",
              "P107",
              "P108",
              "P109",
              "P110",
              "P111",
              "P112",
              "P113",
              "P121",
              "P122",
              "P123",
              "P124",
              "P125",
              "P126",
              "P127",
              "P128",
              "P129",
              "P130",
              "P132",
              "P133",
              "P134",
              "P135",
              "P136",
              "P137",
              "P138",
              "P139",
              "P140",
              "P141",
              "P142",
              "P143",
              "P144",
              "P145",
              "P146",
              "P147",
              "P148",
              "P150",
              "P151",
              "P152",
              "P156",
              "P157",
              "P160",
              "P161",
              "P164",
              "P165",
              "P166",
              "P167",
              "P173",
              "P174",
              "P175",
              "P176",
              "P177",
              "P179",
              "P180",
              "P182",
              "P183",
              "P184",
              "P185",
              "P186",
              "P187",
              "P188",
              "P189",
              "P191",
              "P195",
              "P196",
              "P197",
              "P198"
            ]
          }
        },
        "explode": true
      },
      "properties": {
        "name": "properties",
        "description": "Retrieves entities that are connected to the specified entity through the given `property`.",
        "in": "query",
        "required": true,
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "all",
              "OA7",
              "OA8",
              "OA9",
              "P1",
              "P2",
              "P4",
              "P5",
              "P7",
              "P8",
              "P9",
              "P10",
              "P11",
              "P12",
              "P13",
              "P14",
              "P15",
              "P16",
              "P17",
              "P19",
              "P20",
              "P21",
              "P22",
              "P23",
              "P24",
              "P25",
              "P26",
              "P27",
              "P28",
              "P29",
              "P30",
              "P31",
              "P32",
              "P33",
              "P34",
              "P35",
              "P37",
              "P38",
              "P39",
              "P40",
              "P41",
              "P42",
              "P43",
              "P44",
              "P45",
              "P46",
              "P48",
              "P49",
              "P50",
              "P51",
              "P52",
              "P53",
              "P54",
              "P55",
              "P56",
              "P59",
              "P62",
              "P65",
              "P67",
              "P68",
              "P69",
              "P70",
              "P71",
              "P72",
              "P73",
              "P74",
              "P75",
              "P76",
              "P86",
              "P89",
              "P91",
              "P92",
              "P93",
              "P94",
              "P95",
              "P96",
              "P97",
              "P98",
              "P99",
              "P100",
              "P101",
              "P102",
              "P103",
              "P104",
              "P105",
              "P106",
              "P107",
              "P108",
              "P109",
              "P110",
              "P111",
              "P112",
              "P113",
              "P121",
              "P122",
              "P123",
              "P124",
              "P125",
              "P126",
              "P127",
              "P128",
              "P129",
              "P130",
              "P132",
              "P133",
              "P134",
              "P135",
              "P136",
              "P137",
              "P138",
              "P139",
              "P140",
              "P141",
              "P142",
              "P143",
              "P144",
              "P145",
              "P146",
              "P147",
              "P148",
              "P150",
              "P151",
              "P152",
              "P156",
              "P157",
              "P160",
              "P161",
              "P164",
              "P165",
              "P166",
              "P167",
              "P173",
              "P174",
              "P175",
              "P176",
              "P177",
              "P179",
              "P180",
              "P182",
              "P183",
              "P184",
              "P185",
              "P186",
              "P187",
              "P188",
              "P189",
              "P191",
              "P195",
              "P196",
              "P197",
              "P198"
            ]
          }
        },
        "explode": true
      },
      "geometry": {
        "name": "geometry",
        "description": "Filters the geometries to be included in the response. The default is 'gisAll'.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "gisAll",
              "gisPointAll",
              "gisPointSupers",
              "gisPointSubs",
              "gisPointSibling",
              "gisLineAll",
              "gisPolygonAll"
            ]
          }
        },
        "explode": true
      },
      "entities": {
        "name": "entities",
        "description": "The entity IDs to be requested.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "explode": true
      },
      "linked_entities": {
        "name": "linked_entities",
        "description": "The entity IDs for which all linked entities will be retrieved.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "explode": true
      },
      "cidoc_classes": {
        "name": "cidoc_classes",
        "description": "Retrieve entities based on the specified CIDOC classes.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "all",
              "E6",
              "E7",
              "E8",
              "E9",
              "E12",
              "E18",
              "E20",
              "E21",
              "E22",
              "E31",
              "E32",
              "E33",
              "E41",
              "E53",
              "E54",
              "E55",
              "E74"
            ]
          }
        },
        "explode": true,
        "example": "E18"
      },
      "view_classes": {
        "name": "view_classes",
        "description": "Retrieve entities based on the specified view classes.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "all",
              "actor",
              "artifact",
              "event",
              "file",
              "place",
              "reference",
              "reference_system",
              "source",
              "source_translation",
              "type"
            ]
          }
        },
        "explode": true,
        "example": "actor"
      },
      "system_classes": {
        "name": "system_classes",
        "description": "Retrieve entities based on the specified system classes",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "all",
              "acquisition",
              "activity",
              "administrative_unit",
              "appellation",
              "artifact",
              "bibliography",
              "creation",
              "edition",
              "event",
              "external_reference",
              "feature",
              "file",
              "group",
              "human_remains",
              "move",
              "person",
              "place",
              "production",
              "reference_system",
              "source",
              "source_translation",
              "stratigraphic_unit",
              "type",
              "tools"
            ]
          }
        }
      },
      "exclude_system_classes": {
        "name": "exclude_system_classes",
        "description": "Excludes entities with the selected system classes from the network.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "enum": [
              "acquisition",
              "activity",
              "administrative_unit",
              "appellation",
              "artifact",
              "bibliography",
              "creation",
              "edition",
              "event",
              "external_reference",
              "feature",
              "file",
              "group",
              "human_remains",
              "modification",
              "move",
              "person",
              "place",
              "production",
              "reference_system",
              "source",
              "source_translation",
              "stratigraphic_unit",
              "type",
              "type_tools"
            ]
          }
        }
      },
      "linked_to_ids": {
        "name": "linked_to_ids",
        "description": "Displays only entities that are linked to the specified IDs.",
        "in": "query",
        "schema": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "explode": true
      },
      "image_size": {
        "name": "image_size",
        "description": "Select the desired image size to display. The available values are fixed but can be customized for each OpenAtlas instance. The 'thumbnail' size is 200px, and the 'table' size is 100px.",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "thumbnail",
            "table"
          ]
        },
        "example": "table"
      }
    },
    "schemas": {
      "EntitiesOutputModel": {
        "type": "object",
        "required": [
          "pagination",
          "results"
        ],
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/PaginationModel"
          },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/LinkedPlacesModel"
                },
                {
                  "$ref": "#/components/schemas/GeoJSONModel"
                },
                {
                  "$ref": "#/components/schemas/SearchModel"
                }
              ]
            }
          }
        }
      },
      "PaginationModel": {
        "type": "object",
        "required": [
          "entities",
          "entitiesPerPage",
          "index",
          "totalPages"
        ],
        "properties": {
          "entities": {
            "type": "integer"
          },
          "entitiesPerPage": {
            "type": "integer"
          },
          "index": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaginationIndexModel"
            }
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "PaginationIndexModel": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "startId": {
            "type": "integer"
          }
        }
      },
      "LinkedPlacesModel": {
        "required": [
          "@context",
          "type",
          "features"
        ],
        "properties": {
          "@context": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "@id",
                "type",
                "crmClass",
                "systemClass",
                "viewClass"
              ],
              "properties": {
                "@id": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "crmClass": {
                  "type": "string"
                },
                "systemClass": {
                  "type": "string"
                },
                "viewClass": {
                  "type": "string"
                },
                "properties": {
                  "type": "object",
                  "required": [
                    "title"
                  ],
                  "properties": {
                    "title": {
                      "type": "string"
                    }
                  }
                },
                "descriptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "when": {
                  "nullable": true,
                  "type": "object",
                  "properties": {
                    "timespans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "object",
                            "properties": {
                              "earliest": {
                                "type": "string",
                                "nullable": true
                              },
                              "latest": {
                                "type": "string",
                                "nullable": true
                              },
                              "comment": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          },
                          "end": {
                            "type": "object",
                            "properties": {
                              "earliest": {
                                "type": "string",
                                "nullable": true
                              },
                              "latest": {
                                "type": "string",
                                "nullable": true
                              },
                              "comment": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "types": {
                  "nullable": true,
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "label": {
                        "type": "string"
                      },
                      "descriptions": {
                        "type": "string",
                        "nullable": true
                      },
                      "hierarchy": {
                        "type": "string"
                      },
                      "typeHierarchy": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "identifier": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "value": {
                        "type": "number",
                        "format": "string"
                      },
                      "unit": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "relations": {
                  "nullable": true,
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "relationTo": {
                        "type": "string"
                      },
                      "relationType": {
                        "type": "string"
                      },
                      "relationSystemClass": {
                        "type": "string"
                      },
                      "relationDescription": {
                        "type": "string",
                        "nullable": true
                      },
                      "type": {
                        "type": "string",
                        "nullable": true
                      },
                      "when": {
                        "nullable": true,
                        "type": "object",
                        "properties": {
                          "timespans": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "start": {
                                  "type": "object",
                                  "properties": {
                                    "earliest": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "latest": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                },
                                "end": {
                                  "type": "object",
                                  "properties": {
                                    "earliest": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "latest": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "names": {
                  "type": "string",
                  "nullable": true
                },
                "links": {
                  "type": "string",
                  "nullable": true
                },
                "depictions": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "@id": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "license": {
                        "type": "string"
                      },
                      "licenseHolder": {
                        "type": "string"
                      },
                      "creator": {
                        "type": "string"
                      },
                      "publicShareable": {
                        "type": "boolean"
                      },
                      "url": {
                        "type": "string"
                      },
                      "mimetype": {
                        "type": "string"
                      },
                      "IIIFBasePath": {
                        "type": "string"
                      },
                      "IIIFManifest": {
                        "type": "string"
                      }
                    }
                  }
                },
                "geometry": {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Polygon"
                    },
                    {
                      "$ref": "#/components/schemas/Point"
                    },
                    {
                      "$ref": "#/components/schemas/LineString"
                    },
                    {
                      "$ref": "#/components/schemas/GeometryCollection"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "GeoJSONModel": {
        "type": "object",
        "required": [
          "features",
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ]
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "features",
                "geometry",
                "properties"
              ],
              "properties": {
                "type": {
                  "type": "string"
                },
                "geometry": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Polygon"
                    },
                    {
                      "$ref": "#/components/schemas/Point"
                    },
                    {
                      "$ref": "#/components/schemas/LineString"
                    },
                    {
                      "$ref": "#/components/schemas/GeometryCollection"
                    }
                  ]
                },
                "properties": {
                  "type": "object",
                  "required": [
                    "@id",
                    "systemClass",
                    "viewClass",
                    "name",
                    "description",
                    "begin_earliest",
                    "begin_latest",
                    "begin_comment",
                    "end_earliest",
                    "end_latest",
                    "end_comment",
                    "types"
                  ],
                  "properties": {
                    "@id": {
                      "type": "integer"
                    },
                    "systemClass": {
                      "type": "string"
                    },
                    "viewClass": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "begin_earliest": {
                      "type": "string"
                    },
                    "begin_latest": {
                      "type": "string",
                      "nullable": true
                    },
                    "begin_comment": {
                      "type": "string",
                      "nullable": true
                    },
                    "end_earliest": {
                      "type": "string"
                    },
                    "end_latest": {
                      "type": "string",
                      "nullable": true
                    },
                    "end_comment": {
                      "type": "string",
                      "nullable": true
                    },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "typeName": {
                            "type": "string"
                          },
                          "typeId": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Point": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ]
          },
          "coordinates": {
            "$ref": "#/components/schemas/Position"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "shapeType": {
            "type": "string",
            "enum": [
              "centerpoint"
            ]
          }
        }
      },
      "LineString": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LineString"
            ]
          },
          "coordinates": {
            "$ref": "#/components/schemas/LineStringCoordinates"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "shapeType": {
            "type": "string",
            "enum": [
              "polyline"
            ]
          }
        }
      },
      "LineStringCoordinates": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Position"
        },
        "minItems": 2
      },
      "Polygon": {
        "type": "object",
        "required": [
          "type",
          "coordinates"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Polygon"
            ]
          },
          "coordinates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LinearRing"
            }
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "shapeType": {
            "type": "string",
            "enum": [
              "area",
              "shape"
            ]
          }
        }
      },
      "GeometryCollection": {
        "type": "object",
        "required": [
          "type",
          "geometries"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "GeometryCollection"
            ]
          },
          "geometries": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Polygon"
                },
                {
                  "$ref": "#/components/schemas/Point"
                },
                {
                  "$ref": "#/components/schemas/LineString"
                }
              ]
            }
          }
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "TypeOverviewEntryModel": {
        "type": "object",
        "required": [
          "id",
          "name",
          "viewClass",
          "children"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "viewClass": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          }
        }
      },
      "TypeOverviewModel": {
        "type": "object",
        "required": [
          "standard",
          "place",
          "custom",
          "value",
          "system"
        ],
        "properties": {
          "standard": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          },
          "place": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          },
          "custom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          },
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          },
          "system": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeOverviewEntryModel"
            }
          }
        }
      },
      "TypeTreeModel": {
        "type": "object",
        "required": [
          "typeTree"
        ],
        "properties": {
          "typeTree": {
            "type": "object",
            "required": [
              "type_ids"
            ],
            "properties": {
              "type_ids": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "description",
                  "origin_id",
                  "first",
                  "last",
                  "root",
                  "subs",
                  "count",
                  "count_subs",
                  "category"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "origin_id": {
                    "type": "integer"
                  },
                  "first": {
                    "type": "integer"
                  },
                  "last": {
                    "type": "integer"
                  },
                  "root": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "subs": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "count": {
                    "type": "integer"
                  },
                  "count_subs": {
                    "type": "integer"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "TypeViewClassChildren": {
        "type": "object",
        "required": [
          "id",
          "label",
          "url",
[...]
