{% extends "layout.html" %}
{% block title_name %} - {{ _('event')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [_('event')]|crumb }}
{% endblock %}
{% block content %}
    {% if 'contributor'|is_authorized %}
        <div class="toolbar">
            {{ 'Event'|manual_link }}
            {% for code in config.CLASS_CODES.event %}
                {{ code|get_class_name|button(url_for('event_insert', code=code)) }}
            {% endfor %}
        </div>
    {% endif %}
    {{ table.display()|safe }}
{% endblock %}
