{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [_('event')]|crumb|safe }}
{% endblock %}
{% block content %}
    {% if 'contributor'|is_authorized %}
        <div class="toolbar">
            {{ 'Event'|manual_link|safe }}
            {% for code in config['CLASS_CODES']['event'] %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('event_insert', code=code) }}">+ {{ code|get_class_name }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {{ table.display()|safe }}
{% endblock %}
