{% extends 'layout.html' %}
{% block breadcrumb %}
    <a href="{{ url_for('event_index') }}">{{ _('event')|uc_first }}</a>
    > {{ event|link|safe }}
    > {{ _('edit')|uc_first }}
{% endblock %}
{% block content %}
    {% if modifier %}
        <p class="error">{{ _('error modified by %(username)s', username=modifier|safe) }}</p>
        <p><a class="button" href="{{ url_for('event_update', id_=event.id) }}">{{ _('reload')|uc_first }}</a></p>
    {% endif %}
    {{ form|display_form|safe }}
{% endblock %}
