@charset "UTF-8";

#logo {
    width: 370px;
    height: 120px;
    background-image: url('/themes/omg_ponies/images/layout/logo.png');
}

div.pager div.navigation {
    background-repeat: no-repeat;
    width: 20px;
    height: 21px;
}

div.pager div.first, div.pager div.first:hover {
    background-image: url("/themes/omg_ponies/images/icons/first.png");
}
div.pager div.prev, div.pager div.prev:hover {
    background-image: url("/themes/omg_ponies/images/icons/prev.png");
}
div.pager div.next, div.pager div.next:hover {
    background-image: url("/themes/omg_ponies/images/icons/next.png");
}
div.pager div.last, div.pager div.last:hover {
    background-image: url("/themes/omg_ponies/images/icons/last.png");
}

