{% extends "tabs.html" %}
{% block title_name %}- {{ entity.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('object'), 'object_index'], entity.name]|crumb }}
{% endblock %}
{% block tab_info %}
    <div class="toolbar">
        {{ 'menu/object'|manual }}
        {% if 'contributor'|is_authorized %}
            {{ _('edit')|button(url_for('object_update', id_=entity.id)) }}
            {{ entity|display_delete_link }}
        {% endif %}
        {{ entity.id|bookmark_toggle }}
    </div>
    <h1>{{ entity.name }}</h1>
    <div>
        <div style="float:left;">
            {{ info|display_info }}
            {{ entity|note }}
            {{ entity|description }}
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}
