{% extends "layout.html" %}
{% block breadcrumb %}
    400 - Bad Request
{% endblock %}
{% block content %}
<div style="text-align:center;padding-top:1em;">
    <p style="font-size:18px;">
        400 - Bad Request
    </p>
    <p>
        {{ _('The request had bad syntax or was inherently impossible to solve.') }}
    </p>
    <p>
        {{ _('Use the back button of your browser or click <a href="/">here</a> to go to the main page.') }}
    </p>
    <p>
        {{ _("Please let us know if you think it's a bug") }}: <a href="{{ url_for('index_feedback') }}">{{ _('feedback')|uc_first }}</a>
    <p/>
</div>
{% endblock %}
