{% extends "layout.html" %}
{% block breadcrumb %}
    404 - File not found
{% endblock %}
{% block content %}
<div class="container" style="text-align:center;">
    <h1>404 - File not found</h1>
    <p>
        {{ _('We are so sorry!') }}
    </p>
    <p>
        {{ _('This method is not allowed here!') }}
    </p>
    <p>
        {{ _('Use the back button of your browser or click <a href="/">here</a> to go to the main page.') }}
    </p>
    <p>
        <img src="/static/images/layout/405.jpg" alt="405 - Method Not Allowed"><br>
        Preserved part of Iron Curtain (from commons.wikimedia.org)
    </p>
</div>
{% endblock %}
