{% extends "layout.html" %}
{% block breadcrumb %}
    418 - I’m a teapot
{% endblock %}
{% block content %}
<div style="text-align:center;padding-top:1em;">
    <p style="font-size:18px;">
        418 - I’m a teapot
    </p>
    <img src="/static/images/layout/418.jpg" alt="418 - I’m a teapot">
    <p>
        This entry doesn't exist. Maybe you followed an out-dated link.
    </p>
    <p>
        The application encountered an "id not found" error. If this problem persists please inform the site administrator.
    </p>
</div>
{% endblock %}
