{% extends "layout.html" %}
{% block breadcrumb %}
    418 - Unprocessable entity
{% endblock %}
{% block content %}
<div style="text-align:center;padding-top:1em;">
    <p style="font-size:18px;">
        422 - Unprocessable entity
    </p>
    <p>
        The request couldn't be processed.
    </p>
    <p>
        The application encountered an "unprocessable entity" error. If this problem persists please inform the site administrator.
    </p>
    <p>
        <img src="/static/images/layout/422.jpg" alt="422 - unprocessable entity"><br>
        Spock at console (from commons.wikimedia.org, author: NBC Television, license: public domain)
    </p>
</div>
{% endblock %}
