<!DOCTYPE html>
<html lang="{{ session.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#ffffff">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  {% if '127.0.0' not in request.url %}
    <link rel="manifest" href="/static/manifest.json">
  {% endif %}
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/node_modules/jstree/dist/themes/default/style.min.css">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg">
  <link rel="stylesheet" href="/static/css/style.css?v={{ config.VERSION }}">
  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/static/node_modules/jstree/dist/jstree.min.js"></script>
  <script src="/static/node_modules/tinymce/tinymce.min.js"></script>
  <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="/static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
  <script src="/static/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script src="/static/node_modules/bootstrap-autocomplete/dist/latest/bootstrap-autocomplete.min.js"></script>
  {% if gis_data %}
    {% include "map.html" %}
  {% endif %}
  <script>
    bookmark_csrf_token = '{{ csrf_token() }}';
    minimumPasswordLength = {{ g.settings.minimum_password_length }};
    show = '{{ _('show')|uc_first }}';
    hide = '{{ _('hide')|uc_first }}';
    moreText = '{{ _('show more')|uc_first }}';
    lessText = '{{ _('show less')|uc_first }}';
    maxFileSize = {{ g.settings.file_upload_max_size }}
    generatePassword = '{{ _('generate password')|uc_first }}';
    css = {
        button: {primary:'{{config.CSS.button.primary}}'}
    };
  </script>
  <script src="/static/js/functions.js"></script>
  <script src="/static/js/forms.js"></script>
  {{ session.language|get_js_messages|safe }}
  <title>
    {{ g.settings.site_name }}
    {% if title %}
      - {{ title|uc_first }}
    {% elif entity %}
      - {{ entity.name }}
    {% endif %}
  </title>
  {% block script %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ get_logo|safe }}" id="logo" alt="Logo"></a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-4 mb-md-0">
        {% if current_user.is_authenticated %}
          {{ entity|display_menu(origin=origin)|safe }}
        {% endif %}
      </div>
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          <div id="index-search" class="d-flex items-align-center my-1">
            <form
                class="form-group has-search"
                method="post"
                action="{{ url_for('search_index') }}"
                style="display:inline-flex">
              {{ search_form.csrf_token }}
              {{ search_form.term(placeholder=_('search term')|uc_first, class_=config.CSS.string_field) }}
              <button class="btn btn-sm btn-link text-secondary">
                <i type="submit" class="fas fa-search"></i>
              </button>
            </form>
          </div>
        {% endif %}
        <div class="btn-group btn-group-toggle my-1">
          {% for language in config.LANGUAGES|sort %}
            {% if 'language' in session and session.language == language %}
              <span class="btn btn-secondary active btn-sm">{{ language|upper }}</span>
            {% else %}
              <a class="btn btn-secondary btn-sm" href="{{ url_for('set_locale', language=language) }}">
                {{ language|upper }}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% if current_user.is_authenticated %}
        <div class="dropdown d-flex mx-1">
          <i
              class="nav-link fa fa-cog fs-4 h-100 text-secondary"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              style="padding: 0px!important;"
              aria-expanded="false">
          </i>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="{{ url_for('profile_index') }}">
              <span>{{ _('profile')|uc_first }}</span>
            </a>
            <a class="dropdown-item" href="/admin">
              <span>{{ _('admin')|uc_first }}</span>
            </a>
            {% if 'contact'|display_content_translation %}
              <a class="dropdown-item" href="{{ url_for('index_content', item='contact') }}">
                <span>{{ _('contact')|uc_first }}</span>
              </a>
            {% endif %}
            {% if 'legal_notice'|display_content_translation %}
              <a class="dropdown-item" href="{{ url_for('index_content', item='legal_notice') }}">
                <span>{{ _('legal_notice')|uc_first }}</span>
              </a>
            {% endif %}
            <a class="dropdown-item" href="/logout"><span>{{ _('logout')|uc_first }}</span></a>
          </div>
        </div>
      {% else %}
        {% if 'contact'|display_content_translation %}
          <div
              class="iconbutton mx-1"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="{{ _('contact')|uc_first }}"
              data-bs-trigger="hover">
            <a href="{{ url_for('index_content', item='contact') }}">
              <span><i class="fas fa-at"></i></span>
            </a>
          </div>
        {% endif %}
        {% if 'legal_notice'|display_content_translation %}
          <div
              class="iconbutton d-inline-block mx-1"
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="{{ _('legal_notice')|uc_first }}"
              data-bs-trigger="hover">
            <a href="{{ url_for('index_content', item='legal_notice') }}">
              <span><i class="fas fa-balance-scale"></i></span>
            </a>
          </div>
        {% endif %}
        <a class="btn btn-warning btn-sm mx-1" href="/login">{{ _('login')|uc_first }}</a>
      {% endif %}
    </div>
  </div>
</nav>
<nav aria-label="breadcrumb" class="d-flex justify-content-between p-3 mb-3 bg-gray">
    <div class="breadcrumb mb-0">
        {{ crumbs|breadcrumb|safe }}
    </div>
    <div>
        {{ g.settings.site_name }}
        <a href="{{ url_for('index_changelog') }}">{{ config.VERSION }}</a>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message|uc_first|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ _('close')|uc_first }}"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<main>
  <div id="content">
    <div class="container-fluid">
      {{ ''|system_warnings|safe }}
      {% block content %}{% endblock %}
    </div>
  </div>
</main>

<noscript>
  <style>nav,main,.navbar{display:none;!important;}</style>
  <div class="vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <img src="/static/images/layout/logo.png" alt="OpenAtlas Logo">
    <p class="error">{{ _('warning no js') }}</p>
  </div>
</noscript>
</body>
</html>
