{% extends "layout.html" %}
{% block content %}
  <div class="container">
    {{ form|display_form('login-form')|safe }}
    {% if config.DEMO_MODE %}
      <p>User: Demolina, Pass: Demolina</p>
    {% elif g.settings.mail %}
      <p>
        <a href="{{ url_for('reset_password') }}">{{ _('Forgot your password?') }}</a>
      </p>
    {% endif %}
    <p>
      {{ ('<i class="fas fa-book"></i> ' + _('troubleshooting')|uc_first)|
        link("/static/manual/troubleshooting/login.html", class_=config.CSS.button.primary, external=True)|safe }}
    </p>
   </div>
{% endblock %}

{% block script %}
  {% if config.DEMO_MODE %}
    <script>
        $(document).ready(function () {
            $("#username").val('Demolina');
            $("#password").val('Demolina');
        });
    </script>
  {% endif %}
{% endblock %}
