<script>
    var geoNamesUsername = '{{ config['GEONAMES_USERNAME'] }}';
    var thunderforestKey = '{{ config['THUNDERFOREST_KEY'] }}';
    var gisPointAll = {{ gis_data['gisPointAll']|safe }};
    var gisPointSelected = {{ gis_data['gisPointSelected']|safe }};
    var gisPolygonAll = {{ gis_data['gisPolygonAll']|safe }};
    var gisPolygonSelected = {{ gis_data['gisPolygonSelected']|safe }};
    var gisPolygonPointSelected = {{ gis_data['gisPolygonPointSelected']|safe }};
    var jsonSearch = [];
    var translate = [];
    translate['save'] = '{{ _('save')|uc_first|safe }}';
    translate['edit'] = '{{ _('edit')|uc_first|safe }}';
    translate['delete'] = '{{ _('delete')|uc_first|safe }}';
    translate['details'] = '{{ _('details')|uc_first|safe }}';
    translate['map_clear'] = '{{ _('map_clear')|uc_first|safe }}';
    translate['map_info_reedit'] = '{{ _('map_info_reedit')|uc_first|safe }}';
    translate['map_info_shape'] = '{{ _('map_info_shape')|uc_first|safe }}';
    translate['map_info_area'] = '{{ _('map_info_area')|uc_first|safe }}';
    translate['map_info_point'] = '{{ _('map_info_point')|uc_first|safe }}';
    translate['map_info_close'] = '{{ _('map_info_close')|uc_first|safe }}';
    translate['map_info_description'] = '{{ _('map_info_description')|safe }}';
</script>

<script src="/static/vendor/leaflet/leaflet.js"></script>
<script src="/static/vendor/leaflet/leaflet.fullscreen/Leaflet.fullscreen.min.js"></script>
<script src="/static/vendor/leaflet/leaflet.geonames/L.Control.Geonames.js"></script>
<script src="/static/vendor/leaflet/leaflet.usermarker/leaflet.usermarker.js"></script>
<link rel="stylesheet" href="/static/vendor/leaflet/leaflet.css" />
<link rel="stylesheet" href="/static/vendor/leaflet/leaflet.fullscreen/leaflet.fullscreen.css" />
<link rel="stylesheet" href="/static/vendor/leaflet/leaflet.geonames/L.Control.Geonames.css" />
<link rel="stylesheet" href="/static/vendor/leaflet/leaflet.usermarker/leaflet.usermarker.css" />
<link rel="stylesheet" href="/static/vendor/leaflet/font-awesome/css/font-awesome.min.css" />

