<script>
    var geoNamesModule =     {{ 'true' if geonames_module else 'false' }};
    var geoNamesUsername =  '{{ session.settings.geonames_username }}';
    var gisPointAll =        {{ gis_data.gisPointAll|safe }};
    var gisPointSupers =     {{ gis_data.gisPointSupers|safe }};
    var gisPointSubs =       {{ gis_data.gisPointSubs|safe }};
    var gisPointSibling =    {{ gis_data.gisPointSibling|safe }};
    var gisPointSelected =   {{ gis_data.gisPointSelected|safe }};
    var gisLineAll =         {{ gis_data.gisLineAll|safe }};
    var gisLineSelected =    {{ gis_data.gisLineSelected|safe }};
    var gisPolygonAll =      {{ gis_data.gisPolygonAll|safe }};
    var gisPolygonSelected = {{ gis_data.gisPolygonSelected|safe }};
    var gisPolygonPointSelected = {{ gis_data.gisPolygonPointSelected|safe }};
    var gisAllSelected =    {{ gis_data.gisAllSelected|safe }};
    var jsonSearch = [];
    var translate = [];
    var mapMaxZoom             = {{ current_user.settings.map_zoom_max }}
    var mapDefaultZoom         =  {{ current_user.settings.map_zoom_default }}
    var map_update_mode = false;  // enables e.g. edit buttons in popup ups if true
    var maxClusterRadius        = {{ session.settings.map_cluster_max_radius }};
    var disableClusteringAtZoom = {{ session.settings.map_cluster_disable_at_zoom }};
    translate.save    = '{{ _('save')|uc_first|safe }}';
    translate.edit    = '{{ _('edit')|uc_first|safe }}';
    translate.delete  = '{{ _('delete')|uc_first|safe }}';
    translate.details = '{{ _('details')|uc_first|safe }}';
    translate.import  = '{{ _('import')|uc_first|safe }}';
    translate.map_clear =                '{{ _('map_clear')|uc_first|safe }}';
    translate.map_info_reedit =          '{{ _('map_info_reedit')|uc_first|safe }}';
    translate.map_info_shape =           '{{ _('map_info_shape')|uc_first|safe }}';
    translate.map_info_area =            '{{ _('map_info_area')|uc_first|safe }}';
    translate.map_info_centerpoint =     '{{ _('map_info_point')|uc_first|safe }}';
    translate.map_info_linestring =      '{{ _('map_info_linestring')|uc_first|safe }}';
    translate.map_info_close =           '{{ _('map_info_close')|uc_first|safe }}';
    translate.map_info_description =     '{{ _('map_info_description')|safe }}';
    translate.map_geonames_title =       '{{ _('Search by location name or postcode')|safe }}';
    translate.map_geonames_placeholder = '{{ _('Enter a location name')|safe }}';

    overlays = [];
    {% if current_user.settings.module_map_overlay and overlays is defined and overlays and overlays|length %}
        overlays = [
            {% for image_id, overlay in overlays.items() %}
                {
                    name: '{{ overlay.name }}',
                    image: '{{ overlay.image_name }}',
                    boundingBox: {{ overlay.bounding_box }}
                },
            {% endfor %}
        ];
    {% endif %}

</script>
<link rel="stylesheet" href="/static/node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css">
<link rel="stylesheet" href="/static/css/map.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/Geonames-0.4.7/L.Control.Geonames.css">

<script src="/static/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
<!--
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/leaflet.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/fullscreen/leaflet.fullscreen.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/usermarker-1.0/leaflet.usermarker.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/markercluster-1.4.1/MarkerCluster.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/markercluster-1.4.1/MarkerCluster.Default.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/zoomdisplay/leaflet.zoomdisplay.css">
<link rel="stylesheet" href="/static/vendor/leaflet-1.3.4/leaflet-groupedlayercontrol-gh-pages/dist/leaflet.groupedlayercontrol.min.css">

<script src="/static/vendor/leaflet-1.3.4/leaflet.js"></script>
<script src="/static/vendor/leaflet-1.3.4/zoomdisplay/leaflet.zoomdisplay.js"></script>
<script src="/static/vendor/leaflet-1.3.4/fullscreen/Leaflet.fullscreen.min.js"></script>
 Using modified version of leaflet-geonames for result list hack 

<script src="/static/vendor/leaflet-1.3.4/markercluster-1.4.1/leaflet.markercluster.js"></script>
<script src="/static/vendor/leaflet-1.3.4/usermarker-1.0/leaflet.usermarker.js"></script>
<script src="/static/vendor/leaflet-1.3.4/leaflet-groupedlayercontrol-gh-pages/dist/leaflet.groupedlayercontrol.min.js"></script>
<script src="/static/node_modules/leaflet-imageoverlay-rotated/Leaflet.ImageOverlay.Rotated.js"></script>
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css" integrity="sha512-mQ77VzAakzdpWdgfL/lM1ksNy89uFgibRQANsNneSTMD/bj0Y/8+94XMwYhnbzx8eki2hrbPpDm0vD0CiT2lcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css" integrity="sha512-6ZCLMiYwTeli2rVh3XAPxy3YoR5fVxGdH/pz+KMCzRY2M65Emgkw00Yqmhh8qLGeYQ3LbVZGdmOX9KUjSKr0TA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.6.0/geosearch.min.css" integrity="sha512-aXlinnCE2X7IVkXBPdOg1fEwQ6VjRO73q6B9Nm/g3qDGWdOlbcmnR8kbOPQpIdMNZ+UKUA90dL3dxprm8HD+ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js" integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.js" ></script>
<script src="/static/vendor/leaflet-1.3.4/Geonames-0.4.7/L.Control.Geonames.js"></script>
