{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills bg-gray p-1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="fw-normal py-1 nav-link active" data-bs-toggle="tab" role="tab" type="button" href="#tab-info">
            {{ _('info')|uc_first }}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="fw-normal py-1 nav-link" data-bs-toggle="tab" role="tab" type="button" href="#tab-files">
            <span class="d-flex gap-1">
              {{ _('files')|uc_first }}
              <span class="tab-counter badge align-self-center">{{ '{0:,}'.format(files_table.rows|length) }}</span>
            </span>
          </a>
        </li>
      </ul>
      <div class="tab-content bg-light p-3">
        <div class="tab-pane fade show active" role="tabpanel" id="tab-info">
          <h2 class="fw-bold">{{ _('name')|uc_first }}</h2>
          <p>{{ rights_holder.name }}</p>
          <h2 class="fw-bold">{{ _('role')|uc_first }}</h2>
          <p>{{ rights_holder.class_.label }}</p>
          {{ rights_holder.description|description|safe }}
        </div>
        <div class="tab-pane fade" role="tabpanel" id="tab-files">
          {{ files_table.display('files')|safe }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
