{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <ul class="nav nav-tabs" role="tablist">
                {% for tab in tabs: %}
                    {% set active = 'active' if loop.first else '' %}
                    {% set selected = 'true' if loop.first else 'false' %}
                    <li class="nav-item">
                        <a class="nav-link {{active}}" data-toggle="tab" role="tab" aria-selected="{{selected}}" href="#tab-{{tab.id}}">
                            {{ tab.header|uc_first }}
                            {% if tab.id in tables: %}
                                {{ tables[tab.id]|format_tab_number }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for tab in tabs: %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane fade show active" role="tabpanel" id="tab-{{tab.id}}">
                            {% block tab_info %}{% endblock%}
                        </div>
                    {% else %}
                        <div class="tab-pane fade" role="tabpanel" id="tab-{{tab.id}}">
                            <div class="toolbar">
                                {% for button in tab.buttons: %}
                                    {% if not 'group' in button or button.group|is_authorized:  %}
                                        {{ button.label|button(button.url) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {{ tables[tab.id].display(tab.id)|safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% block content_rest %}{% endblock %}
    </div>
{% endblock %}



