@charset "UTF-8";

/* font color */

body,
tabs-container .ui-state-active a,
table.tablesorter tbody td,
.ui-widget-content,
.ui-tabs .ui-tabs-panel,
div.tabs-container .ui-state-active a,
li.ui-state-active a,
li.ui-state-active a:link,
li.ui-state-active a:visited,
#breadcrumb a:hover,
div.tabs-container .ui-state-active a {
    color: #ffffff;
}

.inactive,
.inactive a {
    color: #666666;
}

a,
.info,
span.tooltip,
.jstree-default .jstree-search,
#menu div a:hover,
#menu div.active a,
#menu div.active a:hover,
.ui-widget-content a {
    color: #4f78bf;
}

div.tabs-container table a:hover,
table a:hover {
    color: #46779f;
}

.error {
    color: #e60005;
}

/* background color */

body, .ui-widget-content, .ui-dialog .ui-dialog-content {
    background-color: #000000;
}

#menu,
#header-menu span,
table.tablesorter tbody td,
table.tablesorter thead tr th,
.ui-widget-content .ui-state-active,
div.tabs-container .ui-state-active.ui-state-hover,
div.tabs-container .ui-state-active,
div.tabs-container .ui-widget-content,
.ui-tabs .ui-tabs-panel,
.ui-widget-header .ui-state-active {
    background-color: #222222;
}

.overlay,
select,
input[type="text"],
.inverse-heading,
.ui-widget-header {
    background-color: #ffffff;
}

#header,
.info,
span.tooltip {
    background-color: #000000;
}

#language-menu a,
table.tablesorter tbody tr.odd td {
    background-color: #444444;
}

button,
#disk_size .ui-widget-header,
a.button,
#breadcrumb,
.date-switch,
input[type=submit],
span.button,
.button-bar a,
.ui-state-default,
.changelog-version,
input[type=submit]:hover,
div.tabs-container .ui-state-hover,
a.button:hover,
button:hover,
.button-bar a:hover,
span.button:hover {
    background-color: #4f78bf;
}

/* border color */

.text-preview {
    border-color: #ffffff;
}

#menu > div.active, #disk_size {
    border-color: #4f78bf;
}

textarea,
input[type=text],
input[type=password],
select
{
    border-color: #adadad;
}

div.pagedisplay {
    border-top-color: #969392;
    border-left-color: #969392;
    border-bottom-color: #000000;
    border-right-color: #000000;
}
