<script>
  /**
   * Getty AAT autocomplete
   * API: https://services.getty.edu/vocab/reconcile/
   */
  initReferenceAutocomplete('{{ system.id }}', {
    minLength: 3,
    delay: 400,
    search: query => $.ajax({
      url: 'https://services.getty.edu/vocab/reconcile/',
      method: 'POST',
      dataType: 'json',
      data: {
        queries: JSON.stringify({q0: {query: query, limit: 60, type: '/aat'}})
      }
    }).then(data => (data?.q0?.result || []).map(item => ({
      id: (item.id || '').replace('aat/', ''),
      label: item.name,
      detail: item.description
    })))
  });
</script>
