<script>
  /**
   * GND autocomplete
   * API: https://lobid.org/gnd/api
   */
  initReferenceAutocomplete('{{ system.id }}', {
    search: query => $.ajax({
      url: 'https://lobid.org/gnd/search',
      dataType: 'jsonp',
      timeout: 10000,
      data: {
        q: query,
        size: 100,
        format: 'json:preferredName'
      }
    }).then(data => (Array.isArray(data) ? data : []).map(item => ({
      id: (item.id || '').split('/').pop(),
      label: item.label,
      info: item.category
    })))
  });
</script>
