<script>
  /**
   * Kulturpool autocomplete
   * API: https://api.kulturpool.at/search/
   */
  initReferenceAutocomplete('{{ system.id }}', {
    minLength: 3,
    delay: 400,
    search: query => $.ajax({
      url: 'https://api.kulturpool.at/search/',
      dataType: 'json',
      data: {q: query, per_page: 20}
    }).then(data => (data?.hits || [])
      .filter(hit => hit.document?.edmType)
      .map(hit => ({
        id: hit.document.id,
        label: hit.document.title?.[0],
        info: hit.document.dataProvider
      })))
  });
</script>
