<script>
  /**
   * Wikidata autocomplete
   * API: https://www.wikidata.org/w/api.php?action=help&modules=wbsearchentities
   */
  initReferenceAutocomplete('{{ system.id }}', {
    search: query => $.ajax({
      url: 'https://www.wikidata.org/w/api.php',
      dataType: 'json',
      data: {
        action: 'wbsearchentities',
        language: 'en',
        format: 'json',
        origin: '*',
        limit: 40,
        search: query
      }
    }).then(data => (data?.search || []).map(item => ({
      id: item.id,
      label: item.label,
      info: item.description
    })))
  });
</script>
