<script>
/**
* Wikidata autocomplete
* Documentation: https://bootstrap-autocomplete.readthedocs.io/en/latest/
* Bootstrap version needs to be manually set d/t
*/
$('input[data-reference-system={{ system.id }}]').autoComplete({
  bootstrapVersion: '4',
  resolver: 'custom',
  formatResult: function (item) {
    return {
      value: item.id,
        text: `${item.label} - ${item.description}<br><small>${item.id}</small>`
      };
  },
  events: {
    search: function (qry, callback) {
      $.ajax(
        `https://www.wikidata.org/w/api.php?action=wbsearchentities&language=en&format=json&origin=*&search=${qry}`,
      ).done(function (res) {
        callback(res.search)
      });
    }
  }
}).on('autocomplete.select', function(evt,item) {
  $('input[data-reference-system={{ system.id }}]').val(item.id);
});
</script>
