{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('types')|uc_first }}
{% endblock %}
{% block content %}
    {{ 'Form_field_type'|manual_link|safe }}
    <div id="tabs-menu" class="tabs-container">
        <ul>
            <li><a href="#menu-tab-system">{{ _('system types')|uc_first }}</a></li>
            <li><a href="#menu-tab-custom">{{ _('custom types')|uc_first }}</a></li>
            <li><a href="#menu-tab-value">{{ _('value types')|uc_first }}</a></li>
            <li><a href="#menu-tab-places">{{ _('places')|uc_first }}</a></li>
        </ul>
        {% for type_ in ['system', 'custom', 'value', 'places'] %}
            <div id="menu-tab-{{ type_ }}" style="padding: 0;" class="tab-content">
                <div id="tabs-{{ type_ }}" class="tabs-container">
                    <ul>
                        {% for node, tree in nodes[type_].items() %}
                            <li><a href="#tab-{{ node.id }}">{{ node.name }}</a></li>
                        {% endfor %}
                        {% if type_ in ['custom', 'value'] and 'manager'|is_authorized %}
                            <a class="button" href="{{ url_for('hierarchy_insert', param=type_) }}" style="margin:1em;color:#ffffff;">
                                + {{ _('type')|uc_first }}
                            </a>
                        {% endif %}
                    </ul>
                    {% for node, tree in nodes[type_].items() %}
                        <div id="tab-{{ node.id }}">
                            <p><strong>{{ node.name }}</strong></p>
                            <div style="float:left;margin-right:3em;">
                                <div class="button-bar">
                                    {% if node.locked or not 'editor'|is_authorized %}
                                        <input
                                            class="tree-filter"
                                            id="{{ node.name|sanitize }}-tree-search"
                                            placeholder="{{ placeholder|uc_first }}"
                                            name="name_search"
                                            style="width:8em;"/>
                                    {% else %}
                                        <form style="float:left" method="post" action="{{ url_for('node_insert', root_id=node.id) }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <input
                                                class="tree-filter"
                                                id="{{ node.name|sanitize }}-tree-search"
                                                placeholder="{{ placeholder|uc_first }}"
                                                name="name_search"
                                                style="width:8em;"/>
                                            {% if not node.locked %}
                                                <input type="hidden" name="mode" value="insert">
                                                <button type="submit" value="insert" name="add-node-submit">+</button>
                                            {% endif %}
                                        </form>
                                    {% endif %}

                                    {% if type_ in ['custom', 'value'] and 'manager'|is_authorized %}
                                        <a href="{{ url_for('hierarchy_update', id_=node.id) }} ">{{ _('edit')|uc_first }}</a>
                                        {% if not node.system and node.count < 1 and not node.subs %}
                                            <a onclick="return confirm('{{ _('delete')|uc_first }} {{ node.name.replace('\'', '') }}?')"
                                                href="{{ url_for('hierarchy_delete', id_=node.id) }} ">{{ _('delete')|uc_first }}</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div style="clear:both;"></div>
                                {{ tree|safe }}
                            </div>
                            <div style="float:left;">
                                {% if not node.value_type %}
                                    <p>
                                        <strong>{{ _('selection')|uc_first }}</strong>:
                                        {{ _('multiple') if node.multiple else _('single') }}
                                    </p>
                                {% endif %}
                                {% if node.forms %}
                                    <p style="margin-top:0;">
                                        <strong>{{ _('forms')|uc_first }}</strong>:
                                        {% for id, form in node.forms.items() %}
                                            {{ form['name'] }}{{ "," if not loop.last }}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                                {% if node.description %}
                                    <div class="description">
                                        <h2>{{ _('description')|uc_first }}</h2>
                                        <p style="width:40em;">{{ node.description|safe }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            $("#tabs-menu").tabs();
            $("#tabs-system").tabs().addClass("ui-tabs-vertical");
            $("#tabs-custom").tabs().addClass("ui-tabs-vertical");
            $("#tabs-places").tabs().addClass("ui-tabs-vertical");
            $("#tabs-value").tabs().addClass("ui-tabs-vertical");
            openParentTab();
        });
    </script>
{% endblock %}
