{% extends "layout.html" %}
{% block title_name %} - {{ _('types')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('types'), 'node_index'], root, node, _('move')]|crumb }}
{% endblock %}
{% block content %}
    <form class="table" id="checkbox-form" method="post">
        {{ form.csrf_token }}
        {{ form.checkbox_values }}
        {{ form|display_move_form(root.name)|safe }}
        {{ form.save }}
    </form>
    <script>
        $('#select-all').click(function() {
            var checkboxes = $(this).closest('form').find(':checkbox');
            checkboxes.prop('checked', true);
        });
        $('#select-none').click(function() {
            var checkboxes = $(this).closest('form').find(':checkbox');
            checkboxes.prop('checked', false);
        });
    </script>
{% endblock %}
