{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('node_index') }}">{{ _('types')|uc_first }}</a>
    {% if root %}
        > {{ root|link|safe }}
    {% endif %}
    > {{ node.name }}
{% endblock %}
{% block content %}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-info">{{ _('info')|uc_first }}</a></li>
        {% if tables['subs'].rows %}
            <li><a href="#tab-subs">{{ _('subs')|uc_first }} {{ tables['subs']|format_tab_number|safe }}</a></li>
        {% endif %}
        {% if tables['entities'].rows or tables['link_entities'].rows %}
            <li>
                <a href="#tab-entities">{{ _('entities')|uc_first }} {{ (tables['entities'].rows|length + tables['link_entities'].rows|length)|format_tab_number|safe }}</a>
            </li>
        {% endif %}
    </ul>
    <div id="tab-info">
        {% if 'editor'|is_authorized and node.root and not root.locked %}
            <div class="button-bar">
                <a href="{{ url_for('node_update', id_=node.id) }}">{{ _('edit')|uc_first }}</a>
                {% if not node.system and node.count < 1 and not node.subs %}
                    <a onclick="return confirm('{{ _('delete')|uc_first }} {{ node.name.replace('\'', '') }}?')"
                       href="{{ url_for('node_delete', id_=node.id) }}">{{ _('delete')|uc_first }}</a>
                {% endif %}
            </div>
        {% endif %}
        <h1>{{ node.name }}</h1>
        {% if super_ %}
            <p>{{_('super')|uc_first}}: {{ super_|link|safe }}</p>
        {% endif %}
        {{ info|display_info|safe }}
        {% if root.value_type %}
            <p>{{_('unit')|uc_first}}: {{node.description}}</p>
        {% else %}
            {{ node|description|safe }}
        {% endif %}
    </div>
    {% if tables['subs'].rows %}
        <div id="tab-subs">
            {{ tables['subs'].display('subs')|safe }}
        </div>
    {% endif %}
    {% if tables['entities'].rows or tables['link_entities'].rows %}
        <div id="tab-entities">
            {% if 'editor'|is_authorized and not root.value_type %}
                <div class="button-bar">
                    <a class="button" href="{{ url_for('node_move_entities', id_=node.id) }}">{{ _('move entities')|uc_first }}</a>
                </div>
            {% endif %}
            {% if tables['entities'].rows %}
                {{ tables['entities'].display('entities')|safe }}
            {% endif %}
            {% if tables['link_entities'].rows %}
                {{ tables['link_entities'].display('link_entities')|safe }}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
