{% extends "tabs.html" %}
{% block title_name %} - {{ node.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('types'), 'node_index'], root, node.name]|crumb }}
{% endblock %}
{% block tab_info %}
    <div class="toolbar">
        {{ 'form/type'|manual }}
        {% if 'editor'|is_authorized and node.root and not root.locked %}
            {{ _('edit')|button(url_for('node_update', id_=node.id)) }}
                {% if not node.system and node.count < 1 and not node.subs %}
                    {{ _('delete')|button(url_for('node_delete', id_=node.id), onclick="return confirm('" + _('delete')|uc_first + " " + node.name.replace("'", '').replace('"', '') + "?');") }}
                {% endif %}
        {% endif %}
    </div>
    <h1>{{ node.name }}</h1>
    {{ profile_image_id|display_profile_image }}
    <div style="float:left;">
        {% if super_ %}
            <p>{{ _('super')|uc_first }}: {{ super_|link|safe }}</p>
        {% endif %}
        {{ info|display_info }}
        {% if root.value_type %}
            <p>{{ _('unit')|uc_first }}: {{ node.description }}</p>
        {% else %}
            {{ node|description }}
        {% endif %}
        <p>
            {{ _('ID for imports') }}: {{ node.id }}
        </p>
    </div>
    <div style="clear:both;"></div>
{% endblock %}
