{% extends "layout.html" %}
{% block content %}
  {% for release, version in versions.items() %}
    <div class="fs-6 fw-bold">
      {{ _('version')|uc_first }} {{ release }}
    </div>
    <div class="my-1">
      {{ version[0] }}
    </div>
    <ul>
      {% for issue_type, issues in version[1].items() %}
        {% for issue_number, issue_text in issues.items() %}
          <li class="changelog">
            {% if issue_number %}
              {{ issue_type|uc_first }}
              {{ (issue_number)|link("https://redmine.openatlas.eu/issues/" + issue_number, external=True)|safe }}
              {{ issue_text|safe }}
            {% else %}
              {{ issue_text|safe }}
            {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
