{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('index') }}">{{ _('overview')|uc_first }}</a>
    > {{ _('changelog')|uc_first }}
{% endblock %}
{% block content %}
    {% for version_name, version in versions.items() %}
        <div class="changelog-version">
            {{ _('version')|uc_first }} {{ version_name }}
        </div>
        <div class="changelog-date">
            {{ version['date'] }}
        </div>
        <p>
            {% for issue_type, issues in version['data'].items() %}
                {% for issue_number, issue_text in issues.items() %}
                    {% if issue_number %}
                        &#8226 {{ issue_type|uc_first }}
                        <a target="_blank" rel="noopener" href="https://redmine.craws.net/issues/{{ issue_number }}">
                            #{{ issue_number }}
                        </a> {{ issue_text|safe }}<br />
                    {% else %}
                        {{ issue_text|safe }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
    {% endfor %}
{% endblock %}
