{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('index') }}">{{ _('overview')|uc_first }}</a>
    > {{ _('credits')|uc_first }}
{% endblock %}
{% block content %}
    <h1>Funding</h1>
    <p>Development was and is funded by several projects, grants, institutes and departments:</p>
    <h2>Institutes</h2>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/">
        <img src="/static/images/sponsors/logo_oeaw.png" alt="ÖAW" />
    </a>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/imafo/">
        <img src="/static/images/sponsors/logo_imafo.gif" alt="IMAFO" />
    </a>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/acdh">
        <img src="/static/images/sponsors/logo_acdh.png" style="height:60px;" alt="ACDH - Austrian Centre for Digital Humanities" />
    </a>
    <a target="_blank" rel="noopener" href="https://www.univie.ac.at/en/">
        <img src="/static/images/sponsors/logo_university_vienna.png" alt="University of Vienna" />
    </a>
    <a target="_blank" rel="noopener" href="https://www.fwf.ac.at/en/">
        <img src="/static/images/sponsors/logo_fwf.png" alt="FWF Austrian Science Fund" />
    </a>
    <h2>Projects</h2>
    <a target="_blank" rel="noopener" href="https://oeaw.academia.edu/MappingMedievalConflict">
        <img src="/static/images/sponsors/logo_medcon.png" alt="MEDCON" />
    </a>
    <a target="_blank" rel="noopener" href="http://dpp.oeaw.ac.at/">
        <img src="/static/images/sponsors/logo_dpp.png" alt="DPP" />
    </a>
    <a target="_blank" rel="noopener" href="http://homepage.univie.ac.at/stefan.eichert/gkn/">
        <img src="/static/images/sponsors/logo_frontier.png"
             alt="Frontier, Contact Zone or No Man's Land" />
    </a>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/projekte/weitere-projekte/ostalpenraum-revisited/">
        Ostalpenraum-revisited
    </a>
    <h1>Team</h1>
    <p>
        <strong>Stefan Eichert</strong><br />
        Idea and Concept, CIDOC CRM Adaptions and Mappings
    </p>
    <p>
        <strong>Alexander Watzinger</strong>
        <a target="_blank" rel="noopener" href="https://craws.net">https://craws.net</a><br />
        Software Development, CIDOC CRM Adaptions and Mappings
    </p>
    <p>
        <strong>Jan Belik</strong>
        <a target="_blank" rel="noopener" href="https://janbelik.com">https://janbelik.com</a><br />
        Graphic Design
    </p>
    <p>
        <strong>Daniel Kittel</strong>
        <a target="_blank" rel="noopener" href="https://craws.net">https://craws.net</a><br />
        Quality Assurance
    </p>
    <h2>Contributors</h2>
    <p>
        Bernhard Koschicek (DPP)<br />
        Christof Rauchenberger (craws.net)<br />
        Johannes Preiser-Kapeller (MEDCON)<br />
        Judith Pucher (Digital Laut)<br />
        Katharina Winckler (DPP)<br />
        Mihailo Popović (DPP)<br />
        Petra Heinicker (MEDCON)<br />
    </p>
{% endblock %}
