{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('index') }}">{{ _('overview')|uc_first }}</a>
    > {{ _('credits')|uc_first }}
{% endblock %}
{% block content %}
<p>Development was and is funded by several projects, grants, institutes and departments:</p>
<h2>Institutes</h2>
<div id="institutes">
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/">
        <img src="/static/images/institutes/oeaw.png" alt="ÖAW"/>
    </a>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/imafo/">
        <img src="/static/images/institutes/imafo.png" alt="IMAFO"/>
    </a>
    <a target="_blank" rel="noopener" href="https://www.oeaw.ac.at/acdh">
        <img src="/static/images/institutes/acdh.png"
             alt="ACDH - Austrian Centre for Digital Humanities"/>
    </a>
    <a target="_blank" rel="noopener" href="https://erc.europa.eu/">
        <img src="/static/images/institutes/erc.png" alt=" European Research Council "/>
    </a>
    <a target="_blank" rel="noopener" href="https://www.univie.ac.at/en/">
        <img src="/static/images/institutes/uni_vienna.jpg" alt="University of Vienna"/>
    </a>
    <a target="_blank" rel="noopener" href="https://www.fwf.ac.at/en/">
        <img src="/static/images/institutes/fwf.png" alt="FWF Austrian Science Fund"/>
    </a>
</div>
<h2>Projects</h2>
<div id="projects">
    <a target="_blank" rel="noopener" href="https://thanados.net">
        <img src="/static/images/projects/thanados.png" alt="THANADOS"/>
    </a>
    <a target="_blank" rel="noopener" href="http://www.connectedclerics.com/">
        <img src="/static/images/projects/connec.jpg" alt="CONNEC"/>
    </a>
    <a target="_blank" rel="noopener" href="https://dpp.oeaw.ac.at/">
        <img src="/static/images/projects/dpp.jpg" alt="DPP"/>
    </a>
    <a target="_blank" rel="noopener" href="https://oeaw.academia.edu/MappingMedievalConflict">
        <img src="/static/images/projects/medcon.png" alt="MEDCON"/>
    </a>
    <a target="_blank" rel="noopener" href="http://www.openatlas.eu/gkn">
        <img src="/static/images/projects/frontier.png"
             alt="Frontier, Contact Zone or No Man's Land"/>
    </a>
    <a target="_blank" rel="noopener"
       href="https://www.oeaw.ac.at/imafo/forschung/historische-identitaetsforschung/projekte/weitere-projekte/ostalpenraum-revisited/">
        <img src="/static/images/projects/ostalpen.png" alt="Ostalpenraum Revisited"/>
    </a>
</div>
<h1>Team</h1>
<p>
    <strong>Stefan Eichert</strong><br/>
    Idea, Concept and Data Modelling
</p>
<p>
    <strong>Alexander Watzinger</strong><br/>
    Software Development, Concept
</p>
<p>
    <strong>Bernhard Koschicek</strong><br/>
    Software Development
</p>
<p>
    <strong>Christoph Hoffmann</strong><br/>
    Frontend Development
</p>
<p>
    <strong>Jan Belik</strong><br/>
    Logo Design and Design Consulting
</p>
<p>
    <strong>Daniel Kittel</strong><br/>
    Quality Assurance
</p>
<h2>Contributors</h2>
<p>These people supported us in many different ways. Our thanks goes to all of them.</p>
<p>
    Asil Çetin<br/>
    Christof Rauchenberger<br/>
    Dalibor Pančić<br/>
    Johannes Preiser-Kapeller<br/>
    Judith Pucher<br/>
    Katharina Winckler<br/>
    Mihailo Popović<br/>
    Peter Andorfer<br/>
    Petra Heinicker<br/>
    Sandra Lehecka<br/>
    Saranya Balasubramanian<br/>
    Veronika Gründhammer<br/>
</p>
{% endblock %}
