{% extends "layout.html" %}
{% block content %}
<p>
  {{ _('feedback intro') }}:
</p>
  <ul>
    <li>
      <p>
        {{ _('feedback redmine') }}:
        {{ "https://redmine.openatlas.eu"|link("https://redmine.openatlas.eu/projects/uni", external=True)|safe }}
      </p>
    </li>
    {% if g.settings.mail_recipients_feedback[0] %}
      <li>
        <p>
          {{ _('feedback mail') }}
          <a href="mailto:{{ g.settings.mail_recipients_feedback[0] }}">{{ g.settings.mail_recipients_feedback[0] }}</a>
        </p>
      </li>
    {% endif %}
      {% if g.settings.mail and g.settings.mail_recipients_feedback %}
      <li>
        <p>{{ _('feedback_form') }}:</p>
        {{ form|display_form('feedback-form')|safe }}
      </li>
    {% endif %}
  </ul>
{% endblock %}
