{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('index') }}">{{ _('overview')|uc_first }}</a>
    > {{ _('feedback')|uc_first }}
{% endblock %}
{% block content %}
    <p>
        {{ _('feedback intro') }}:
    </p>
    <p>
        - {{ _('feedback redmine') }}:
        <a href="http://redmine.openatlas.eu/projects/uni" target="_blank" rel="noopener">
            https://redmine.openatlas.eu
        </a>
    </p>
    {% if session['settings']['mail_recipients_feedback'][0] %}
        <p>
            - {{ _('feedback mail') }}
            <a href="mailto:{{ session['settings']['mail_recipients_feedback'][0] }}">
                {{ session['settings']['mail_recipients_feedback'][0] }}
            </a>
        </p>
        {% if session['settings']['mail'] and session['settings']['mail_recipients_feedback'] %}
            <p>- {{ _('feedback_form') }}:</p>
            {{ form|display_form('feedback-form')|safe }}
        {% endif %}
    {% endif %}
{% endblock %}
