{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [_('overview')]|crumb }}
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if tables.overview['rows'] %}
            <div style="float:left;margin-right:2em;min-width: 500px;">
                {{ tables.overview.display('overview')|safe }}
            </div>
        {% endif %}
        <div style="float:left; ">
            <div class="toolbar">
                <p>
                    {{ 'index'|manual }}
                    {{ _('model')|button(url_for('model_index')) }}
                </p>
                <p>
                    {{ _('want a new feature or experience any problems')|uc_first }}:
                    {{ _('tell us about it')|button(url_for('index_feedback')) }}
                </p>
                {% if session['settings']['mail'] and not current_user.settings['newsletter'] %}
                    <p>
                        {{ _('want to receive updates? Activate the newsletter in your')|uc_first }}
                        {{ _('profile')|button(url_for('profile_index')) }}
                    </p>
                {% endif %}
            </div>
            <div class="toolbar">
                {{ _('network visualization')|uc_first }}:
                {{ 'Classic'|button(url_for('model_network')) }}
                {{ '2D'|button(url_for('model_network', dimensions=2)) }}
                {{ '3D'|button(url_for('model_network', dimensions=3)) }}
            </div>
            <p style="font-size:0.8em;margin-top:1em;">
                {% if session['login_previous_success'] %}
                    {{ _('last login')|uc_first }}: {{ session['login_previous_success'] }}
                    {% if session['login_previous_failures'] > 0 %}
                        - {{ _('failed logins')|uc_first }}: {{ session['login_previous_failures'] }}
                    {% endif %}
                {% else %}
                    {{ _('first login') }}
                {% endif %}
            </p>
        </div>
        <div style="clear:both;"></div>
        {% if tables.latest.rows %}
            <h1>{{ _('latest')|uc_first }}</h1>
            {{ tables.latest.display('latest')|safe }}
            <div class="toolbar">
                {{ _('Show all activity')|button(url_for('user_activity')) }}
            </div>
        {% endif %}
        {% if tables.bookmarks.rows %}
            <h1>{{ _('bookmarks')|uc_first }}</h1>
            {{ tables.bookmarks.display('bookmarks')|safe }}
        {% endif %}
        {% if tables.notes.rows %}
            <h1>{{ _('notes')|uc_first }}</h1>
            {{ tables.notes.display('notes')|safe }}
        {% endif %}
    {% else %}
        {% if intro: %}
            <p>{{ intro|safe }}</p>
        {% endif %}
        <h1>OpenAtlas</h1>
        {{ _('text_intro',
            link_openatlas='<a target="_blank" rel="noopener" href="https://openatlas.eu/">OpenAtlas</a>'|safe,
            link_github='<a target="_blank" rel="noopener" href="https://github.com/craws/OpenAtlas">GitHub</a>'|safe,
            link_cidoc='<a target="_blank" rel="noopener" href="http://www.cidoc-crm.org/">CIDOC CRM</a>'|safe,
            link_wiki='<a target="_blank" rel="noopener" href="https://redmine.openatlas.eu/projects/uni/wiki">Wiki</a>'|safe,
            link_demo='<a target="_blank" rel="noopener" href="https://demo.openatlas.eu">Demo</a>'|safe
        )|nl2br|safe }}
        <h2>{{ _('team')|uc_first }}</h2>
        <p>Stefan Eichert - Idea, concept and data modelling</p>
        <p>Alexander Watzinger - Lead developer and concept</p>
        <p>Bernhard Koschicek - Software development</p>
        <p>Christoph Hoffmann - Frontend development</p>
        <p>Veronika Gründhammer - Project administration</p>
        <p>Jan Belik - Logo design and design consulting</p>

        <h2>Contributors</h2>
        <p>These people supported us in many ways, our thanks goes to all of them.</p>
        <p>
            Asil Çetin<br>
            Christof Rauchenberger<br>
            Dalibor Pančić<br>
            Daniel Kittel<br>
            Johannes Preiser-Kapeller<br>
            Judith Pucher<br>
            Katharina Winckler<br>
            Mihailo Popović<br>
            Nina Brundke<br>
            Peter Andorfer<br>
            Petra Heinicker<br>
            Sandra Lehecka<br>
            Saranya Balasubramanian<br>
            Stefan Probst
        </p>
    {% endif %}
{% endblock %}
