{% extends "layout.html" %}
{% block content %}
  {% if file_data.file %}
    <div class="toolbar">
      {{ _('latest backup')|uc_first }}: {{ file_data.file }}, {{ file_data.size }}
      {{ _('download')|button(url_for('download_export', filename=file_data.file))|safe }}
    </div>
  {% endif %}
  {% if file_data.backup_too_old %}
    <p>
      {{ _('There seems to be no recent backup, please make one') }}
      <a href="{{ url_for('export_sql') }}">{{ _('here') }}</a>.
    </p>
  {% else %}
    {{ form|display_form(manual_page='admin/execute_sql')|safe }}
    <p>
      {{ response|safe }}
    </p>
  {% endif %}
{% endblock %}
