{% extends "layout.html" %}
{% block title_name %} - SQL{% endblock %}
{% block content %}
  {{ buttons|button_bar|safe }}
  <h2 class="error">
    {{ _('Warning: direct database manipulation is dangerous and can result in data loss and/or an unusable application!') }}
  </h2>
  <p>
    <input id="sql_risk_aware" type="checkbox">
    {{ _("I'm aware of the risk and have read the documentation.") }}
  </p>
  <div class="toolbar">
    {{ _('proceed')|button(id_='proceed_button', url='#')|safe }}
  </div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function () {
      $('#sql_risk_aware').change(function() {
          if (this.checked) {
              $("#proceed_button").attr("href", "{{ url_for('sql_execute') }}")
          } else {
              $("#proceed_button").attr("href", "")
          }
      });
    })
  </script>
{% endblock %}
