<div class="btn-toolbar">
  <div class="btn-group me-2">
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='lp') }}"
       target="_blank">
      Linked Places
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href="{{ url_for('api.entity', id_=entity.id, format='lp', download=True) }}">
      <i class="fas fa-download"></i>
    </a>
  </div>
  <div class="btn-group me-2">
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='geojson') }}"
       target="_blank">
      Geojson
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href="{{ url_for('api.entity', id_=entity.id, format='geojson', download=True) }}">
      <i class="fas fa-download"></i>
    </a>
  </div>

  <div class="btn-group me-2">
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='xml') }}"
       target="_blank">
      RDF-XML
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='pretty-xml') }}"
       target="_blank">
      Pretty-XML
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='turtle') }}"
       target="_blank">
      Turtle
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='n3') }}"
       target="_blank">
      Notion 3
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href=" {{ url_for('api.entity', id_=entity.id, format='nt') }}"
       target="_blank">
      N-Triples
    </a>
  </div>

  <div class="btn-group me-2">
    <a class="{{ config.CSS.button.primary }}" href="{{ url_for('api.entity', id_=entity.id, export='csv') }}">
      CSV
    </a>
    <a class="{{ config.CSS.button.primary }}"
       href="{{ url_for('api_03.entity', id_=entity.id, export='csvNetwork') }}">
      CSV Network Analysis
    </a>
  </div>
</div>
