<div id="profile-image-div">
  {% set url = url_for('display_file', filename=path.name) %}
  {% set src = url %}
  {% set style = 'max-width:' + g.settings.profile_image_width + 'px;' %}
  {% set ext = config.DISPLAY_FILE_EXTENSIONS %}
  {% if resized %}
    {% set src = resized %}
    {% set style = 'max-width:' + config.IMAGE_SIZE.thumbnail + 'px;' %}
    {% set ext = config.ALLOWED_IMAGE_EXT %}
  {% endif %}
  {% if entity.class_.view == 'file' %}
    {% if path.suffix.lower() in ext %}
      {{ ('<img style="' + style + '" alt="image" src="' + src + '">')|link(url, external=True)|safe }}
    {% else %}
      {{ _('no preview available')|uc_first }}
    {% endif %}
  {% else %}
    <a href="{{ url_for('view', id_=entity.image_id) }}"><img style="{{ style }}" alt="image" src="{{ src }}"></a>
  {% endif %}
</div>
