<li class="nav-item">
    <a
        class="nav-link {% if active %}active{% endif %}"
        data-toggle="tab"
        role="tab"
        aria-selected="{% if active %}true{% else %}false{% endif %}"
        href="#tab-{{ tab.name|replace('_', '-') }}"
    >
        {{ _(tab.name|replace('_', ' '))|uc_first }}
        {% if tab.table.rows|length %}
            <span class="tab-counter">
                {{ '{0:,}'.format(tab.table.rows|length) }}
            </span>
        {% endif %}
    </a>
</li>
