<table id="{{ name }}_table" class="data-table table table-hover table-striped" style="width:100%"></table>
<style type="text/css">
  {% if not table.header or not table.paging %}
    #{{ name }}_table_wrapper .row:first-of-type {display:none;}
  {% endif %}
</style>
<script>
  $(document).ready(function() {
    $('#{{ name }}_table').DataTable({{ data|safe }});
    overflow();
    $('#{{ name }}_table').on('page.dt', () => overflow());
    $('#{{ name }}_table').on('search.dt', () => overflow());
    $('input[type="search"]').focus();
  });
</script>
