<script>

    const translate = {}
    translate.save = {{ _('save').replace("'", "\'")|uc_first|safe|tojson }};
    translate.edit = {{ _('edit')|uc_first|safe|tojson }};
    translate.delete = {{ _('delete')|uc_first|safe|tojson }};
    translate.details = {{ _('details')|uc_first|safe|tojson }};
    translate.import = {{ _('import')|uc_first|safe|tojson }};
    translate.show = {{ _('show')|uc_first|tojson }};
    translate.hide = {{ _('hide')|uc_first|tojson }};
    translate.moreText = {{ _('show more')|uc_first|tojson }};
    translate.lessText = {{ _('show less')|uc_first|tojson }};
    translate.inProgress = {{ _('in progress')|tojson }};

    // Map
    translate.map_clear = {{ _('map_clear')|uc_first|safe|tojson }};
    translate.map_info_reedit = {{ _('map_info_reedit')|uc_first|safe|tojson }};
    translate.map_info_shape = {{ _('map_info_shape')|uc_first|safe|tojson }};
    translate.map_info_area = {{ _('map_info_area')|uc_first|safe|tojson }};
    translate.map_info_centerpoint = {{ _('map_info_point')|uc_first|safe|tojson }};
    translate.map_info_linestring = {{ _('map_info_linestring')|uc_first|safe|tojson }};
    translate.map_info_close = {{ _('map_info_close')|uc_first|safe|tojson }};
    translate.map_info_description = {{ _('map_info_description')|uc_first|safe|tojson }};
    translate.map_info_name = {{ _('map_info_name')|uc_first|safe|tojson }};
    translate.map_info_easting = {{ _('map_info_easting')|uc_first|safe|tojson }};
    translate.map_info_northing = {{ _('map_info_northing')|uc_first|safe|tojson }};
    translate.map_info_points = {{ _('map_info_points')|uc_first|safe|tojson }};
    translate.map_info_wkt = {{ _('map_info_wkt')|uc_first|safe|tojson }};
    translate.map_geonames_title = {{ _('search by location name or postcode')|uc_first|safe|tojson }};
    translate.map_geonames_placeholder = {{ _('enter a location name')|uc_first|safe|tojson }};

    translate.map_overlapping_places = {{ _('there are multiple places overlapping')|uc_first|safe|tojson }};
    translate.polygon = {{ _('polygon') |uc_first |safe|tojson }};
    translate.draw_geometry = {{ _('draw geometry')|uc_first|safe|tojson }};
    translate.import_wkt = {{ _('import wkt')|uc_first|safe|tojson }};

</script>
