<script>
    const translate = {}
    translate.save = '{{ _('save')|uc_first|safe }}';
    translate.edit = '{{ _('edit')|uc_first|safe }}';
    translate.delete = '{{ _('delete')|uc_first|safe }}';
    translate.details = '{{ _('details')|uc_first|safe }}';
    translate.import = '{{ _('import')|uc_first|safe }}';
    translate.show = '{{ _('show')|uc_first }}';
    translate.hide = '{{ _('hide')|uc_first }}';
    translate.moreText = '{{ _('show more')|uc_first }}';
    translate.lessText = '{{ _('show less')|uc_first }}';
    //map
    translate.map_clear = '{{ _('map_clear')|uc_first|safe }}';
    translate.map_info_reedit = '{{ _('map_info_reedit')|uc_first|safe }}';
    translate.map_info_shape = '{{ _('map_info_shape')|uc_first|safe }}';
    translate.map_info_area = '{{ _('map_info_area')|uc_first|safe }}';
    translate.map_info_centerpoint = '{{ _('map_info_point')|uc_first|safe }}';
    translate.map_info_linestring = '{{ _('map_info_linestring')|uc_first|safe }}';
    translate.map_info_close = '{{ _('map_info_close')|uc_first|safe }}';
    translate.map_info_description = '{{ _('map_info_description')|safe }}';
    translate.map_info_name = '{{ _('map_info_name')|safe }}';
    translate.map_info_easting = '{{ _('map_info_easting')|safe }}';
    translate.map_info_northing = '{{ _('map_info_northing')|safe }}';
    translate.map_info_points = '{{ _('map_info_points')|safe }}';
    translate.map_geonames_title = '{{ _('Search by location name or postcode')|safe }}';
    translate.map_geonames_placeholder = '{{ _('Enter a location name')|safe }}';

    //validation
    translate.validate_required = '{{ _('validate_required')|safe }}';
    translate.validate_maxlength = '{{ _('validate_maxlength')|safe }}';
    translate.validate_minlength = '{{ _('validate_minlength')|safe }}';
    translate.validate_rangelength = '{{ _('validate_rangelength')|safe }}';
    translate.validate_email = '{{ _('validate_email')|safe }}';
    translate.validate_url = '{{ _('validate_url')|safe }}';
    translate.validate_date = '{{ _('validate_date')|safe }}';
    translate.validate_number = '{{ _('validate_number')|safe }}';
    translate.validate_digits = '{{ _('validate_digits')|safe }}';
    translate.validate_equalTo = '{{ _('validate_equalTo')|safe }}';
    translate.validate_fileSize = '{{ _('validate_fileSize')|safe }}';
    translate.validate_range = '{{ _('validate_range')|safe }}';
    translate.validate_max = '{{ _('validate_max')|safe }}';
    translate.validate_min = '{{ _('validate_min')|safe }}';

</script>