{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}#tab-data">{{ _('admin')|uc_first }}</a>&nbsp;> {{ _('check similar names')|uc_first }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'admin/data_integrity_checks'|manual }}
    </div>
    {{ form|display_form }}
    {% if table %}
        {% if table.rows %}
            {{ table.display()|safe }}
        {% else %}
            <p>{{ _('no entries')|uc_first }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
