{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('check dates')]|crumb }}
{% endblock %}
{% block content %}
{{ 'Data_integrity'|manual_link|safe }}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-dates">{{ _('invalid dates')|uc_first }} {{ tables['dates']|format_tab_number|safe }}</a></li>
        <li><a href="#tab-link-dates">{{ _('invalid link dates')|uc_first }} {{ tables['link_dates']|format_tab_number|safe }}</a></li>
        <li><a href="#tab-involvement-dates">{{ _('invalid involvement dates')|uc_first }} {{ tables['involvement_dates']|format_tab_number|safe }}</a></li>
    </ul>
    <div id="tab-dates">
    {% if tables['dates'].rows %}
        {{ tables['dates'].display('dates')|safe }}
    {% else %}
        {{ _('Congratulations, everything looks fine!') }}
    {% endif %}
    </div>
    <div id="tab-link-dates">
    {% if tables['link_dates'].rows %}
       {{ tables['link_dates'].display('link_dates')|safe }}
    {% else %}
        {{ _('Congratulations, everything looks fine!') }}
    {% endif %}
    </div>
    <div id="tab-involvement-dates">
        {% if tables['involvement_dates'].rows %}
            {{ tables['involvement_dates'].display('involvement_dates')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
</div>
{% endblock %}
