{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('check similar names')]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Data_integrity'|manual_link }}
    </div>
    {{ form|display_form }}
    {% if table %}
        {% if table.rows %}
            {{ table.display()|safe }}
        {% else %}
            <p>{{ _('no entries')|uc_first }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
