{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('check dates')|uc_first }}
{% endblock %}
{% block content %}
{{ 'Data_integrity'|manual_link|safe }}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-dates">{{ _('invalid dates')|uc_first }} ({{ tables['dates']['data']|length|format_number }})</a></li>
        <li><a href="#tab-link-dates">{{ _('invalid link dates')|uc_first }} ({{ tables['link_dates']['data']|length|format_number }})</a></li>
        <li><a href="#tab-involvement-dates">{{ _('invalid involvement dates')|uc_first }} ({{ tables['involvement_dates']['data']|length|format_number }})</a></li>
    </ul>
    <div id="tab-dates">
        {{ tables['dates']|pager|safe }}
    </div>
    <div id="tab-link-dates">
        {{ tables['link_dates']|pager|safe }}
    </div>
    <div id="tab-involvement-dates">
        {{ tables['involvement_dates']|pager|safe }}
    </div>
</div>
{% endblock %}
