{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('check links')]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Data_integrity'|manual_link|safe }}
        {{ _('check links')|button(url_for('admin_check_links', check='check')) }}
        {{ _('this could take some time')|uc_first }}
    </div>
    {% if table.rows %}
        {{ table.display()|safe }}
    {% elif check %}
        {{ _('Congratulations, everything looks fine!') }}
    {% endif %}
{% endblock %}
