{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('check link duplicates')|uc_first }}
{% endblock %}
{% block content %}
    {% if table['data'] %}
        <div class="button-bar">
        <a href="{{ url_for('admin_check_link_duplicates', delete='delete') }}">{{ _('delete link duplicates')|uc_first }}</a>
        </div>
        {{ table|pager|safe }}
    {% else %}
        {{ _('Congratulations, everything looks fine!') }}
    {% endif %}
{% endblock %}
