{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}#tab-data">{{ _('admin')|uc_first }}</a>&nbsp;> {{ _('check link duplicates')|uc_first }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'admin/data_integrity_checks'|manual }}
        {% if duplicates %}
            {{ _('delete link duplicates')|button(url_for('admin_check_link_duplicates', delete='delete')) }}
        {% endif %}
    </div>
    {% if duplicates %}
        {{ table.display() }}
    {% elif table.rows %}
        {{ table.display() }}
    {% else %}
        {{ _('Congratulations, everything looks fine!') }}
    {% endif %}
{% endblock %}
