<h1 class="mb-1">{{ _('data integrity checks')|uc_first }}</h1>
<div class="row g-1 d-flex align-items-center">
  <div class="col-auto">{{ 'admin/data_integrity_checks'|manual|safe }}</div>
  <div class="col-auto">{{ _('orphans')|button(url_for('orphans'))|safe }}</div>
  <div class="col-auto">{{ _('dates')|button(url_for('check_dates'))|safe }}</div>
  <div class="col-auto">{{ _('similar names')|button(url_for('check_similar'))|safe }}</div>
  <div class="col-auto">{{ _('links')|button(url_for('check_links'))|safe }}</div>
  <div class="col-auto">{{ _('link duplicates')|button(url_for('check_link_duplicates'))|safe }}</div>
</div>
{% if 'manager'|is_authorized or imports %}
  <h1 class="mb-1">{{ _('data transfer')|uc_first }}</h1>
  <div class="row g-1 d-flex align-items-center">
    <div class="col-auto">{{ _('import')|button(url_for('import_index'))|safe }}</div>
    <div class="col-auto">{{ ('CSV ' + _('export'))|button(url_for('api.export_database', format_='csv'))|safe }}</div>
    <div class="col-auto">{{ ('JSON ' + _('export'))|button(url_for('api.export_database', format_='json'))|safe }}</div>
    <div class="col-auto">{{ ('XML ' + _('export'))|button(url_for('api.export_database', format_='xml'))|safe }}</div>
    {% if 'manager'|is_authorized %}
      <div class="col-auto">{{ ('SQL ' + _('export'))|button(url_for('export_sql'))|safe }}</div>
    {% endif %}
    {% if config.ARCHE['id'] %}
       <div class="col-auto">{{ 'ARCHE'|button(url_for('arche_index'))|safe }}</div>
    {% endif %}
    <div class="col-auto">{{ 'VOCABS'|button(url_for('vocabs_index'))|safe }}</div>
  </div>
{% endif %}
{% if 'admin'|is_authorized and g.settings.image_processing %}
  <div class="row g-1 d-flex align-items-center mt-3">
    <h1 class="mb-1">{{ _('image processing')|uc_first }}</h1>
    <div class="col-auto">{{ 'admin/file'|manual|safe }}</div>
    <div class="col-auto">{{ _('create resized images')|button(url_for('resize_images'))|safe }}</div>
    <div class="col-auto">{{ _('delete orphaned resized images')|button(url_for('admin_delete_orphaned_resized_images'))|safe }}</div>
  </div>
{% endif %}
{% if 'manager'|is_authorized %}
  <div class="row g-1 d-flex align-items-center mt-3">
    <h1 class="mb-1">{{ 'API'|uc_first }}</h1>
      <div class="col-auto">{{ 'admin/api'|manual|safe }}</div>
      {% if 'manager'|is_authorized %}
        <div class="col-auto">{{ _('edit')|button(url_for('settings', category='api'))|safe }}</div>
      {% endif %}
      {% if 'admin'|is_authorized %}
        <div class="col-auto">{{ _('token')|button(url_for('api_token'))|safe }}</div>
      {% endif %}
  </div>
  {{ info|display_info|safe }}
{% endif %}
