<div style="float:left;">
  {{ info|display_info|safe }}
  {% if disk_space_info %}
  <div>
    <p class="mb-1">
      {{ _('total disk space')|uc_first }} <strong>{{ disk_space_info.total }}</strong>
    </p>
    <p class="mb-1">
      {{ _('non project files')|uc_first }} <strong>{{ disk_space_info.other_files }}</strong>
      <span class="bg-primary d-inline-block ml-2" style="height: inherit; width: 0.75em; height: 0.75em;"/>
    </p>
    <p class="mb-1">
      {{ _('project files')|uc_first }} <strong>{{ disk_space_info.project }}</strong>
      <span class="bg-warning d-inline-block ml-2" style="height: inherit; width: 0.75em; height: 0.75em;"/>
    </p>
    <p class="mb-1">
      {{ _('free disk space')|uc_first }} <strong>{{ disk_space_info.free }}</strong>
      <span class="bg-gray d-inline-block ml-2" style="height: inherit; width: 0.75em; height: 0.75em;"/>
    </p>
  </div>
  <div class="progress"
    style="height: 30px;">
    <div
      class="progress-bar bg-primary"
      role="progressbar"
      style="width: {{ disk_space_info.percent_used - disk_space_info.percent_project }}%"
      aria-valuenow="{{ disk_space_info.percent_used - disk_space_info.percent_project }}"
      aria-valuemin="0"
      aria-valuemax="100">
        <b>{{ disk_space_info.percent_used - disk_space_info.percent_project }}%</b>
    </div>
    <div
      class="progress-bar bg-warning"
      role="progressbar"
      style="width: {{ disk_space_info.percent_project }}%"
      aria-valuenow="{{ disk_space_info.percent_project }}"
      aria-valuemin="0"
      aria-valuemax="100">
      <b>{{ disk_space_info.percent_project }}%</b>
    </div>
    <div
      class="progress-bar bg-gray"
      role="progressbar"
      style="width: {{ 100 - disk_space_info.percent_used }}%"
      aria-valuenow="{{ 100 - disk_space_info.percent_used }}"
      aria-valuemin="0"
      aria-valuemax="100">
        <b class="text-dark">{{ 100 - disk_space_info.percent_used }}%</b>
    </div>
    </div>
  {% endif %}
</div>
{% if 'manager'|is_authorized %}
  <div style="float:left;margin-left:2em;">
    <img src="{{ get_logo|safe }}" id="logo-preview" alt="Logo" style="max-width:400px;"><br>
    <div class="toolbar">
      {% if g.settings.logo_file_id %}
        {{ _('remove custom logo')|button(url_for('admin_index', action='remove_logo', id_=0))|safe }}
      {% else %}
        {{ _('choose custom logo')|button(url_for('admin_logo'))|safe }}
      {% endif %}
    </div>
  </div>
{% endif %}
<div style="clear:both;"></div>
