{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('general')|uc_first }}
{% endblock %}
{% block content %}
    <div class="button-bar">
        <a href="{{ url_for('admin_general_update') }}">{{ _('edit')|uc_first }}</a>
    </div>
    <div class="data-table">
        {% for name, value in general_settings.items() %}
            <div>
                <div>{{ name|uc_first }}</div>
                <div>{{ value }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
