{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}#tab-general">{{ _('admin')|uc_first }}</a>&nbsp;> {{ _('general')|uc_first }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'General'|manual_link }}
    </div>
    {{ form|display_form }}
    {% for field, errors in form.errors.items() %}
        {{ form[field].label }}: {{ ', '.join(errors) }}
    {% endfor %}
{% endblock %}
