{% extends "layout.html" %}
{% block breadcrumb %}{{ [[_('admin'), 'admin_index'], _('general')]|crumb|safe }}{% endblock %}
{% block content %}
    {{ 'General'|manual_link|safe }}
    <div class="button-bar">
        <a href="{{ url_for('admin_general_update') }}">{{ _('edit')|uc_first }}</a>
    </div>
    <div class="data-table">
        {% for name, value in general_settings.items() %}
            <div>
                <div>{{ name|uc_first }}</div>
                <div>{{ value }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
