{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('admin')|uc_first }}
{% endblock %}
{% block content %}
    <div id="admin_index">
        {% for dir, value in writeable_dirs.items() %}
            {% if not value %}
                <span class="error">{{ _('directory not writable')|uc_first }}: {{ dir }}</span><br>
            {% endif %}
        {% endfor %}
        <h1>{{ _('user')|uc_first }}</h1>
        <a href="{{ url_for('user_index') }}">{{ _('list')|uc_first }}</a>
        {% if 'manager'|is_authorized and session['settings']['mail'] %}
            <a href="{{ url_for('admin_newsletter') }}">{{ _('newsletter')|uc_first }}</a>
        {% endif %}

        <h1>{{ _('files')|uc_first }}</h1>
        <a href="{{ url_for('file_index') }}">{{ _('list')|uc_first }}</a>
        {% if 'manager'|is_authorized %}
            <a href="{{ url_for('admin_file') }}">{{ _('settings')|uc_first }}</a>
        {% endif %}

        {% if 'manager'|is_authorized %}
            <h1>{{ _('settings')|uc_first }}</h1>
        {% endif %}
        {% if 'admin'|is_authorized %}
            <a href="{{ url_for('admin_general') }}">{{ _('general')|uc_first }}</a>
            <a href="{{ url_for('admin_mail') }}">{{ _('mail')|uc_first }}</a>
        {% endif  %}
        {% if 'manager'|is_authorized %}
            <a href="{{ url_for('admin_map') }}">{{ _('map')|uc_first }}</a>
            <a href="{{ url_for('content_index') }}">{{ _('content')|uc_first }}</a>
            <a href="{{ url_for('admin_logo') }}">{{ _('logo')|uc_first }}</a>
        {% endif %}

        <h1>{{ _('logs')|uc_first }}</h1>
        <a href="{{ url_for('user_activity') }}">{{ _('activity')|uc_first }}</a>
        {% if 'admin'|is_authorized %}
            <a href="{{ url_for('admin_log') }}">{{ _('system log')|uc_first }}</a>
        {% endif %}

        {% if 'contributor'|is_authorized %}
            <h1>{{ _('data transfer')|uc_first }}</h1>
            <a href="{{ url_for('import_index') }}">{{ _('import')|uc_first }}</a>
            {% if 'manager'|is_authorized %}
                <a href="{{ url_for('export_csv') }}">{{ _('export')|uc_first }} CSV</a>
                <a href="{{ url_for('export_sql') }}">{{ _('export')|uc_first }} SQL</a>
            {% endif %}
            {% if 'admin'|is_authorized %}
                <a href="{{ url_for('sql_index') }}">SQL</a>
            {% endif %}
        {% endif  %}
        {% if 'contributor'|is_authorized %}
            <h1>{{ _('data integrity')|uc_first }}</h1>
            <a href="{{ url_for('admin_orphans') }}">{{ _('orphans')|uc_first }}</a>
            <a href="{{ url_for('admin_check_links') }}">{{ _('check links')|uc_first }}</a>
            <a href="{{ url_for('admin_check_dates') }}">{{ _('check dates')|uc_first }}</a>
            <a href="{{ url_for('admin_check_link_duplicates')}}">{{ _('check link duplicates')|uc_first }}</a>
            <a href="{{ url_for('admin_check_similar')}}">{{ _('check similar names')|uc_first }}</a>
        {% endif %}
    </div>
{% endblock %}
