{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('logo')]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Logo'|manual_link }}
        {% if not form %}
            {{ _('remove logo')|button(url_for('admin_logo', action='remove')) }}
        {% endif %}
    </div>
    {% if form %}
        {{ form|display_form }}
    {% else %}
        <img alt="logo" src="{{ url_for('display_file', filename=filename) }}">
    {% endif %}
{% endblock %}
