{% extends "layout.html" %}
{% block breadcrumb %}{{ [[_('admin'), 'admin_index'], _('logo')]|crumb }}{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Logo'|manual_link|safe }}
        {% if not form %}
            <a class="btn btn-outline-primary btn-sm" href="{{ url_for('admin_logo', action='remove') }}">{{ _('remove logo')|uc_first }}</a>
        {% endif %}
    </div>
    {% if form %}
        {{ form|display_form|safe }}
    {% else %}
        <img alt="logo" src="{{ url_for('display_file', filename=filename) }}">
    {% endif %}
{% endblock %}
