{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('logo')|uc_first }}
{% endblock %}
{% block content %}
    {{ 'Logo'|manual_link|safe }}
    {% if form %}
        {{ form|display_form|safe }}
    {% else %}
        <p>
            <a class="button" href="{{ url_for('admin_logo', action='remove') }}">{{ _('remove logo')|uc_first }}</a>
        </p>
        <img alt="logo" src="{{ url_for('display_file', filename=filename) }}">
    {% endif %}
{% endblock %}
