{% extends "layout.html" %}
{% block breadcrumb %}{{ [[_('admin'), 'admin_index'], _('mail')]|breadcrumb|safe }}{% endblock %}
{% block content %}
    {{ 'Mail'|manual_link|safe }}
    <div class="button-bar">
        <a href="{{ url_for('admin_mail_update') }}">{{ _('edit')|uc_first }}</a>
    </div>
    <div class="data-table">
        {% for name, value in mail_settings.items() %}
            {% set style = 'class ="faded"' if not settings['mail'] else '' %}
            <div {{ style|safe }}>
                <div>{{ name|uc_first }}</div>
                <div>{{ value }}</div>
            </div>
        {% endfor %}
    </div>
    {% if settings['mail'] %}
        {{ form|display_form|safe }}
    {% endif %}
{% endblock %}
