{% extends "layout.html" %}
{% block content %}
    <form id="newsletter-form" name="newsletter_form" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-3">
                {{ form.subject() }}<br><br>
                {{ form.body() }}<br><br>
                {{ form.save(class_=config.CSS.button.primary) }}
            </div>
            <div class="col-5">
                {{ table.display()|safe }}
            </div>
        </div>
    </form>
{% endblock %}
