{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('newsletter')|uc_first }}
{% endblock %}
{% block content %}
    <form id="newsletter-form" name="newsletter_form" method="post">
        {{ form.csrf_token }}
        <div style="float:left;">
            {{ form.subject(class_="required") }}<br><br>
            {{ form.body(class_="required") }}<br>
            {{ form.send }}
        </div>
        <div style="float:left;margin-left:1em;">
            {{ table.display()|safe }}
        </div>
    </form>
{% endblock %}
