{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('orphans')|uc_first }}
{% endblock %}
{% block content %}
{{ 'Data_integrity'|manual_link|safe }}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-orphan">{{ _('orphans')|uc_first }} ({{ tables['orphans'].rows|length|format_number }})</a></li>
        <li><a href="#tab-unlinked">{{ _('unlinked')|uc_first }} ({{ tables['unlinked'].rows|length|format_number }})</a></li>
        <li><a href="#tab-nodes">{{ _('type')|uc_first }} ({{ tables['nodes'].rows|length|format_number }})</a></li>
        <li><a href="#tab-missing-files">{{ _('missing files')|uc_first }} ({{ tables['missing_files'].rows|length|format_number }})</a></li>
        <li><a href="#tab-orphaned-files">{{ _('orphaned files')|uc_first }} ({{ tables['orphaned_files'].rows|length|format_number }})</a></li>
        <li><a href="#tab-circular">{{ _('circular dependencies')|uc_first }} ({{ tables['circular'].rows|length|format_number }})</a></li>
    </ul>
    <div id="tab-orphan">
        {% if tables['orphans'].rows and 'admin'|is_authorized %}
            <div class="button-bar">
                <a onclick="return confirm('{{_('delete orphans')|uc_first }}?')"
                   href="{{ url_for('admin_orphans_delete', parameter='orphans') }}">{{ _('delete orphans')|uc_first }}</a>
            </div>
        {% endif %}
        {% if tables['orphans'].rows %}
            {{ tables['orphans'].display('orphans')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
    <div id="tab-unlinked">
        {% if tables['unlinked'].rows %}
            {{ tables['unlinked'].display('unlinked')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
    <div id="tab-nodes">
        {% if tables['nodes'].rows and 'admin'|is_authorized %}
            <div class="button-bar">
                <a onclick="return confirm('{{_('delete types')|uc_first }}?')"
                   href="{{ url_for('admin_orphans_delete', parameter='types') }}">{{ _('delete types')|uc_first }}</a>
            </div>
        {% endif %}
        {% if tables['nodes'].rows %}
            {{ tables['nodes'].display('nodes')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
    <div id="tab-missing-files">
        {% if tables['missing_files'].rows %}
            {{ tables['missing_files'].display('missing_files')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
    <div id="tab-orphaned-files">
        {% if tables['orphaned_files'].rows and 'admin'|is_authorized %}
            <div class="button-bar">
                <a onclick="return confirm('{{_('delete all files without corresponding entities?')|uc_first }}')"
                   href="{{ url_for('admin_file_delete', filename='all') }}">{{ _('delete all files')|uc_first }}</a>
            </div>
        {% endif %}
        {% if tables['orphaned_files'].rows %}
            {{ tables['orphaned_files'].display('orphaned_files')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
    <div id="tab-circular">
        {% if tables['circular'].rows %}
            {{ tables['circular'].display('circular')|safe }}
        {% else %}
            {{ _('Congratulations, everything looks fine!') }}
        {% endif %}
    </div>
</div>
{% endblock %}
