{% extends "layout.html" %}
{% block title_name %} - {{ _('admin')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {% if category == 'api' %}
        <a href="{{ url_for('admin_index') }}#tab-data">{{ _('admin')|uc_first }}</a>
    {% else %}
        <a href="{{ url_for('admin_index') }}#tab-{{ category }}">{{ _('admin')|uc_first }}</a>
    {% endif %}
    &nbsp;> {{ _(category)|uc_first }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ ('admin/' + category)|manual }}
    </div>
    {{ form|display_form }}
{% endblock %}
