{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('model_index') }}">{{ _('model')|uc_first }}</a>
    > <a href="{{ url_for('class_index') }}">{{ _('classes')|uc_first }}</a>
    > {{ class_.code }}
{% endblock %}
{% block content %}
    <div style="float:left;padding-right:2em;">
        <p>
            <strong>{{ _('info')|uc_first }}</strong>
        </p>
        {{ info|display_info|safe }}
    </div>
    {% if tables['super'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('super')|uc_first }}</strong></p>
            {{ tables['super'].display('super')|safe }}
        </div>
    {% endif %}
    {% if tables['sub'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('subs')|uc_first }}</strong></p>
            {{ tables['sub'].display('sub')|safe }}
        </div>
    {% endif %}
    {% if tables['domains'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('domain for')|uc_first }}</strong></p>
            {{ tables['domains'].display('domains')|safe }}
        </div>
    {% endif %}
    {% if tables['ranges'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('range for')|uc_first }}</strong></p>
            {{ tables['ranges'].display('ranges')|safe }}
        </div>
    {% endif %}
    <div style="clear:both"></div>
    <div class="description">
        <strong>{{ _('description')|uc_first|safe }}</strong>
        <p>{{ class_.comment }}</p>
    </div>
{% endblock %}
