{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('model')|uc_first }}
{% endblock %}
{% block content %}
    <div style="float:left">
        <a href="/static/images/model/openatlas_schema.png">
            <img src="/static/images/model/openatlas_schema.png" style="width:500px" alt="OpenAtlas schema">
        </a>
    </div>
    <div style="float:left;margin-left:1em;">
        <p>
            {{ _('browse')|uc_first }}:
            <a href="{{ url_for('class_index') }}">{{ _('classes')|uc_first }}</a>,
            <a href="{{ url_for('property_index') }}">{{ _('properties')|uc_first }}</a>
        </p>
        <p style="font-weight: bold;">
            {{ _('check for valid links')|uc_first }}
        </p>
        <form method="post">
            {{ form.csrf_token }}
            {% set data = [
                (form.domain.label, form.domain|string + 'domain'|table_select_model(domain)),
                (form.property.label, form.property|string + 'property'|table_select_model(property)),
                (form.range.label, form.range|string + 'range'|table_select_model(range)),
            ] %}
            {{ data|display_info|safe }}
            <input type="submit" value="{{ _('test')|uc_first }}">
        </form>
        {% if test_result %}
            <p style="margin-top:1em;">
                {{ _('result for')|uc_first }}
                {{ test_result['domain']|link|safe }} >
                {{ test_result['property']|link|safe }} >
                {{ test_result['range']|link|safe }}
            </p>
            {% if not test_result['domain_error'] and not test_result['range_error'] %}
                <p>{{ _('valid link')|uc_first }}<br/>
            {% endif %}
            {% if test_result['domain_error'] %}
                <p>
                    <span class="error">{{ _('wrong domain')|uc_first }}</span>
                    {{ test_result['domain']|link|safe }} {{ _('for') }}
                    {{ test_result['property']|link|safe }}
                </p>
            {% endif %}
            {% if test_result['range_error'] %}
                <p>
                    <span class="error">{{ _('wrong range')|uc_first }}</span>
                    {{ test_result['range']|link|safe }} {{ _('for') }}
                    {{ test_result['property']|link|safe }}
                </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
