{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('network')|uc_first }}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/vendor/huebee-2.0.0/huebee.min.css">
    <script src="/static/vendor/huebee-2.0.0/huebee.pkgd.min.js"></script>
    {% if json_data %}
        <link rel="stylesheet" href="/static/css/network.css">
        <script src="/static/vendor/d3-5.5.0/d3-5.5.0.min.js"></script>
        <div style="float:right;">
            <svg></svg>
            <p><a class="button" onclick="saveSvgAsPng(d3.select('svg').node(), 'network.png')">{{ _('download')|uc_first }}</a></p>
        </div>
        <script>
            var graph = {{ json_data|safe }};
            var width = {{ network_params['options']['width'] }};
            var height = {{ network_params['options']['height'] }};
            var charge = {{ network_params['options']['charge'] }};
            var distance = {{ network_params['options']['distance'] }};
        </script>
        <script src="/static/js/network.js"></script>
        <script src="/static/vendor/saveSvgAsPng-1.4.5/saveSvgAsPng.js"></script>
    {% else %}
        <h2 style="float:right;">{{ _('no data to display')|uc_first }}</h2>
    {% endif %}
    <div style="float:left;">
        {{ 'Network_visualization'|manual_link|safe }}
        <form method="post" id="network-form" style="margin-right:1em;">
            {{ form.csrf_token }}
            <h2>{{ _('classes')|uc_first }}</h2>
            <div>
                <div id="classes" style="float:left">
                    <p id="select_all" class="select_all">{{ _('select all')|uc_first }}</p>
                    {% for item in form.classes %}
                        {{ form['color_' + item.data] }} {{ item }} {{ item.label }}<br>
                    {% endfor %}
                </div>
            </div>
            <div style="clear:both;"></div>
            <p>{{ form.orphans }} {{ _('show orphans')|uc_first }}</p>
            <h2>{{ _('links')|uc_first }}</h2>
            <p id="select_all_links" class="select_all">{{ _('deselect all')|uc_first }}</p>
            <div id="links">
                {{ form.properties }}
            </div>
            <h2>{{ _('network options')|uc_first }}</h2>
            {{ form.width }} {{ form.width.label }}<br>
            {{ form.height }} {{ form.height.label }}<br>
            {{ form.charge }} {{ form.charge.label }}<br>
            {{ form.distance }} {{ form.distance.label }}<br>
            <input id="save" name="save" value="{{ _('apply')|uc_first }}" type="submit">
        </form>
    </div>

    <script>
        $("#select_all").click(function() {
            if ($("#classes :checkbox").length == $("#classes :checkbox:checked").length) {
                $("#classes :checkbox").each(function(){this.checked = false;});
                $("#select_all").html('{{ _('select all')|uc_first }}');
            } else {
                $("#classes :checkbox").each(function(){this.checked = true;});
                $("#select_all").html('{{ _('deselect all')|uc_first }}');
            }
        })
        $("#classes :checkbox").change(function() {
            if ($("#classes :checkbox").length == $("#classes :checkbox:checked").length) {
                $("#select_all").html('{{ _('deselect all')|uc_first }}');
            } else {
                $("#select_all").html('{{ _('select all')|uc_first }}');
            }
        });
        $("#select_all_links").click(function() {
            if ($("#links :checkbox").length == $("#links :checkbox:checked").length) {
                $("#links :checkbox").each(function(){this.checked = false;});
                $("#select_all_links").html('{{ _('select all')|uc_first }}');
            } else {
                $("#links :checkbox").each(function(){this.checked = true;});
                $("#select_all_links").html('{{ _('deselect all')|uc_first }}');
            }
        })
        $("#links :checkbox").change(function() {
            if ($("#links :checkbox").length == $("#links :checkbox:checked").length) {
                $("#select_all_links").html('{{ _('deselect all')|uc_first }}');
            } else {
                $("#select_all_links").html('{{ _('select all')|uc_first }}');
            }
        });
    </script>
{% endblock %}
