{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('model_index') }}">{{ _('model')|uc_first }}</a>
    > <a href="{{ url_for('property_index') }}">{{ _('properties')|uc_first }}</a>
    > {{ property.code }}
{% endblock %}
{% block content %}
    <div style="float:left;padding-right:2em;">
        <p>
            <strong>{{ _('info')|uc_first }}</strong>
        </p>
        {{ tables['info']|data_table|safe }}
    </div>
    {% for name, table in tables.items() %}
        {% if table['data']|length > 0 %}
            <div style="float:left;padding-right:2em;">
                <p>
                    <strong>{{ name|uc_first }}</strong>
                </p>
                {{ tables[name]|pager|safe }}
            </div>
        {% endif %}
    {% endfor %}
    <div style="clear:both"></div>
    <div class="description">
        <strong>{{ _('description')|uc_first }}</strong>
        <p>
            {{ property.comment }}
        </p>
    </div>
{% endblock %}
