{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('model_index') }}">{{ _('model')|uc_first }}</a>
    > <a href="{{ url_for('property_index') }}">{{ _('properties')|uc_first }}</a>
    > {{ property.code }}
{% endblock %}
{% block content %}
    <div style="float:left;padding-right:2em;">
        <p><strong>{{ _('info')|uc_first }}</strong></p>
        {{ info|display_info|safe }}
    </div>
    {% if tables['super'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('super')|uc_first }}</strong></p>
            {{ tables['super'].display('super')|safe }}
        </div>
    {% endif %}
    {% if tables['sub'].rows %}
        <div style="float:left;padding-right:2em;">
            <p><strong>{{ _('subs')|uc_first }}</strong></p>
            {{ tables['sub'].display('sub')|safe }}
        </div>
    {% endif %}
    <div style="clear:both"></div>
    <div class="description">
        <strong>{{ _('description')|uc_first }}</strong>
        <p>{{ property.comment }}</p>
    </div>
{% endblock %}
