{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="/model">{{ _('model')|uc_first }}</a> >
    <a href="/model/property">{{ _('properties')|uc_first }}</a> >
    {{ property.code }}
{% endblock %}
{% block body %}
    <div style="float:left;padding-right:2em;">
        <p><strong>{{ _('info')|uc_first }}</strong></p>
        {% set data = [
            {'code': property.code},
            {'name': property.name_translated},
            {'inverse': property.name_inverse_translated},
            {'domain': classes[property.domain_id]|link + ' ' + classes[property.domain_id].get_i18n('name')},
            {'range': classes[property.range_id]|link + ' ' + classes[property.range_id].get_i18n('name')},
        ] %}
        {{ data|data_table()|safe }}
    </div>
    {% for name, table in tables.iteritems() %}
        {% if table['data']|length > 0 %}
            <div style="float:left;padding-right:2em;">
                <p><strong>{{ name|uc_first }}</strong></p>
                {{ tables[name]|pager|safe }}
            </div>
        {% endif %}
    {% endfor %}
    <div style="clear:both"></div>
    <div class="description">
        <strong>{{ _('description')|uc_first }}</strong>
        <p>{{ property.comment_translated }}</p>
    </div>
{% endblock %}
