{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > <a href="{{ url_for('import_index') }}">{{ _('import')|uc_first }}</a>
    > {{ project|link|safe }}
    >
    {% if class_code == 'E18' %}
        {{ 'place'|uc_first }}
    {% elif class_code == 'E33' %}
        {{ 'source'|uc_first }}
    {% else %}
        {{ class_code|get_class_name }}
    {% endif %}
{% endblock %}
{% block content %}
    {{ 'Import'|manual_link|safe }}
    <p>
        {{ _('allowed extensions')|uc_first }}:
        <span style="font-weight: bold;">{{ config['IMPORT_FILE_EXTENSIONS']|join(', ') }}</span> -
        {{ _('example files')|uc_first }}:
        <a href="/static/import/example.csv">example.csv</a>,
        <a href="/static/import/example.xlsx">example.xlsx</a>
    </p>
    {{ form|display_form|safe }}
    {% for item in messages['error'] %}
        <span class="error">{{ _('error')|uc_first }} - {{ item }}</span><br>
    {% endfor %}
    {% for item in messages['warn'] %}
        <span class="error">{{ _('warning')|uc_first }} - {{ item }}</span><br>
    {% endfor %}
    {% if table %}
        <h2>
            {% if imported %}
                {{ _('imported')|uc_first }}
            {% else %}
                {{ _('preview')|uc_first }}
            {% endif %}
        </h2>
        {{ table.display()|safe }}
    {% endif %}
{% endblock %}
