{% if 'manager'|is_authorized %}
<div class="toolbar">
  {{ 'admin/import'|manual|safe }}
  {{ _('edit')|button(url_for('import_project_update', id_=project.id))|safe }}
  {{ _('delete')|button(
    url_for('import_project_delete', id_=project.id),
    onclick="return confirm('" + _('delete %(name)s?', name=project.name)|replace("'", "")|uc_first + "')")|safe }}
</div>
<p>{{ _('new import')|uc_first }}:</p>
<div class="toolbar">
  {{ _('source')|button(url_for('import_data', project_id=project.id, class_='source'))|safe }}
  {% for class_ in g.view_class_mapping.event + g.view_class_mapping.actor %}
    {{ _(class_)|button(url_for('import_data', project_id=project.id, class_=class_))|safe }}
  {% endfor %}
  {{ _('place')|button(url_for('import_data', project_id=project.id, class_='place'))|safe }}
  {{ _('bibliography')|button(url_for('import_data', project_id=project.id, class_='bibliography'))|safe }}
  {{ _('edition')|button(url_for('import_data', project_id=project.id, class_='edition'))|safe }}
</div>
{% endif %}
{{ project.description|description|safe }}
