{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [_('actor')]|crumb|safe }}
{% endblock %}
{% block content %}
    {{ 'Actor'|manual_link|safe }}
    {% if 'contributor'|is_authorized %}
        <div>
            {% for code in config['CLASS_CODES']['actor']%}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('actor_insert', code=code) }}">+ {{ code|get_class_name }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {{ table.display()|safe }}
{% endblock %}
