{% extends 'layout.html' %}
{% block title_name %} - {{ _('actor')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {% if origin %}
        {{ [[_(origin.view_name), origin.view_name + '_index'], origin, '+ ' + g.classes[code].name]|crumb }}
    {% else %}
        {{ [[_('actor'), 'actor_index'], '+ ' + g.classes[code].name]|crumb }}
    {% endif %}
{% endblock %}
{% block content %}
    {{ form|display_form('Person', True if code=='E21' else False, manual_page='menu/actor')|safe }}
{% endblock %}
