{% extends 'layout.html' %}
{% block title_name %}- {{ actor.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('actor'), 'actor_index'], actor, _('edit')]|crumb }}
{% endblock %}
{% block content %}
    {% if modifier %}
        <p class="error">
            {{ _('error modified by %(username)s', username=modifier|safe) }}
        </p>
        <p>
            {{ _('reload')|button(url_for('actor_update', id_=actor.id)) }}
        </p>
    {% endif %}
    {{ form|display_form('', True if actor.class_.code=='E21' else False)|safe }}
{% endblock %}
