{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('actor_index') }}">{{ _('actor')|uc_first }}</a>
    > {{ actor.name }}
{% endblock %}
{% block content %}
<div id="tabs" class="tabs-container">
    <ul>
        <li>
            <a href="#tab-info">{{ _('info')|uc_first }}</a>
        </li>
    </ul>
    <div id="tab-info">
        <div class="button-bar">
            {% if 'editor'|is_authorized: %}
                <a href="{{ url_for('actor_update', id_=actor.id) }}">
                    {{ _('edit')|uc_first }}
                </a>
                <a onclick="return confirm('{{ _('delete')|uc_first }} {{ actor.name.replace('\'', '') }}?')"
                    href="{{ url_for('actor_delete', id_=actor.id) }}">
                    {{ _('delete')|uc_first }}
                </a>
            {% endif %}
            {{ actor.id|bookmark_toggle }}
        </div>
        <h1>{{ actor.name }}</h1>
        {{ data['info']|data_table }}
        {{ actor|print_entity_dates }}
        {% for node in actor.types %}
            {{ node|link }}<br />
        {% endfor %}
        {{ actor|description }}
    </div>
</div>
{% endblock %}
