{% extends "tabs.html" %}
{% block title_name %} - {{ actor.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('actor'), 'actor_index'], actor.name]|crumb }}
{% endblock %}

{% block tab_info %}
    <div class="toolbar">
        {{ 'menu/actor'|manual }}
        {% if 'contributor'|is_authorized %}
            {{ _('edit')|button(url_for('actor_update', id_=actor.id)) }}
            {{ actor|display_delete_link }}
        {% endif %}
        {{ actor.id|bookmark_toggle }}
    </div>
    <h1>{{ actor.name }}</h1>
    <div>
        {{ profile_image_id|display_profile_image }}
        <div style="float:left;">
            {{ tabs.info.info|display_info }}
            {{ actor|note }}
            {{ actor|display_external_references }}
            {{ actor|description }}
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}

{% block content_map %}
    <div class="col-6">
        {% if gis_data %}
            <div id="map" class="map"></div>
            <script src="/static/js/map/map.js"></script>
        {% endif %}
    </div>
{% endblock %}
