{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > <a href="{{ url_for('content_index') }}">{{ _('content')|uc_first }}</a>
    > <a href="{{ url_for('content_view', item=item) }}">{{ _(item)|uc_first }}</a>
    > {{ _('edit')|uc_first }}
{% endblock %}
{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {% for language in languages %}
            <p class="inverse-heading">{{ language|upper }}</p>
            {{ form[language](class='tinymce') }}<br>
        {% endfor %}
        <p>
            <button type="submit">{{ _('save')|uc_first }}</button>
        </p>
    </form>
{% endblock %}
