{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'],
        [_('content'), 'content_index'],
        [_(item), 'content_view', {'item': item}],
        _('edit')]|crumb }}
{% endblock %}
{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {% for language in languages %}
            <p>{{ language|upper }}</p>
            {{ form[language](class='tinymce') }}<br>
        {% endfor %}
        <p>
            <button type="submit">{{ _('save')|uc_first }}</button>
        </p>
    </form>
{% endblock %}
