{% extends "layout.html" %}
{% block title_name %} - {{ _('content')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], [_('content'), 'content_index'], item]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ _('edit')|button(url_for('content_update', item=item)) }}
    </div>
    {% for language, text in content[item].items() %}
        <p>{{ language|upper }}</p>
        <div class="text-preview">{{ text|safe }}</div>
    {% endfor %}
{% endblock %}
