{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > <a href="{{ url_for('content_index') }}">{{ _('content')|uc_first }}</a>
    > {{ _(item)|uc_first }}
{% endblock %}
{% block content %}
    <div class="button-bar">
        <a href="{{ url_for('content_update', item=item) }}">{{ _('edit')|uc_first }}</a>
    </div>
    {% for language, text in content[item].items() %}
        <p class="inverse-heading">{{ language|upper }}</p>
        <div class="text-preview">{{ text|safe }}</div>
    {% endfor %}
{% endblock %}
