{% extends "layout.html" %}
{% block title_name %} - {{ _('export SQL')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('export SQL')]|crumb }}
{% endblock %}
{% block content %}
    <div class="toolbar">
        {{ 'Export'|manual_link }}
    </div>
    {% if writeable %}
        {{ form|display_form }}
    {% else %}
        <p><span class="error">{{ _('directory not writable')|uc_first }}: export/sql</span></p>
    {% endif %}
    {{ table.display()|safe }}
{% endblock %}
