{% extends "layout.html" %}
{% block breadcrumb %}
    {{ [[_('admin'), 'admin_index'], _('export CSV')]|crumb }}
{% endblock %}
{% block content %}
    {% if writeable %}
        <div style="float:left;margin-right: 1em;">
            {{ 'Export'|manual_link }}
            {{ form|display_form }}
        </div>
    {% else %}
        <p><span class="error">{{ _('directory not writable')|uc_first }}: export/csv</span></p>
    {% endif %}
    <div style="float:left;">{{ table.display()|safe }}</div>
{% endblock %}
