<div class="mb-2 row">

  <label class="col-sm-1 mr-1 col-form-label text-sm-end" style="min-width: 160px">
    {% if label is string %}
      {{ label|safe }}
    {% else %}
      {{ field.label|safe }}
    {% endif %}
    {{ field.description|tooltip|safe }}
  </label>
  <div class="col d-flex flex-column justify-content-center ">
   {% if value %}
      {{ value|safe }}
    {% else %}
      {{ field(class_=field_css)|safe }}
    {% endif %}
    {% if field.errors %}
      <span class="error">
        {% for error in field.errors %}
          {{ error|uc_first }}
        {% endfor %}
      </span>
    {% endif %}
  </div>
</div>
