<input
    id="{{ field.id }}-button"
    name="{{ field.id }}-button"
    type="text"
    class="table-select {% if field.flags.required %}required{% endif %}"
    onfocus="this.blur()"
    onclick="$('#{{ field.id }}-modal').modal('show')"
    readonly="readonly"
    value="{{ selection|safe }}"
    placeholder="{{ _('change')|uc_first }}">
<a
    href="#"
    id="{{ field.id }}-clear"
    {% if not selection %}style="display: none;"{% endif %}
    class="{{ config.CSS.button.secondary }}"
    onclick="clearSelect('{{ field.id }}');">
        {{ _('clear')|uc_first }}
</a>
<div
    id="{{ field.id }}-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ g.nodes[field.id|int].name|uc_first }}
                </h5>
                <button
                    type="button"
                    class="{{ config.CSS.button.primary }}"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input
                    class="tree-filter"
                    id="{{ field.id }}-tree-search"
                    placeholder="{{ _('type to search')|uc_first }}"
                    type="text">
                <div id="{{ field.id }}-tree" style="text-align: left!important;"></div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="{{ config.CSS.button.primary }}"
                    data-dismiss="modal">
                        {{ _('close')|uc_first }}
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#{{ field.id }}-tree").jstree({
        "plugins" : ["search"],
        "core" : {"check_callback": true, "data": {{ data|safe }} },
        "search": {
            "case_insensitive": true,
            "show_only_matches": true,
            "show_only_matches_children": true},
    });
    $("#{{ field.id }}-tree").on("select_node.jstree", function (e, data) {
        selectFromTree("{{ field.id }}", data.node.id, data.node.text);
    });
    $("#{{ field.id }}-tree-search").keyup(function() {
        if (this.value.length >= {{ session.settings.minimum_jstree_search }}) {
            $("#{{ field.id }}-tree").jstree("search", $(this).val());
        }
        else if (this.value.length == 0) {
            $("#{{ field.id }}-tree").jstree("search", $(this).val());
            $("#{{ field.id }}-tree").jstree(true).show_all();
        }
    });
</script>
