<div class="row g-1">
  <div class="col" style="padding-top: 4px; padding-left: 4px">
    <div
        id="{{ field.id }}-selection"
        class="g-1 row {{ config.CSS.string_field }}"
        onclick="$('#{{ field.id }}-modal').modal('show')"
    >
      {% for s in selection %}
        <div onclick="event.stopPropagation()" class="badge col-auto bg-gray">
          <div class="d-flex align-items-center">
            <span class="text-black">{{ g.types[s].name }}</span>
            <button
                onclick="deselectNode('{{ field.id }}',{{ s }})"
                type="button"
                class="btn-close p-0 ms-1"
                aria-label="Close"
            ></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-auto">
    <span
        id="{{ field.id }}-button"
        class="{{ config.CSS.button.secondary }} uc-first"
        onclick="$('#{{ field.id }}-modal').modal('show')"
        tabindex="0">{{ _('change') }}
    </span>
  </div>
</div>

<div
    id="{{ field.id }}-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ root.name|uc_first }}</h5>
        <button
            type="button"
            class="{{ config.CSS.button.primary }}"
            data-bs-dismiss="modal"
            aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="d-flex">
          <input
              class="tree-filter {{ config.CSS.string_field }}"
              id="{{ field.id }}-tree-search"
              placeholder="{{ _('type to search')|uc_first }}"
              type="text">
          {% if field.form %}
            <button type="button" id="add-{{ type }}--{{ field.id }}"
                    class="btn-outline-primary btn text-nowrap ms-1"
                    data-bs-toggle="modal"
                    data-bs-target="#add-type-modal-{{ field.id }}">
              + {{ root.name }}
            </button>
          {% endif %}
        </div>
        <div id="{{ field.id }}-tree" style="text-align: left!important;"></div>
      </div>
      <div class="modal-footer">
        <button
            type="button"
            class="{{ config.CSS.button.primary }}"
            data-bs-dismiss="modal"
            onclick="selectFromTreeMulti({{ field.id }})">
          {{ _('close')|uc_first }}
        </button>
      </div>
    </div>
  </div>
</div>
{% if field.form %}
  <div
      class="modal fade"
      id="add-type-modal-{{ field.id }}"
      tabindex="-1"
      aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> {{ _('Add Type to %(hierarchy)s', hierarchy= root.name|safe) }} </h5>
          <button
              type="button"
              class="{{ config.CSS.button.primary }}"
              data-bs-dismiss="modal"
              aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ field.form|display_form()|safe }}
        </div>
        <div class="modal-footer">
          <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-bs-dismiss="modal"
              onclick="$('#{{ field.id }}-modal').modal('show')">{{ _('back')|uc_first }}</button>
          <button
              id="{{ field.id }}-add-type"
              disabled type="button"
              class="btn btn-outline-primary btn-sm">{{ _('insert')|uc_first }}</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      $("#add-type-modal-{{field.id}} #name-dynamic").on('keyup change', function () {
          if ($(this).val() === '')
              $('#{{field.id}}-add-type').attr('disabled', '')
          else
              $('#{{field.id}}-add-type').removeAttr('disabled')
      });

      $('#{{field.id}}-add-type').on('click', async function (e) {
          $(this).prop("disabled", true).text('{{ _("in progress") }}');
          const name = $("#add-type-modal-{{field.id}} #name-dynamic").val();
          const superType = $("#{{field.id}}-dynamic").val() ||{{field.type_id}};
          const description = $("#add-type-modal-{{field.id}} #description-dynamic").val();
          const data = {name, superType, description};
          const typeId = await ajaxAddType(data, {{field.id}}, {{field.type_id}}, true);
          $(`#{{field.type_id}}-modal`).modal('show');
          $(this).prop("disabled", false).text('{{ _('insert')|uc_first }}');
          e.preventDefault();
      });
  </script>
{% endif %}
<script>
    $('#{{ field.id }}-button')
        .on('keydown', function (event) {
            if (onActivateKeyInput(event))
                $('#{{ field.id }}-modal').modal('show')
        });

    $("#{{ field.id }}-tree").jstree({
        "core": {"check_callback": true, "data": {{ data|safe }}},
        "plugins": ["search", "checkbox"],
        "checkbox": {"three_state": false},
        "search": {
            "case_insensitive": true,
            "show_only_matches": true,
            "show_only_matches_children": true
        }
    });
    $("#{{ field.id }}-tree-search").keyup(function () {
        if (this.value.length >= {{ g.settings.minimum_jstree_search }}) {
            $("#{{ field.id }}-tree").jstree("search", $(this).val());
        } else if (this.value.length == 0) {
            $("#{{ field.id }}-tree").jstree("search", $(this).val());
            $("#{{ field.id }}-tree").jstree(true).show_all();
        }
    });

    $("#{{ field.id }}-modal").on("hidden.bs.modal", function (e) {
        selectFromTreeMulti({{ field.id }});
    })
</script>
