{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('file_index') }}">{{ _('files')|uc_first }}</a>
{% endblock %}
{% block content %}
    {% if 'editor'|is_authorized: %}
        <div class="button-bar">
            <a href="{{ url_for('file_insert') }}">+ {{ _('file')|uc_first }}</a>
        </div>
    {% endif %}
    {{ _('total disk space')|uc_first }} <strong>{{ disk_space_values.total }}</strong> -
    {{ _('free disk space')|uc_first }} <strong>{{ disk_space_values.free }}</strong>
    <div id="disk_size"></div>
    <script>
        $( function() {
            $("#disk_size").progressbar({value: {{ disk_space_values.percent }} });
        });
    </script>
    {{ table|pager|safe }}
{% endblock %}
