{% extends "layout.html" %}
{% block title_name %} - {{ _('file')|uc_first }}{% endblock %}
{% block breadcrumb %}
    {% if origin %}
        {{ [[_(origin.view_name), origin.view_name + '_index'], origin, '+ ' + _('file')|uc_first]|crumb }}
    {% else %}
        {{ [[_('files'), 'file_index'], '+ ' + _('file')|uc_first]|crumb }}
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        {{ _('max size')|uc_first }}:
        <span style="font-weight: bold;">{{ session['settings']['file_upload_max_size'] }} MB</span>.
        {{ _('if exceeded you will receive a connection error')|uc_first }}.
        {{ _('allowed extensions')|uc_first }}:
        <span style="font-weight: bold;">{{ ', '.join(session['settings']['file_upload_allowed_extension']) }}</span>
    </p>
    {% if writeable %}
        {{ form|display_form(manual_page='tools/file') }}
    {% else %}
        <span class="error">{{ _('directory not writable')|uc_first }}</span>
    {% endif %}
{% endblock %}
