{% extends "layout.html" %}
{% block breadcrumb %}
    {% if origin %}
        {{ [[_(origin.view_name), origin.view_name + '_index'], origin, '+ ' + _('file').capitalize()]|crumb }}
    {% else %}
        {{ [[_('files'), 'file_index'], '+ ' + _('file').capitalize()]|crumb }}
    {% endif %}
{% endblock %}
{% block content %}
    <p>
        {{ _('max size')|uc_first }}:
        <span style="font-weight: bold;">{{ session['settings']['file_upload_max_size'] }} MB</span>.
        {{ _('if exceeded you will receive a connection error')|uc_first }}.
        {{ _('allowed extensions')|uc_first }}:
        <span style="font-weight: bold;">{{ session['settings']['file_upload_allowed_extension'] }}</span>
    </p>
    {% if writeable %}
        {{ form|display_form('file-form')|safe }}
    {% else %}
        <span class="error">{{ _('directory not writable')|uc_first }}</span>
    {% endif %}
{% endblock %}
