{% extends "layout.html" %}
{% block breadcrumb %}
    {% if origin %}
        <a href="{{ origin|get_view_name + '_index' }}">{{ _(origin|get_view_name)|uc_first }}</a>
        > {{ origin|link|safe }}
    {% else %}
        <a href="{{ url_for('file_index') }}">{{ _('files')|uc_first }}</a>
    {% endif %}
    > + {{ _('file')|uc_first }}
{% endblock %}
{% block content %}
    <p>
        {{ _('max size')|uc_first }}:
        <span style="font-weight: bold;">{{ session['settings']['file_upload_max_size'] }} MB </span>
        - {{ _('if exceeded you will receive a connection error')|uc_first }}.
    </p>
    <p>
        {{ _('allowed extensions')|uc_first }}:
        <span style="font-weight: bold;">{{ session['settings']['file_upload_allowed_extension'] }}</span>
    </p>
    {{ form|display_form('file-form')|safe }}
{% endblock %}
