{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('file_index') }}">{{ _('files')|uc_first }}</a>
    > {{ entity.name|truncate_string|safe }}
{% endblock %}
{% block content %}
    <div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-info">{{ _('info')|uc_first }}</a></li>
        <li><a href="#tab-source">{{ _('source')|uc_first }} {{ tables['source']|format_tab_number|safe }}</a></li>
        <li><a href="#tab-event">{{ _('event')|uc_first }} {{ tables['event']|format_tab_number|safe }}</a></li>
        <li><a href="#tab-actor">{{ _('actor')|uc_first }} {{ tables['actor']|format_tab_number|safe }}</a></li>
        <li><a href="#tab-place">{{ _('place')|uc_first }} {{ tables['place']|format_tab_number|safe }}</a></li>
        {% for table_name in ['feature', 'stratigraphic-unit', 'find'] %}
            {% if tables[table_name].rows %}
                <li><a href="#tab-{{ table_name }}">{{ _(table_name)|uc_first }} {{ tables[table_name]|format_tab_number|safe }}</a></li>
            {% endif %}
        {% endfor %}
        <li><a href="#tab-reference">{{ _('reference')|uc_first }} {{ tables['reference']|format_tab_number|safe }}</a></li>
    </ul>
    <div id="tab-info">
        <div class="button-bar">
            {% if 'contributor'|is_authorized %}
                <a href="{{ url_for('file_update', id_=entity.id) }}">{{ _('edit')|uc_first }}</a>
                {{ entity|display_delete_link|safe }}
            {% endif %}
            {{ entity.id|bookmark_toggle|safe }}
            {% if missing_file %}
                <span class="error">{{ _('missing file')|uc_first }}!</span>
            {% else %}
                <a href="{{ url_for('download_file', filename=filename) }}">{{ _('download')|uc_first }}</a>
            {% endif %}
        </div>
        <h1>{{ entity.name }}</h1>
        <div>
            <div style="float:left;">
                {{ info|display_info|safe }}
            </div>
            <div class="preview" style="float:left;">
                {% if preview %}
                    <a href="{{ url_for('display_file', filename=filename) }}" target="_blank">
                        <img alt="{{ filename }}" src="{{ url_for('display_file', filename=filename) }}">
                    </a>
                {% elif not missing_file %}
                    {{ _('no preview available')|uc_first }}
                {% endif %}
            </div>
        </div>
        <div style="clear:both;"></div>
        {{ entity|description|safe }}
    </div>
    <div id="tab-source">
        {% if 'contributor'|is_authorized %}
            <div class="button-bar">
                <a href="{{ url_for('file_add', id_=entity.id, class_name='source')}}">{{ _('add')|uc_first }}</a>
                <a href="{{ url_for('source_insert', origin_id=entity.id) }}">+ {{ _('source')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['source'].display('source')|safe }}
    </div>
    {% for name in ['event', 'actor', 'place', 'feature', 'stratigraphic-unit', 'find'] %}
        {% if name not in ['feature', 'stratigraphic-unit', 'find'] or tables[name].rows %}
            <div id="tab-{{name}}">
                {% if 'contributor'|is_authorized and name not in ['feature', 'stratigraphic-unit', 'find'] %}
                    <div class="button-bar">
                        <a href="{{ url_for('file_add', id_=entity.id, class_name=name)}}">{{ _('add')|uc_first }}</a>
                        {% if name == 'place' %}
                            <a href="{{ url_for('place_insert', origin_id=entity.id) }}">+ {{ _('place')|uc_first }}</a>
                        {% else %}
                            {% for code in config['CLASS_CODES'][name]%}
                                <a href="{{ url_for(name + '_insert', code=code, origin_id=entity.id) }}">+ {{ code|get_class_name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                {{ tables[name].display(name)|safe }}
            </div>
        {% endif %}
    {% endfor %}
    <div id="tab-reference">
        {% if 'contributor'|is_authorized %}
            <div class="button-bar">
                <a href="{{ url_for('file_add_reference', id_=entity.id)}}">{{ _('add')|uc_first }}</a>
                <a href="{{ url_for('reference_insert', code='bibliography', origin_id=entity.id) }}">+ {{ _('bibliography')|uc_first }}</a>
                <a href="{{ url_for('reference_insert', code='edition', origin_id=entity.id) }}">+ {{ _('edition')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['reference'].display('reference')|safe }}
    </div>
</div>
{% endblock %}
