{% extends "tabs.html" %}
{% block title_name %} - {{ entity.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('files'), 'file_index'], entity.name]|crumb }}
{% endblock %}
{% block tab_info %}
    <div class="toolbar">
        {{ 'tools/file'|manual }}
        {% if 'contributor'|is_authorized %}
            {{ _('edit')|button(url_for('file_update', id_=entity.id)) }}
            {{ entity|display_delete_link }}
        {% endif %}
        {{ entity.id|bookmark_toggle }}
        {% if missing_file %}
            <span class="error">{{ _('missing file')|uc_first }}!</span>
        {% else %}
            {{ _('download')|button(url_for('download_file', filename=filename)) }}
        {% endif %}
    </div>
    <h1>{{ entity.name }}</h1>
    <div>
        <div style="float:left;">
            {{ info|display_info }}
        </div>
        <div class="preview" style="float:left;">
            {% if preview %}
                <a href="{{ url_for('display_file', filename=filename) }}" rel="noopener noreferrer" target="_blank">
                    <img alt="{{ filename }}" src="{{ url_for('display_file', filename=filename) }}">
                </a>
            {% elif not missing_file %}
                {{ _('no preview available')|uc_first }}
            {% endif %}
        </div>
    </div>
    <div style="clear:both;"></div>
    {{ entity|description }}
{% endblock %}
