{% extends "layout.html" %}
{% block title_name %} - {{ translation.name }}{% endblock %}
{% block breadcrumb %}
    {{ [[_('source'), 'source_index'], source, translation.name]|crumb }}
{% endblock %}
{% block content %}
    {% if 'contributor'|is_authorized %}
        <div class="toolbar">
            {{ _('edit')|button(url_for('translation_update', id_=translation.id)) }}
            {{ _('delete')|button(url_for('translation_delete', id_=translation.id, source_id=source.id),
                                  onclick="return confirm('" + _('delete')|uc_first + " " + translation.name.replace('"', '').replace("'", '') + "?');") }}
        </div>
    {% endif %}
    <h1>{{ translation.name }}</h1>
    {{ info|display_info }}
    {{ translation|description }}
{% endblock %}
