{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('source_index') }}">{{ _('source')|uc_first }}</a>
    > {{ source|link|safe }}
    > {{ translation.name|truncate_string|safe }}
{% endblock %}
{% block content %}
<div class="button-bar">
    {% if 'contributor'|is_authorized %}
        <a href="{{ url_for('translation_update', id_=translation.id) }}">
            {{ _('edit')|uc_first }}
        </a>
        <a onclick="return confirm('{{ _('delete')|uc_first }} {{ translation.name.replace('\'', '') }}?')"
           href="{{ url_for('translation_delete', id_=translation.id, source_id=source.id) }}">
            {{ _('delete')|uc_first }}
        </a>
    {% endif %}
</div>
<h1>{{ translation.name }}</h1>
{{ info|display_info|safe }}
{{ translation|description|safe }}
{% endblock %}
