{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('admin_index') }}">{{ _('admin')|uc_first }}</a>
    > {{ _('settings')|uc_first }}
{% endblock %}
{% block content %}
    <div class="button-bar">
        <a href="{{ url_for('settings_update') }}">{{ _('edit')|uc_first }}</a>
    </div>
    <div id="tabs" class="tabs-container">
        <ul>
            {% for group in groups %}
                <li><a href="#tab-{{ group }}">{{ group|uc_first }}</a></li>
            {% endfor %}
        </ul>
        {% for group, items in groups.items() %}
            <div id="tab-{{ group }}">
                <div class="data-table">
                    {% for name, value in items.items() %}
                        {% set style = 'class ="faded"' if group == 'mail' and not settings['mail'] else '' %}
                        <div {{ style|safe }}>
                            <div>{{ name|uc_first }}</div>
                            <div>{{ value }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% if settings['mail'] and group == 'mail' %}
                    {{ form|display_form|safe }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
