{% set data = [
    {form.name.label|string + ' *': form.name(class_="required")},
] %}
<form method="post" id="place-form">
    {{ form.csrf_token }}
    {{ form.continue_ }}
    {{ data|data_table }}
    {{ form.description.label }}<br />
    {{ form.description }}<br />
    {% if not place %}
        <button type="submit">{{ _('insert')|uc_first }}</button>
        <button type="submit" onclick="$('#continue_').val('yes');$('#place-form').submit();return false;">
            {{ _('insert and continue')|uc_first }}
        </button>
    {% else %}
        <button type="submit">{{ _('save')|uc_first }}</button>
    {% endif %}
</form>
