{% extends "layout.html" %}
{% block breadcrumb %}
    {{ _('place')|uc_first }}
{% endblock %}
{% block content %}
    <div style="float:left;">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('place_insert') }}">+ {{ _('place')|uc_first }}</a>
            </div>
        {% endif %}
        {{ table|pager|safe }}
    </div>
    {% if gis_data %}
        <div id="map" class="map"></div>
        <script src="/static/js/map.js"></script>
    {% endif %}
{% endblock %}
