{% extends 'layout.html' %}
{% block breadcrumb %}
    {% if origin %}
        <a href="{{ url_for(origin.view_name + '_index') }}">{{ _(origin.view_name)|uc_first }}</a>
        {{ '> ' + place|link|safe if place else '' }}
        {{ '> ' + feature|link|safe if feature else '' }}
        > {{ origin|link|safe }}
    {% else %}
        <a href="{{ url_for('place_index') }}">{{ _('place')|uc_first }}</a>
    {% endif %}
    > + {{ _(title)|uc_first }}
{% endblock %}
{% block content %}
    {% include "place/map_draw.html" %}
{% endblock %}
