{% extends 'layout.html' %}
{% block breadcrumb %}
    {% if origin %}
        <a href="{{ url_for(origin.view_name + '_index') }}">{{ _(structure['place'].view_name)|uc_first }}</a>
        {{ '> ' + structure['feature']|link|safe if structure['feature'] else '' }}
        {{ '> ' + structure['stratigraphic_unit']|link|safe if structure['stratigraphic_unit'] else '' }}
        > {{ origin|link|safe }}
    {% else %}
        <a href="{{ url_for('place_index') }}">{{ _('place')|uc_first }}</a>
    {% endif %}
    > + {{ _(title)|uc_first }}
{% endblock %}
{% block content %}
    {% include "place/map_draw.html" %}
{% endblock %}
