{% extends 'layout.html' %}
{% block breadcrumb %}
    {% if origin %}
        {{ [[origin.view_name, origin.view_name + '_index'],
            structure['place'] if structure['place'].id != origin.id else None,
            structure['feature'],
            structure['stratigraphic_unit'],
            origin,
            '+ ' + _(title).capitalize()]|crumb|safe }}
    {% else %}
        {{ [[_('place'), 'place_index'], '+ ' + _(title).capitalize()]|crumb|safe }}
    {% endif %}
{% endblock %}
{% block content %}
    {% include "place/map_draw.html" %}
{% endblock %}
