{% extends 'layout.html' %}
{% block breadcrumb %}
    <a href="{{ url_for('place_index') }}">{{ _('place')|uc_first }}</a>
    {{ '> ' + place|link|safe if place else '' }}
    {{ '> ' + feature|link|safe if feature else '' }}
    {{ '> ' + stratigraphic_unit|link|safe if stratigraphic_unit else '' }}
    > {{ object_|link|safe }}
    > {{ _('edit')|uc_first }}
{% endblock %}
{% block content %}
    {% if modifier %}
        <p class="error">{{ _('error modified by %(username)s', username=modifier|safe) }}</p>
        <p><a class="button" href="{{ url_for('place_update', id_=object_.id) }}">{{ _('reload')|uc_first }}</a></p>
    {% endif %}
    <script>
        map_update_mode = true;
    </script>
    {% include "place/map_draw.html" %}
{% endblock %}
