{% extends 'layout.html' %}
{% block breadcrumb %}
    <a href="{{ url_for('place_index') }}">{{ _('place')|uc_first }}</a>
    > {{ object_|link|safe }}
    > {{ _('edit')|uc_first }}
{% endblock %}
{% block content %}
    {% if modifier %}
        <p class="error">{{ _('error modified by %(username)s', username=modifier|safe) }}</p>
        <p><a class="button" href="{{ url_for('place_update', id_=object_.id) }}">{{ _('reload')|uc_first }}</a></p>
    {% endif %}
    <div id='map-info-display' style="float:left;">
        {{ form|display_form|safe }}
    </div>
    <div id="map" class="map"></div>
    <script src="/static/js/leaflet/map.js"></script>
    <script src="/static/js/leaflet/draw/leaflet.draw.js"></script>
    <script src="/static/js/leaflet/shapedraw.js"></script>
    <script src="/static/js/leaflet/draw/edithandler.js"></script>
{% endblock %}
