{% extends 'layout.html' %}
{% block title_name %}- {{ object_.name }}{% endblock %}
{% block breadcrumb %}
    {{ [['place', 'place_index'],
        structure.place,
        structure.feature,
        structure.stratigraphic_unit,
        object_,
        _('edit')]|crumb }}
{% endblock %}
{% block content %}
    {% if modifier %}
        <p class="error">
            {{ _('error modified by %(username)s', username=modifier|safe) }}
        </p>
        <div class="toolbar">
            {{ _('reload')|button(url_for('place_update', id_=object_.id)) }}
        </div>
    {% endif %}
    <script>
        map_update_mode = true;
    </script>
    {% include "place/map_draw.html" %}
{% endblock %}
