{% extends "layout.html" %}
{% block breadcrumb %}
    <a href="{{ url_for('place_index') }}">{{ _('place')|uc_first }}</a>
    > {{ object_.name|truncate_string|safe }}
{% endblock %}
{% block content %}
<div id="tabs" class="tabs-container">
    <ul>
        <li><a href="#tab-info">{{ _('info')|uc_first }}</a></li>
        <li><a href="#tab-source">{{ _('sources')|uc_first }} ({{ tables['source']['data']|length }})</a></li>
    </ul>
    <div id="tab-info">
        <div class="button-bar">
            {{ object_|page_buttons|safe }}
            {% if 'editor'|is_authorized: %}
                <a href="{{ url_for('place_update', id_=object_.id) }}">
                    {{ _('edit')|uc_first }}
                </a>
                {{ delete_link|safe }}
            {% endif %}
            {{ object_.id|bookmark_toggle|safe }}
        </div>
        <h1>{{ object_.name }}</h1>
        {{ tables['info']|data_table|safe }}
        {{ object_|description|safe }}
    </div>
    <div id="tab-source">
        {% if 'editor'|is_authorized: %}
            <div class="button-bar">
                <a href="{{ url_for('source_add', origin_id=object_.id)}}">{{ _('add')|uc_first }}</a>
                <a href="{{ url_for('source_insert', origin_id=object_.id) }}">+ {{ _('source')|uc_first }}</a>
            </div>
        {% endif %}
        {{ tables['source']|pager|safe }}
    </div>
</div>
{% endblock %}
